Repository Automattic/themes, pull requests merged in 2019-09, with the labels that each got.

#1364 Full Site Editing: Update Navigation Menu style on Varia and Maywood
  maywood/sass/_full-site-editing-editor.scss
  maywood/sass/_full-site-editing.scss
  maywood/sass/style-child-theme-editor.scss
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
  varia/sass/full-site-editing/_editor.scss
  varia/sass/full-site-editing/_imports.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
  varia/style.scss
Labels: enhancement

#1371 Full Site Editing / Varia, Maywood: Adjust the Content block vertical margins
  maywood/sass/_full-site-editing-editor.scss
  maywood/style-editor.css
  varia/sass/full-site-editing/_editor.scss
  varia/style-editor.css
Labels: enhancement

#1379 Full Site Editing / Varia, Maywood: Let the Editor Align the Footer Blocks
  maywood/sass/_full-site-editing.scss
  maywood/style-rtl.css
  maywood/style.css
  varia/sass/full-site-editing/_imports.scss
  varia/style.css
Labels: enhancement

#1381 Full Site Editing / Maywood: Add responsive style to the FSE blocks
  maywood/sass/_full-site-editing-editor.scss
  maywood/style-editor.css
  varia/style-rtl.css
Labels: enhancement

#1398 Full Site Editing / Varia, Maywood: Update the navigation menu
  maywood/sass/_full-site-editing-editor.scss
  maywood/sass/_full-site-editing.scss
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
  varia/sass/full-site-editing/_editor.scss
  varia/sass/full-site-editing/_imports.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: bug

#1399 Full Site Editing / Varia, Maywood: Center the site info
  maywood/style-rtl.css
  maywood/style.css
  varia/sass/full-site-editing/_imports.scss
  varia/style-rtl.css
  varia/style.css
Labels: enhancement

#1369 Varia: Overwrite Jetpack's default styles for the Cookies & Consents Banner
  varia/sass/vendors/_jetpack.scss
  varia/style-rtl.css
  varia/style.css
Labels: enhancement, varia

#1403 Varia: Fixes spacing issues in fullwidth images on mobile screens
  alves/sass/_extra-child-theme.scss
  alves/style-rtl.css
  alves/style.css
  balasana/style-rtl.css
  balasana/style.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  exford/style-rtl.css
  exford/style.css
  hever/sass/_extra-child-theme.scss
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-rtl.css
  maywood/style.css
  morden/sass/_extra-child-theme.scss
  morden/style-rtl.css
  morden/style.css
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style-rtl.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/abstracts/_responsive-logic.scss
  varia/sass/blocks/utilities/_style.scss
  varia/style-rtl.css
  varia/style.css
Labels: [Pri] Normal, bug, in-progress, varia

#1217 Varia: Fix Mobile `.alignwide` widths to match normal width
  alves/sass/_extra-child-theme.scss
  alves/style-rtl.css
  alves/style.css
  hever/sass/_extra-child-theme.scss
  hever/style-rtl.css
  hever/style.css
  morden/sass/_extra-child-theme.scss
  morden/style-rtl.css
  morden/style.css
  varia/sass/abstracts/_responsive-logic.scss
  varia/style-rtl.css
  varia/style.css
Labels: [Pri] Normal, enhancement, needs testing, varia

#1418 Varia, Maywood: Fix FSE blocks style when inside a Cover block
  maywood/sass/_extra-child-theme.scss
  maywood/sass/_full-site-editing-editor.scss
  maywood/sass/_full-site-editing.scss
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
  varia/sass/full-site-editing/_editor.scss
  varia/style-editor.css
Labels: bug, varia

#1249 Barnsbury: A Refresh of the Friendly Business theme
  barnsbury/functions.php
  barnsbury/package-lock.json
  barnsbury/package.json
  barnsbury/postcss.config.js
  barnsbury/print.css
  barnsbury/sass/_config-child-theme-deep.scss
  barnsbury/sass/_extra-child-theme.scss
  barnsbury/sass/print.scss
  barnsbury/sass/style-child-theme-editor.scss
  barnsbury/sass/style-child-theme.scss
  barnsbury/screenshot.png
  barnsbury/style-editor.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  barnsbury/template-parts/header/site-branding.php
Labels: [Pri] Normal, in-progress, varia

#1264 Dalston: Add new theme to repo
  dalston/block-extends/extend-columns-block.css
  dalston/block-extends/extend-columns-block.js
  dalston/block-extends/extend-cover-block.css
  dalston/block-extends/extend-cover-block.js
  dalston/block-extends/extend-media-text-block.css
  dalston/block-extends/extend-media-text-block.js
  dalston/footer.php
  dalston/functions.php
  dalston/header.php
  dalston/inc/headstart/en.json
  dalston/package-lock.json
  dalston/package.json
  dalston/postcss.config.js
  dalston/print.css
  dalston/sass/_config-child-theme-deep.scss
  dalston/sass/_config-child-theme.scss
  dalston/sass/_extra-child-theme.scss
  dalston/sass/print.scss
  dalston/sass/style-child-theme-editor.scss
  dalston/sass/style-child-theme.scss
  dalston/screenshot.png
  dalston/style-editor.css
  dalston/style-rtl.css
  dalston/style.css
  dalston/template-parts/header/site-branding.php
Labels: [Pri] Normal, in-progress

#1439 Varia: Fix privacy policy positioning
  varia/footer.php
Labels: bug, varia
