Repository Automattic/themes, pull requests merged in 2019-11, with the labels that each got.

#1638 Dalston: Fix Hover Reveal Cover Block Style to work with gradients.
  dalston/block-extends/extend-cover-block.css
Labels: bug

#1517 Full Site Editing: Stop using theme classes for template parts
  maywood/sass/_extra-child-theme.scss
  maywood/sass/_full-site-editing-editor.scss
  maywood/sass/_full-site-editing.scss
  maywood/sass/style-child-theme.scss
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
  varia/footer.php
  varia/header.php
  varia/sass/full-site-editing/_editor.scss
  varia/sass/full-site-editing/_imports.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: varia

#1640 Balasana: Revert menu display on mobile.
  balasana/sass/_extra-child-theme.scss
  balasana/sass/style-child-theme-woocommerce.scss
  balasana/style-rtl.css
  balasana/style-woocommerce-rtl.css
  balasana/style-woocommerce.css
  balasana/style.css
Labels: bug, varia

#1641 Bump Varia to 1.5.0 and Maywood to 1.4.0
  maywood/languages/maywood.pot
  maywood/package-lock.json
  maywood/package.json
  maywood/sass/style-child-theme.scss
  maywood/style-rtl.css
  maywood/style.css
  varia/package-lock.json
  varia/package.json
  varia/style-rtl.css
  varia/style.css
  varia/style.scss
Labels: varia

#1654 Varia, Maywood: Fix FSE Navigation Menu width when alignwide or alignfull
  maywood/style-editor.css
  maywood/style.css
  varia/sass/full-site-editing/_editor.scss
  varia/sass/full-site-editing/_imports.scss
  varia/style-editor.css
  varia/style.css
Labels: varia

#1649 Exford: Add Full Site Editing Support
  exford/functions.php
  exford/sass/_full-site-editing-editor.scss
  exford/sass/_full-site-editing.scss
  exford/sass/style-child-theme-editor.scss
  exford/sass/style-child-theme.scss
  exford/style-editor.css
  exford/style-rtl.css
  exford/style.css
  shawburn/sass/_full-site-editing.scss
Labels: varia

#1650 Shawburn: Add Full Site Editing Support
  shawburn/functions.php
  shawburn/sass/_extra-child-theme.scss
  shawburn/sass/_full-site-editing-editor.scss
  shawburn/sass/_full-site-editing.scss
  shawburn/sass/_site-navigation.scss
  shawburn/sass/style-child-theme-editor.scss
  shawburn/sass/style-child-theme.scss
  shawburn/style-editor.css
  shawburn/style-rtl.css
  shawburn/style.css
Labels: varia

#1657 Full Site Editing: Bump Varia 1.5.1, Maywood 1.4.1, Exford 1.4.0, Shawburn 1.3.0
  exford/languages/exford.pot
  exford/package-lock.json
  exford/package.json
  exford/sass/style-child-theme.scss
  exford/style-rtl.css
  exford/style.css
  maywood/languages/maywood.pot
  maywood/package-lock.json
  maywood/package.json
  maywood/sass/style-child-theme.scss
  maywood/style-rtl.css
  maywood/style.css
  shawburn/languages/shawburn.pot
  shawburn/package-lock.json
  shawburn/package.json
  shawburn/sass/style-child-theme.scss
  shawburn/style-rtl.css
  shawburn/style.css
  varia/package-lock.json
  varia/package.json
  varia/style-rtl.css
  varia/style.css
  varia/style.scss
Labels: varia

#1679 Stratford: Update the Headstart after latest homepage layout changes
  stratford/inc/headstart/en.json
Labels: varia

#1681 Alves: Add Full Site Editing support
  alves/footer.php
  alves/languages/alves.pot
  alves/package-lock.json
  alves/package.json
  alves/sass/_extra-child-theme.scss
  alves/sass/_full-site-editing-editor.scss
  alves/sass/_full-site-editing.scss
  alves/sass/style-child-theme-editor.scss
  alves/sass/style-child-theme.scss
  alves/style-editor.css
  alves/style-rtl.css
  alves/style.css
  exford/languages/exford.pot
  exford/package-lock.json
  exford/package.json
  exford/sass/style-child-theme.scss
  exford/style-editor.css
  exford/style-rtl.css
  exford/style.css
  maywood/languages/maywood.pot
  maywood/package-lock.json
  maywood/package.json
  maywood/sass/style-child-theme.scss
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
  shawburn/languages/shawburn.pot
  shawburn/package-lock.json
  shawburn/package.json
  shawburn/sass/style-child-theme.scss
  shawburn/style-editor.css
  shawburn/style-rtl.css
  shawburn/style.css
  varia/package-lock.json
  varia/package.json
  varia/sass/full-site-editing/_editor.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
  varia/style.scss
Labels: varia
