Repository Automattic/themes, pull requests merged in 2019-08, with the labels that each got.

#1165 Modern Business: Apply theme classes to the FSE template part instead of to a Group block inside it
  modern-business/inc/fse-template-data.php
Labels: enhancement

#1177 Modern Business: Add editor palette support to the functions.php
  modern-business/functions.php
Labels: bug

#1182 Stow: Fix horizontal scrolling issue on Mobile, fixes #1180
  stow/sass/_extra-child-theme.scss
  stow/style-rtl.css
  stow/style.css
Labels: [Pri] Normal, bug, needs testing

#1168 Varia: Add spacing override utility classes
  brompton/style-editor.css
  brompton/style-rtl.css
  brompton/style.css
  hever/style-editor.css
  hever/style-rtl.css
  hever/style.css
  leven/style-editor.css
  leven/style-rtl.css
  leven/style.css
  redhill/style-editor.css
  redhill/style-rtl.css
  redhill/style.css
  varia/sass/blocks/utilities/_editor.scss
  varia/sass/blocks/utilities/_spacing-overrides.scss
  varia/sass/blocks/utilities/_style.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: enhancement, in-progress, varia

#1183 Coutoire: A new fashion-vertical-focused theme for wpcom
  coutoire/functions.php
  coutoire/header.php
  coutoire/js/fixed-header-spacing.js
  coutoire/package-lock.json
  coutoire/package.json
  coutoire/postcss.config.js
  coutoire/print.css
  coutoire/sass/_config-child-theme-deep.scss
  coutoire/sass/_config-child-theme.scss
  coutoire/sass/_extra-child-theme.scss
  coutoire/sass/print.scss
  coutoire/sass/style-child-theme-editor.scss
  coutoire/sass/style-child-theme.scss
  coutoire/screenshot.png
  coutoire/style-editor.css
  coutoire/style-rtl.css
  coutoire/style.css
Labels: [Pri] Normal, in-progress, needs testing

#1221 Modern business: Disable nav menu order if FSE is enabled
  modern-business/sass/navigation/_menu-main-navigation.scss
  modern-business/style-editor.css
  modern-business/style-rtl.css
  modern-business/style.css
Labels: bug

#1219 Modern Business: Set editor background color for FSE
  modern-business/style-editor.css
  modern-business/style-editor.scss
  modern-business/style-rtl.css
  modern-business/style.css
Labels: enhancement

#1245 FSE / Modern Business: Fix full width blocks in the header template part
  modern-business/sass/site/header/_site-header.scss
  modern-business/style-editor.css
  modern-business/style-editor.scss
  modern-business/style-rtl.css
  modern-business/style.css
Labels: bug

#1240 Varia: Make normal font size the same as default size
  varia/sass/blocks/utilities/_style.scss
  varia/style-rtl.css
  varia/style.css
Labels: varia

#1246 Varia: Refactor responsive logic to better support nested blocks with varying widths
  varia/comments.php
  varia/index.php
  varia/sass/abstracts/_mixins.scss
  varia/sass/abstracts/_responsive-logic.scss
  varia/sass/blocks/cover/_style.scss
  varia/sass/blocks/group/_style.scss
  varia/sass/blocks/image/_style.scss
  varia/sass/blocks/pullquote/_style.scss
  varia/sass/blocks/utilities/_style.scss
  varia/sass/components/content/_entry-content.scss
  varia/sass/components/footer/_footer-navigation.scss
  varia/sass/components/footer/_footer.scss
  varia/sass/components/header/_site-main-navigation.scss
  varia/sass/components/header/_site-social-navigation.scss
  varia/sass/components/pagination/_next-previous.scss
  varia/sass/layout/_structure.scss
  varia/sass/vendors/_jetpack.scss
  varia/single.php
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
  varia/template-parts/content/content-excerpt.php
  varia/template-parts/content/content-page.php
  varia/template-parts/content/content-single.php
  varia/template-parts/content/content.php
Labels: [Pri] Normal, enhancement, in-progress, needs testing, varia

#1257 FSE: Use new classnames instead of data-type selectors
  friendly-business/package-lock.json
  friendly-business/style-editor.css
  friendly-business/style-editor.scss
  modern-business/package-lock.json
  modern-business/style-editor.css
  modern-business/style-editor.scss
Labels: enhancement

#1299 Varia: Add spacing between Jetpack subscribe form and submit button
  varia/sass/vendors/_jetpack.scss
  varia/style-rtl.css
  varia/style.css
  varia/style.scss
Labels: bug, needs testing, varia

#1298 Morden: Revising layout styles to work with the improved responsive logic
  morden/header.php
  morden/sass/_extra-child-theme.scss
  morden/style-rtl.css
  morden/style.css
Labels: bug, needs testing

#1303 Varia: Add support for improved latest-posts block for Gutenberg 6.3
  varia/sass/blocks/latest-posts/_editor.scss
  varia/sass/blocks/latest-posts/_style.scss
  varia/sass/blocks/utilities/_editor.scss
  varia/sass/blocks/utilities/_style.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: bug, needs testing, varia

#1301 Varia: Make sure links are visible when parent elements have a background color.
  varia/sass/blocks/paragraph/_style.scss
  varia/sass/blocks/utilities/_editor.scss
  varia/sass/blocks/utilities/_style.scss
  varia/sass/vendors/_jetpack.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: bug, needs testing, varia

#1313 Varia: Revise .alignfull logic on mobile to stretch to the edge of the viewport
  alves/sass/_extra-child-theme.scss
  alves/style-rtl.css
  alves/style.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  exford/sass/_extra-child-theme.scss
  exford/style-rtl.css
  exford/style.css
  hever/sass/_extra-child-theme.scss
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  morden/sass/_extra-child-theme.scss
  morden/style-rtl.css
  morden/style.css
  redhill/style-rtl.css
  redhill/style.css
  rockfield/header.php
  rockfield/sass/_extra-child-theme.scss
  rockfield/style-rtl.css
  rockfield/style.css
  stow/sass/_extra-child-theme.scss
  stow/style-rtl.css
  stow/style.css
  stratford/sass/_extra-child-theme.scss
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/abstracts/_responsive-logic.scss
  varia/style-rtl.css
  varia/style.css
Labels: bug, needs testing, varia

#1315 Varia: Fix first (and last) menu item padding on mobile screens.
  alves/style-editor.css
  alves/style-rtl.css
  alves/style.css
  brompton/sass/_extra-child-theme.scss
  brompton/style-editor.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/sass/_extra-child-theme.scss
  coutoire/style-editor.css
  coutoire/style-rtl.css
  coutoire/style.css
  exford/style-editor.css
  exford/style-rtl.css
  exford/style.css
  hever/sass/_extra-child-theme.scss
  hever/style-editor.css
  hever/style-rtl.css
  hever/style.css
  leven/style-editor.css
  leven/style-rtl.css
  leven/style.css
  morden/style-editor.css
  morden/style-rtl.css
  morden/style.css
  redhill/sass/_extra-child-theme.scss
  redhill/style-editor.css
  redhill/style-rtl.css
  redhill/style.css
  rockfield/style-editor.css
  rockfield/style-rtl.css
  rockfield/style.css
  stow/sass/_extra-child-theme.scss
  stow/style-editor.css
  stow/style-rtl.css
  stow/style.css
  stratford/style-editor.css
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/components/header/_site-main-navigation.scss
  varia/style-rtl.css
  varia/style.css
Labels: bug, needs testing, varia

#1300 Varia: Update Cover Block default background-color and text color
  brompton/sass/_config-child-theme-deep.scss
  coutoire/sass/_config-child-theme-deep.scss
  exford/sass/_config-child-theme-deep.scss
  hever/sass/_config-child-theme-deep.scss
  leven/sass/_config-child-theme-deep.scss
  morden/sass/_config-child-theme-deep.scss
  redhill/sass/_config-child-theme-deep.scss
  rockfield/sass/_config-child-theme-deep.scss
  stow/sass/_config-child-theme-deep.scss
  stratford/sass/_config-child-theme-deep.scss
  varia/sass/blocks/cover/_config.scss
  varia/sass/blocks/cover/_editor.scss
  varia/sass/blocks/cover/_style.scss
  varia/sass/child-theme/_config-child-theme-deep.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: bug, needs testing, varia

#1272 Rivington: Add new theme to repo.
  rivington/functions.php
  rivington/package-lock.json
  rivington/package.json
  rivington/postcss.config.js
  rivington/print.css
  rivington/sass/_config-child-theme-deep.scss
  rivington/sass/_config-child-theme.scss
  rivington/sass/_extra-child-theme.scss
  rivington/sass/print.scss
  rivington/sass/style-child-theme-editor.scss
  rivington/sass/style-child-theme.scss
  rivington/screenshot.png
  rivington/style-editor.css
  rivington/style-rtl.css
  rivington/style.css
Labels: [Pri] Normal, in-progress

#1332 Varia: Add basic styling support for Full Site Editing
  varia/footer.php
  varia/header.php
  varia/sass/full-site-editing/_editor.scss
  varia/style-editor.css
  varia/style-editor.scss
Labels: enhancement, needs testing

#1341 Maywood: Add basic styling support for Full Site Editing
  maywood/sass/_full-site-editing-editor.scss
  maywood/sass/_full-site-editing.scss
  maywood/sass/style-child-theme-editor.scss
  maywood/sass/style-child-theme.scss
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
Labels: enhancement, in-progress, needs testing
