Repository Automattic/themes, pull requests merged in 2019-10, with the labels that each got.

#1463 Varia: Center image block by default.
  varia/sass/blocks/_editor.scss
  varia/sass/blocks/image/_editor.scss
  varia/sass/blocks/image/_style.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: bug, varia

#1469 Varia: Add `auto-loading-homepage` tag to stylesheet, minor version bump
  varia/package.json
  varia/sass/child-theme/style-child-theme.scss
  varia/style-rtl.css
  varia/style.css
  varia/style.scss
Labels: varia

#1470 Maywood: Add `auto-loading-homepage` tag to main stylesheet, version bump
  maywood/package.json
  maywood/sass/style-child-theme.scss
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
Labels: needs testing, varia

#1482 Varia: Add fse tags, and version bump
  varia/sass/child-theme/style-child-theme.scss
  varia/style-rtl.css
  varia/style.css
  varia/style.scss
Labels: varia

#1485 Brompton: Add auto-loading-homepage tag to stylesheet, minor version bump
  brompton/footer.php
  brompton/package.json
  brompton/sass/style-child-theme.scss
  brompton/style-editor.css
  brompton/style-rtl.css
  brompton/style.css
Labels: needs testing, varia

#1500 Varia / Maywood: Allow Full Site Editing blocks to be styled with Gutenberg attributes
  maywood/languages/maywood.pot
  maywood/package-lock.json
  maywood/package.json
  maywood/sass/_full-site-editing-editor.scss
  maywood/sass/style-child-theme.scss
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
  varia/package.json
  varia/sass/components/footer/_footer-navigation.scss
  varia/sass/components/header/_site-branding.scss
  varia/sass/components/header/_site-main-navigation.scss
  varia/sass/full-site-editing/_editor.scss
  varia/sass/full-site-editing/_imports.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
  varia/style.scss
Labels: enhancement, varia

#1520 Varia + various child-themes: Add missing config variables
  alves/sass/_config-child-theme-deep.scss
  balasana/sass/_config-child-theme-deep.scss
  barnsbury/sass/_config-child-theme-deep.scss
  dalston/sass/_config-child-theme-deep.scss
  exford/sass/_config-child-theme-deep.scss
  mayland/sass/_config-child-theme-deep.scss
  maywood/sass/_config-child-theme-deep.scss
  redhill/sass/_config-child-theme-deep.scss
  rivington/sass/_config-child-theme-deep.scss
  varia/sass/child-theme/_config-child-theme-deep.scss
Labels: bug, varia

#1544 Stratford: Better fixed header
  stratford/functions.php
  stratford/js/fixed-header-spacing.js
  stratford/sass/_extra-child-theme.scss
  stratford/style-rtl.css
  stratford/style.css
Labels: bug

#1549 Varia: Make sure long username not running into avatar
  varia/sass/components/comments/_comments.scss
  varia/style-rtl.css
  varia/style.css
Labels: varia

#1547 Varia: Make sure centre aligned image in classic block is centred
  varia/sass/blocks/utilities/_style.scss
  varia/style-rtl.css
  varia/style.css
Labels: varia

#1550 Update global styles namespace
  alves/sass/style-child-theme.scss
  balasana/sass/style-child-theme.scss
  barnsbury/sass/style-child-theme.scss
  brompton/sass/style-child-theme.scss
  coutoire/sass/style-child-theme.scss
  dalston/sass/style-child-theme.scss
  exford/sass/style-child-theme.scss
  hever/sass/style-child-theme.scss
  leven/sass/style-child-theme.scss
  mayland/sass/style-child-theme.scss
  maywood/sass/style-child-theme.scss
  morden/sass/style-child-theme.scss
  rivington/sass/style-child-theme.scss
  rockfield/sass/style-child-theme.scss
  shawburn/sass/style-child-theme.scss
  stow/sass/style-child-theme.scss
  stratford/sass/style-child-theme.scss
  varia/functions.php
  varia/readme.txt
  varia/sass/child-theme/style-child-theme.scss
  varia/style.scss
Labels: enhancement

#1564 Varia, Rockfield: Prevent long usernames from overlapping.
  rockfield/style-rtl.css
  rockfield/style.css
  varia/sass/components/comments/_comments.scss
  varia/style-rtl.css
  varia/style.css
Labels: bug, varia

#1577 Varia: Add `Continue reading ->` link filter for excerpts and read more blocks.
  varia/inc/template-functions.php
  varia/sass/components/content/_entry-content.scss
  varia/style-rtl.css
  varia/style.css
  varia/template-parts/content/content.php
Labels: bug, needs testing, varia

#1606 Varia: Remove unnecessary gaps in Jetpack Business Hours on front-end
  varia/sass/vendors/_jetpack.scss
  varia/style-rtl.css
  varia/style.css
Labels: varia

#1565 Varia: Restore the “Skip cropping” option to custom-logo setup.
  varia/functions.php
Labels: bug, enhancement, needs testing, varia

#1609 Varia: Restore featured images for Pages
  varia/functions.php
  varia/inc/template-tags.php
Labels: bug, varia

#1625 Balasana: Refactor WooCommerce mini-cart styles
  balasana/package.json
  balasana/sass/_config-child-theme-deep.scss
  balasana/sass/_extra-child-theme.scss
  balasana/sass/style-child-theme-woocommerce.scss
  balasana/style-rtl.css
  balasana/style-woocommerce-rtl.css
  balasana/style-woocommerce.css
  balasana/style.css
Labels: WooCommerce, enhancement, varia

#1630 Varia: Fix FSE button-style `%extend` compiling error.
  varia/sass/full-site-editing/_editor.scss
  varia/style-editor.css
Labels: bug, varia

#1567 Stow: Add WooCommerce support.
  stow/package.json
  stow/sass/_config-child-theme-deep.scss
  stow/sass/_config-child-theme-woocommerce.scss
  stow/sass/_extra-child-theme.scss
  stow/sass/style-child-theme-woocommerce.scss
  stow/style-rtl.css
  stow/style-woocommerce-rtl.css
  stow/style-woocommerce.css
  stow/style.css
Labels: WooCommerce, enhancement, varia

#1634 Varia: Allow separator block color options
  alves/style-editor.css
  alves/style-rtl.css
  alves/style.css
  balasana/style-editor.css
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/style-editor.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/style-editor.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-editor.css
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/package-lock.json
  dalston/style-editor.css
  dalston/style-rtl.css
  dalston/style.css
  exford/style-editor.css
  exford/style-rtl.css
  exford/style.css
  hever/style-editor.css
  hever/style-rtl.css
  hever/style.css
  leven/style-editor.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-editor.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
  morden/style-editor.css
  morden/style-rtl.css
  morden/style.css
  redhill/style-editor.css
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-editor.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/style-editor.css
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/style-editor.css
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style-editor.css
  stratford/style-editor.css
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/blocks/separator/_editor.scss
  varia/sass/blocks/separator/_style.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: bug, varia
