Repository Automattic/themes, pull requests merged in 2020-04, with the labels that each got.

#1894 Add testing instructions to README.md
  README.md
Labels: [Status] Needs Review

#1904 Update/security alert fixes april 2020
  brompton/package-lock.json
  brompton/package.json
  calm-business/package-lock.json
  calm-business/package.json
  elegant-business/package-lock.json
  elegant-business/package.json
  friendly-business/package-lock.json
  friendly-business/package.json
  leven/package-lock.json
  leven/package.json
  modern-business/package-lock.json
  modern-business/package.json
  professional-business/package-lock.json
  professional-business/package.json
  redhill/package-lock.json
  redhill/package.json
  sophisticated-business/package-lock.json
  sophisticated-business/package.json
  varia/package-lock.json
  varia/package.json
Labels: [Pri] High

#1902 Varia: Ensure full-width items inside of columns do not overlap.
  varia/sass/blocks/_editor.scss
  varia/sass/blocks/columns/_editor.scss
  varia/style-editor.css
Labels: [Theme] Varia, [Type] Bug

#1925 Varia: Fix button styles to work alongside Gutenberg 7.9
  varia/sass/blocks/button/_editor.scss
  varia/sass/blocks/button/_style.scss
  varia/sass/blocks/utilities/_style.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: [Block] Button, [Theme] Varia
