Repository Automattic/themes, pull requests merged in 2020-08, with the labels that each got.

#1964 Dalston: Add Color Annotations
  dalston/functions.php
  dalston/inc/wpcom-colors.php
  dalston/inc/wpcom-editor-colors.php
  dalston/inc/wpcom.php
  dalston/sass/_extra-child-theme.scss
  dalston/style-rtl.css
  dalston/style.css
Labels: [Type] Enhancement

#2276 Seedlet blocks: replace paragraph with Site Tagline block in header
  seedlet-blocks/block-template-parts/header.html
Labels: [Status] Needs Review

#2249 Seedlet Blocks: Replace header image with site logo block
  seedlet-blocks/block-template-parts/header.html
Labels: [Type] Enhancement

#2264 Fix older posts button positioning after loading posts.
  altofocus/assets/js/grid.js
  altofocus/assets/stylesheets/components/posts/_archives.scss
  altofocus/assets/stylesheets/layout/_isotope-grid.scss
  altofocus/assets/stylesheets/shared/_infinitescroll.scss
  altofocus/assets/stylesheets/style.scss
  altofocus/inc/extras.php
  altofocus/inc/jetpack.php
  altofocus/style.css
Labels: [Status] Needs Review

#1969 Exford: Add Color Annotations
  exford/functions.php
  exford/inc/wpcom-colors.php
  exford/inc/wpcom-editor-colors.php
  exford/inc/wpcom.php
Labels: [Type] Enhancement

#2344 Seedlet/Seedlet Blocks: Add default top/bottom margins to items within template parts
  seedlet/assets/css/ie.css
  seedlet/assets/sass/structure/_vertical-margins.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet, [Theme] Seedlet Blocks, [Type] Bug

#2305 Seedlet: fix keyboard navigation
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-woocommerce-rtl.css
  seedlet/assets/css/style-woocommerce.css
  seedlet/assets/js/primary-navigation.js
  seedlet/assets/sass/base/_reset.scss
  seedlet/assets/sass/components/header/_primary-navigation.scss
  seedlet/assets/sass/vendors/woocommerce/components/_mini-cart.scss
  seedlet/header.php
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#2233 Seedlet: Begin adding color annotations
  seedlet/assets/css/ie-editor.css
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/abstracts/_mixins.scss
  seedlet/assets/sass/blocks/utilities/_editor.scss
  seedlet/assets/sass/blocks/utilities/_style.scss
  seedlet/assets/sass/style-editor.scss
  seedlet/functions.php
  seedlet/inc/wpcom-colors.php
  seedlet/inc/wpcom-customize-message.css
  seedlet/inc/wpcom-customize-preview.js
  seedlet/inc/wpcom-editor-colors.php
  seedlet/inc/wpcom.php
  seedlet/package.json
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet, [Type] Enhancement

#2357 Seedlet: bump version
  seedlet/assets/css/ie.css
  seedlet/assets/sass/style.scss
  seedlet/readme.txt
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#2359 Seedlet: fix woocommerce cart bug
  seedlet/assets/js/primary-navigation.js
  seedlet/header.php
Labels: [Theme] Seedlet, [Type] Bug

#1955 Leven: Add Color Annotations
  leven/functions.php
  leven/inc/wpcom-colors.php
  leven/inc/wpcom-editor-colors.php
  leven/inc/wpcom.php
Labels: [Type] Enhancement

#2372 Seedlet: remove positive tabindex from skiplink
  seedlet/header.php
Labels: [Theme] Seedlet

#2373 Seedlet: Add a visual hover indicator for all links
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/abstracts/_config.scss
  seedlet/assets/sass/base/_editor.scss
  seedlet/assets/sass/base/_reset.scss
  seedlet/assets/sass/components/entry/_config.scss
  seedlet/assets/sass/components/entry/_content.scss
  seedlet/assets/sass/components/entry/_header.scss
  seedlet/assets/sass/components/entry/_meta.scss
  seedlet/assets/sass/components/footer/_footer-navigation.scss
  seedlet/assets/sass/components/header/_config.scss
  seedlet/assets/sass/components/header/_header-branding.scss
  seedlet/assets/sass/components/header/_primary-navigation.scss
  seedlet/assets/sass/components/pagination/_style.scss
  seedlet/assets/sass/vendors/jetpack/blocks/blog-posts/_editor.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: Accessibility, [Theme] Seedlet

#2385 Seedlet: Clean up footer navigation
  seedlet/assets/css/ie.css
  seedlet/assets/sass/components/footer/_footer-branding.scss
  seedlet/assets/sass/components/footer/_footer-navigation.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet, [Type] Bug

#2392 Seedlet: fix two custom color panels loading on wpcom
  seedlet/functions.php
Labels: [Theme] Seedlet, [Type] Bug

#1951 Redhill: Add Color Annotations
  redhill/functions.php
  redhill/inc/wpcom-colors.php
  redhill/inc/wpcom-editor-colors.php
  redhill/inc/wpcom.php
Labels: [Type] Enhancement

#2397 Update headstart content to match demo site
  seedlet/inc/headstart/en.json
Labels: [Theme] Seedlet, [Type] Enhancement

#2399 Seedlet: Add Alternating Grid block style for the Latest Posts block
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/blocks/latest-posts/_editor.scss
  seedlet/assets/sass/blocks/latest-posts/_style.scss
  seedlet/functions.php
  seedlet/inc/block-patterns.php
  seedlet/inc/block-styles.php
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet, [Type] Enhancement

#2401 Add Alternating Grid block style to the Blog Posts block.
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/vendors/jetpack/blocks/blog-posts/_editor.scss
  seedlet/assets/sass/vendors/jetpack/blocks/blog-posts/_style.scss
  seedlet/inc/block-styles.php
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet, [Type] Enhancement

#2402 Seedlet: Update theme description and URI
  seedlet/readme.txt
  seedlet/style.css
Labels: [Theme] Seedlet, [Type] Task

#2403 Update theme description and URI (in SASS files this time)
  seedlet/assets/css/ie.css
  seedlet/assets/sass/child-theme/style-child-theme.scss
  seedlet/assets/sass/style.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet, [Type] Task

#2395 Seedlet: fix landmark roles
  seedlet/404.php
  seedlet/archive.php
  seedlet/footer.php
  seedlet/header.php
  seedlet/image.php
  seedlet/index.php
  seedlet/page.php
  seedlet/search.php
  seedlet/single.php
  seedlet/template-parts/content/content-page.php
  seedlet/template-parts/content/content.php
  seedlet/template-parts/footer/footer-widgets.php
Labels: [Theme] Seedlet

#2408 Seedlet: Add custom units support
  seedlet/functions.php
Labels: [Theme] Seedlet, [Type] Enhancement

#2409 Seedlet: Add headstart auto-loading-homepage tag to SASS files
  seedlet/assets/css/ie.css
  seedlet/assets/sass/style.scss
  seedlet/style-rtl.css
Labels: [Theme] Seedlet

#2387 Seedlet: Use WordPress global to detect IE support
  seedlet/functions.php
Labels: [Theme] Seedlet, [Type] Bug

#1967 Maywood: Add Color Annotations
  maywood/functions.php
  maywood/inc/wpcom-colors.php
  maywood/inc/wpcom-editor-colors.php
  maywood/inc/wpcom.php
Labels: [Type] Enhancement

#2414 Seedlet: Remove duplicate variables from style-editor.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/style-editor.scss
Labels: [Theme] Seedlet, [Type] Bug
