Repository Automattic/themes, pull requests merged in 2020-10, with the labels that each got.

#2531 Seedlet: Compress the SASS build and add source maps
  seedlet/assets/css/ie-editor.css
  seedlet/assets/css/ie.css
  seedlet/assets/css/print.css
  seedlet/assets/css/print.css.map
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/css/style-woocommerce-rtl.css
  seedlet/assets/css/style-woocommerce.css
  seedlet/assets/css/style-woocommerce.css.map
  seedlet/assets/sass/blocks/utilities/_editor.scss
  seedlet/package.json
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Theme] Seedlet

#2536 Add sourcemaps to Spearhead
  spearhead/package.json
Labels: [Theme] Spearhead

#2537 Seedlet: Remove duplicate editor code
  seedlet/assets/css/ie-editor.css
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/sass/base/_base.scss
  seedlet/assets/sass/base/_editor.scss
  seedlet/assets/sass/base/_reset.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Status] Needs Review

#2546 Spearhead: Fix link color and hover states
  spearhead/assets/sass/_text.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Status] Needs Review, [Theme] Spearhead

#2555 Seedlet: Editor titles
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/css/style-woocommerce.css.map
  seedlet/assets/sass/_variables-editor.scss
  seedlet/assets/sass/blocks/utilities/_editor.scss
  seedlet/assets/sass/components/_editor.scss
  seedlet/assets/sass/components/entry/_header.scss
  seedlet/assets/sass/style-editor.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Status] Needs Review, [Theme] Seedlet, [Theme] Spearhead

#2558 Spearhead: simplify responsive styles
  spearhead/assets/sass/_responsive.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead

#2545 Spearhead: Add color annotations
  seedlet/inc/wpcom-colors-utils.php
  seedlet/inc/wpcom-colors.php
  spearhead/inc/wpcom-colors.php
  spearhead/inc/wpcom-editor-colors.php
Labels: [Status] Needs Review, [Status] Needs Testing

#2565 Seedlet: Separate the navigation CSS into a different file
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/css/style-navigation-rtl.css
  seedlet/assets/css/style-navigation.css
  seedlet/assets/css/style-navigation.css.map
  seedlet/assets/css/style-woocommerce-rtl.css
  seedlet/assets/css/style-woocommerce.css
  seedlet/assets/css/style-woocommerce.css.map
  seedlet/assets/sass/abstracts/_mixins.scss
  seedlet/assets/sass/components/header/_style.scss
  seedlet/assets/sass/components/navigation/_style.scss
  seedlet/assets/sass/structure/_responsive-logic.scss
  seedlet/assets/sass/style-navigation.scss
  seedlet/functions.php
  seedlet/package-lock.json
  seedlet/package.json
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Status] Needs Review

#2550 Seedlet: fix alignment for galleries
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/css/style-woocommerce-rtl.css
  seedlet/assets/css/style-woocommerce.css
  seedlet/assets/css/style-woocommerce.css.map
  seedlet/assets/sass/blocks/gallery/_style.scss
  seedlet/assets/sass/blocks/utilities/_style.scss
  seedlet/assets/sass/structure/_responsive-logic.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Status] Needs Review, [Theme] Seedlet

#2515 Add PHPCS and PHPCBF to fix linting issues
  .gitignore
  README.md
  composer.json
  composer.lock
  package-lock.json
  package.json
  phpcs.xml.dist
  pre-commit-hook.js
Labels: [Status] Needs Review

#2567 #2538: Spearhead: Dark mode contrast
  spearhead/variables.css
Labels: [Status] Needs Review

#2559 Spearhead: Add related posts block styles
  spearhead/assets/sass/_block-extends.scss
  spearhead/assets/sass/_text.scss
  spearhead/assets/sass/block-extends/_related-posts.scss
  spearhead/functions.php
  spearhead/inc/block-patterns.php
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead

#2574 Spearhead: fix unregister block pattern bug
  spearhead/functions.php
  spearhead/inc/block-patterns.php
Labels: [Theme] Spearhead, [Type] Bug

#2573 Update/seedlet file block
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/css/style-woocommerce.css.map
  seedlet/assets/sass/base/_editor.scss
  seedlet/assets/sass/base/_extends.scss
  seedlet/assets/sass/blocks/file/_editor.scss
  seedlet/assets/sass/blocks/file/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Status] Needs Review, [Theme] Seedlet

#2586 Seedlet: Define colorline functions in the theme
  seedlet/inc/wpcom-colors-utils.php
  seedlet/inc/wpcom-customize-preview.js
Labels: [Status] Needs Review

#2581 Seedlet: bump version to 1.1
  seedlet/assets/sass/style.scss
  seedlet/functions.php
  seedlet/package.json
  seedlet/readme.txt
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#2572 Spearhead: Add styles for sticky posts
  spearhead/assets/sass/_header.scss
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/functions.php
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Status] Needs Review, [Theme] Spearhead

#2575 Spearhead posts excerpts styles
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/functions.php
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/template-parts/content/content-excerpt.php
Labels: [Theme] Spearhead

#2596 Spearhead: refine spacing
  spearhead/assets/sass/_header.scss
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Theme] Spearhead

#2595 Spearhead: Search Results page
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/sass/base/_accessibility.scss
  seedlet/assets/sass/child-theme/variables-editor.css
  seedlet/assets/sass/child-theme/variables.css
  seedlet/assets/sass/elements/_config.scss
  seedlet/assets/sass/elements/_forms.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
  seedlet/template-parts/content/content-none.php
  spearhead/assets/sass/_meta.scss
  spearhead/assets/sass/_search.scss
  spearhead/assets/sass/style.scss
  spearhead/functions.php
  spearhead/search.php
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Theme] Spearhead

#2600 Spearhead + Seedlet: make it possible to remove the previous / next post navigation (#2594)
  seedlet/archive.php
  seedlet/inc/template-tags.php
  seedlet/index.php
  seedlet/search.php
  seedlet/single.php
  spearhead/functions.php
Labels: [Theme] Seedlet, [Theme] Spearhead

#2601 Spearhead: fix import error
  spearhead/assets/sass/_search.scss
  spearhead/assets/sass/style.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead, [Type] Bug

#2603 Spearhead: fix menu wrapping bug (#2589)
  spearhead/assets/sass/_header.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead, [Type] Bug

#2564 Spearhead: archive block pattern
  spearhead/assets/sass/_archive.scss
  spearhead/assets/sass/_block-extends.scss
  spearhead/assets/sass/block-extends/_categories.scss
  spearhead/assets/sass/block-extends/_latest-posts.scss
  spearhead/assets/sass/block-extends/_search.scss
  spearhead/assets/sass/style.scss
  spearhead/functions.php
  spearhead/inc/block-patterns.php
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Theme] Spearhead

#2607 Spearhead: Remove the margins from lists in widgets
  spearhead/assets/sass/_meta.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Status] Needs Review, [Theme] Spearhead

#2602 Spearhead: refine typography styles
  spearhead/assets/sass/_footer.scss
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/assets/sass/style.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Theme] Spearhead

#2605 Spearhead block patterns for podcast links
  seedlet/assets/sass/blocks/navigation/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
  spearhead/assets/sass/_block-extends.scss
  spearhead/assets/sass/_header.scss
  spearhead/assets/sass/_text.scss
  spearhead/assets/sass/block-extends/_links.scss
  spearhead/assets/sass/block-extends/_navigation.scss
  spearhead/inc/block-patterns.php
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Theme] Spearhead

#2608 Spearhead: Update dark mode colors
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Status] Needs Review, [Theme] Spearhead

#2620 Seedlet: read more link font size consistency
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead

#2621 Seedlet: Fix keyboard navigation in the menu
  seedlet/assets/css/style-navigation-rtl.css
  seedlet/assets/css/style-navigation.css
  seedlet/assets/css/style-navigation.css.map
  seedlet/assets/sass/components/navigation/_style.scss
  seedlet/header.php
  spearhead/navigation-rtl.css
  spearhead/navigation.css
  spearhead/navigation.css.map
Labels: [Status] Needs Review, [Theme] Seedlet, [Theme] Spearhead

#2617 Update Seedlet i18n from WPCOM
  seedlet/languages/kab.mo
  seedlet/languages/kab.po
  seedlet/languages/no.mo
  seedlet/languages/no.po
  seedlet/languages/ro.mo
  seedlet/languages/ro.po
  seedlet/languages/seedlet.pot
  seedlet/languages/sv.mo
  seedlet/languages/sv.po
Labels: [Status] Needs Review, [Theme] Seedlet

#2623 Spearhead: Fixes the code and verse blocks in the editor
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/sass/blocks/_editor.scss
  seedlet/assets/sass/blocks/code/_editor.scss
  seedlet/assets/sass/blocks/verse/_editor.scss
  seedlet/assets/sass/blocks/verse/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Status] Needs Review, [Theme] Seedlet, [Theme] Spearhead

#2627 Seedlet: Update theme to work with the new marketing bar
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/css/style-navigation-rtl.css
  seedlet/assets/css/style-navigation.css
  seedlet/assets/css/style-navigation.css.map
  seedlet/assets/sass/components/header/_config.scss
  seedlet/assets/sass/components/navigation/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
  spearhead/navigation-rtl.css
  spearhead/navigation.css
  spearhead/navigation.css.map
Labels: [Status] Needs Review, [Theme] Seedlet, [Type] Enhancement

#2671 update spearhead content width
  spearhead/functions.php
Labels: [Status] Needs Review, [Theme] Spearhead

#2674 Seedlet: add customizer toggle for excerpts on home and archive pages
  seedlet/archive.php
  seedlet/inc/customizer.php
  seedlet/index.php
Labels: [Theme] Seedlet, [Theme] Spearhead

#2678 Seedlet: Update light and dark color names
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/css/style-woocommerce-rtl.css
  seedlet/assets/css/style-woocommerce.css
  seedlet/assets/css/style-woocommerce.css.map
  seedlet/assets/sass/abstracts/_config.scss
  seedlet/assets/sass/base/_extends.scss
  seedlet/assets/sass/blocks/cover/_config.scss
  seedlet/assets/sass/blocks/image/_style.scss
  seedlet/assets/sass/blocks/latest-comments/_style.scss
  seedlet/assets/sass/blocks/latest-posts/_editor.scss
  seedlet/assets/sass/blocks/latest-posts/_style.scss
  seedlet/assets/sass/blocks/posts-list/_style.scss
  seedlet/assets/sass/blocks/pullquote/_editor.scss
  seedlet/assets/sass/blocks/quote/_editor.scss
  seedlet/assets/sass/blocks/quote/_style.scss
  seedlet/assets/sass/blocks/utilities/_editor.scss
  seedlet/assets/sass/blocks/utilities/_style.scss
  seedlet/assets/sass/blocks/video/_style.scss
  seedlet/assets/sass/child-theme/variables-editor.css
  seedlet/assets/sass/child-theme/variables.css
  seedlet/assets/sass/elements/_blockquote.scss
  seedlet/assets/sass/elements/_media.scss
  seedlet/assets/sass/vendors/jetpack/blocks/blog-posts/_editor.scss
  seedlet/assets/sass/vendors/jetpack/blocks/blog-posts/_style.scss
  seedlet/assets/sass/vendors/woocommerce/_config.scss
  seedlet/assets/sass/vendors/woocommerce/blocks/block-grid/_style.scss
  seedlet/assets/sass/vendors/woocommerce/components/_cart-collaterals.scss
  seedlet/assets/sass/vendors/woocommerce/components/_product-tabs.scss
  seedlet/assets/sass/vendors/woocommerce/components/_reviews.scss
  seedlet/assets/sass/vendors/woocommerce/elements/_breadcrumbs.scss
  seedlet/assets/sass/vendors/woocommerce/elements/_notices.scss
  seedlet/assets/sass/vendors/woocommerce/elements/_small-note.scss
  seedlet/assets/sass/vendors/woocommerce/pages/_checkout.scss
  seedlet/assets/sass/vendors/woocommerce/pages/_single-product.scss
  seedlet/assets/sass/vendors/woocommerce/widgets/_price-filter.scss
  seedlet/classes/class-seedlet-custom-colors.php
  seedlet/inc/wpcom-colors-utils.php
  seedlet/inc/wpcom-customize-preview.js
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Status] Needs Review, [Theme] Seedlet

#2681 fixed archive headers margins to fit design
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/navigation-rtl.css
  spearhead/navigation.css
  spearhead/navigation.css.map
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead

#2686 Spearhead: fix button border bug (#2646)
  independent-publisher-2/functions.php
  seedlet/classes/class-seedlet-custom-colors.php
  spearhead/assets/sass/_text.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead

#2687 Fix/seedlet spearhead body font weight
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/sass/abstracts/_config.scss
  seedlet/assets/sass/base/_reset.scss
  seedlet/assets/sass/child-theme/variables-editor.css
  seedlet/assets/sass/child-theme/variables.css
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
  spearhead/variables.css
Labels: [Theme] Spearhead, [Type] Bug

#2684 Spearhead: Update colors
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/assets/sass/block-extends/_latest-posts.scss
  spearhead/inc/wpcom-colors.php
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Status] Needs Review

#2688 Seedlet: fix image template link spacing
  seedlet/assets/sass/components/pagination/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Theme] Seedlet, [Theme] Spearhead

#2696 Adjust sticky post padding.
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead, [Type] Enhancement

#2685 Seedlet: Make it possible to hide the author bio
  seedlet/assets/css/print.css
  seedlet/assets/css/print.css.map
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/sass/components/entry/_author-bio.scss
  seedlet/assets/sass/print.scss
  seedlet/assets/sass/structure/_vertical-margins.scss
  seedlet/functions.php
  seedlet/inc/jetpack.php
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
  seedlet/template-parts/content/content-single.php
  seedlet/template-parts/post/author-bio.php
  spearhead/assets/sass/_author-bio.scss
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/assets/sass/style.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Status] Needs Review

#2700 Add theme screenshot
  spearhead/screenshot.png
Labels: [Theme] Spearhead, [Type] Task

#2704 Spearhead: adapted jetpack posts block to the design
  spearhead/assets/sass/_block-extends.scss
  spearhead/assets/sass/block-extends/_blog-posts.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead

#2705 Seedlet: Remove subscription block CSS
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/sass/blocks/_editor.scss
  seedlet/assets/sass/blocks/_style.scss
  seedlet/assets/sass/blocks/subscription/editor.scss
  seedlet/assets/sass/blocks/subscription/style.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
Labels: [Theme] Seedlet

#2689 Spearhead: adjust submenu padding
  spearhead/assets/sass/navigation.scss
  spearhead/navigation-rtl.css
  spearhead/navigation.css
  spearhead/navigation.css.map
Labels: [Theme] Spearhead

#2706 Add spearhead files from WPCOM
  spearhead/inc/headstart/en.json
  spearhead/languages/spearhead.pot
  spearhead/languages/sv.mo
  spearhead/languages/sv.po
Labels: [Theme] Spearhead

#2711 Spearhead: Update theme URL
  spearhead/assets/sass/style.scss
  spearhead/style-rtl.css
  spearhead/style.css
Labels: [Theme] Spearhead

#2708 Spearhead: change colors for dark mode mobile menu
  spearhead/assets/sass/_header.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Theme] Spearhead

#2714 Spearhead: update posts navigation function name
  spearhead/search.php
Labels: [Theme] Spearhead, [Type] Bug

#2717 Spearhead: improved position of menu dropdown arrows
  spearhead/assets/sass/_header.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead

#2659 Update theme.json to follow latest spec
  seedlet-blocks/experimental-theme.json
  seedlet-blocks/style-editor.css
  seedlet-blocks/style.css
Labels: [Theme] Seedlet Blocks, [Type] Enhancement

#2723 Spearhead: fixed paddings after sticky post
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead

#2720 Spearhead: Try a different approach for Spearhead navigation
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/style-editor.css.map
  seedlet/assets/css/style-navigation-rtl.css
  seedlet/assets/css/style-navigation.css
  seedlet/assets/css/style-navigation.css.map
  seedlet/assets/sass/components/header/_config.scss
  seedlet/assets/sass/components/navigation/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
  spearhead/assets/sass/_header.scss
  spearhead/assets/sass/_responsive.scss
  spearhead/assets/sass/navigation.scss
  spearhead/header.php
  spearhead/navigation-rtl.css
  spearhead/navigation.css
  spearhead/navigation.css.map
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Status] Needs Review

#2729 Spearhead: Update text color of post excerpts
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/template-parts/content/content-excerpt.php
Labels: [Theme] Spearhead, [Type] Bug

#2726 Spearhead: Add extra line height to post titles on archive pages.
  spearhead/assets/sass/_posts-and-pages.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/variables.css
Labels: [Theme] Spearhead, [Type] Enhancement

#2732 Spearhead: show audio block on the excerpt
  spearhead/functions.php
Labels: [Theme] Spearhead

#2721 Spearhead: styles for native jetpack related posts
  spearhead/assets/sass/block-extends/_related-posts.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Theme] Spearhead

#2733 Spearhead: Update theme screenshot
  spearhead/screenshot.png
Labels: [Type] Enhancement

#2731 Spearhead: Add support for site logo
  seedlet/assets/sass/components/header/_header-branding.scss
  seedlet/header.php
  seedlet/inc/customizer.php
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/style.css.map
  seedlet/template-parts/header/site-branding.php
  spearhead/assets/sass/_header.scss
  spearhead/assets/sass/navigation.scss
  spearhead/customize.php
  spearhead/header.php
  spearhead/navigation-rtl.css
  spearhead/navigation.css
  spearhead/navigation.css.map
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
Labels: [Status] Needs Review
