Repository Automattic/themes, pull requests merged in 2020-07, with the labels that each got.

#2203 Seedlet blocks: update template parts to full width
  seedlet-blocks/block-templates/home.html
  seedlet-blocks/block-templates/index.html
  seedlet-blocks/block-templates/singular.html
Labels: [Status] Needs Review

#2204 Seedlet blocks: fix group block padding in site editor
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/blocks/group/_editor.scss
Labels: [Status] Needs Review

#2210 Seedlet: Define all unused CSS variables
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/variables-editor.css
  seedlet/assets/sass/abstracts/_config.scss
  seedlet/assets/sass/blocks/heading/_config.scss
  seedlet/assets/sass/blocks/image/_style.scss
  seedlet/assets/sass/blocks/subscription/style.scss
  seedlet/assets/sass/components/comments/_comments.scss
  seedlet/assets/sass/components/header/_primary-navigation.scss
  seedlet/assets/sass/elements/_blockquote.scss
  seedlet/assets/sass/elements/_config.scss
  seedlet/assets/sass/elements/_media.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#2209 Seedlet: Update headstart annotations
  seedlet/inc/headstart/en.json
Labels: [Theme] Seedlet

#2221 Seedlet: add max-width default to empty site
  seedlet/assets/css/ie.css
  seedlet/assets/sass/blocks/utilities/_style.scss
  seedlet/style.css
Labels: [Theme] Seedlet, [Type] Bug

#2196 Seedlet: Add a "hide homepage title" option to the customizer
  seedlet/inc/wpcom-customize-preview.js
  seedlet/inc/wpcom-style-editor.css
  seedlet/inc/wpcom-style.css
  seedlet/inc/wpcom.php
Labels: [Theme] Seedlet, [Type] Enhancement

#2229 Seedlet: Add support for spacing overrides
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/blocks/utilities/_editor.scss
Labels: [Status] Needs Review, [Theme] Seedlet Blocks

#2219 Seedlet: Fix layout grid margins
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/vendors/jetpack/blocks/layout-grid/_editor.scss
  seedlet/assets/sass/vendors/jetpack/blocks/layout-grid/_style.scss
  seedlet/postcss.config.js
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet, [Type] Bug

#2238 Seedlet Blocks: Update default block templates
  seedlet-blocks/block-templates/home.html
  seedlet-blocks/block-templates/index.html
Labels: [Theme] Seedlet Blocks, [Type] Enhancement

#2245 Remove full width block margins in the editor
  seedlet-blocks/style-editor.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/blocks/utilities/_editor.scss
  seedlet/style-rtl.css
Labels: [Status] Needs Review, [Theme] Seedlet, [Theme] Seedlet Blocks

#2208 Add support for custom link color.
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/base/_editor.scss
  seedlet/assets/sass/base/_reset.scss
  seedlet/functions.php
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Type] Enhancement

#2246 Seedlet Blocks: Use spacer blocks instead of css margins for the site header and footer
  seedlet-blocks/block-template-parts/footer.html
  seedlet-blocks/block-template-parts/header.html
  seedlet-blocks/block-templates/index.html
  seedlet-blocks/block-templates/singular.html
Labels: [Theme] Seedlet Blocks, [Type] Enhancement

#2217 Seedlet: Try implementing Jetpack's Global Styles
  seedlet/assets/css/custom-color-overrides.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/css/variables-editor.css
  seedlet/assets/sass/_variables-editor.scss
  seedlet/assets/sass/abstracts/_config.scss
  seedlet/assets/sass/style-editor.scss
  seedlet/classes/class-seedlet-custom-colors.php
  seedlet/functions.php
  seedlet/package.json
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#2260 Varia: Add left/right margins to iframes and other embeds to better s…
  alves/style-rtl.css
  alves/style.css
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/style-rtl.css
  dalston/style.css
  exford/style-rtl.css
  exford/style.css
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-rtl.css
  maywood/style.css
  morden/style-rtl.css
  morden/style.css
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style-rtl.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/components/content/_entry-content.scss
  varia/style-rtl.css
  varia/style.css
Labels: [Theme] Varia

#2266 Seedlet: Opt in to line custom-line-height
  seedlet/functions.php
Labels: [Theme] Seedlet, [Type] Bug

#2222 Seedlet: try removing .entry-content specificity for alignment rules
  seedlet-blocks/style.css
  seedlet/assets/css/ie.css
  seedlet/assets/sass/blocks/file/_style.scss
  seedlet/assets/sass/blocks/gallery/_style.scss
  seedlet/assets/sass/blocks/pullquote/_style.scss
  seedlet/assets/sass/blocks/utilities/_style.scss
  seedlet/assets/sass/blocks/video/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet, [Theme] Seedlet Blocks

#2244 Use display=swap for Google Fonts
  hever/functions.php
Labels: [Type] Enhancement

#1950 Balasana: Add Color Annotations
  balasana/functions.php
  balasana/inc/wpcom-colors.php
  balasana/inc/wpcom-editor-colors.php
  balasana/inc/wpcom.php
  balasana/sass/_config-child-theme-deep.scss
  balasana/sass/_extra-child-theme.scss
  balasana/style-editor.css
  balasana/style-rtl.css
  balasana/style-woocommerce-rtl.css
  balasana/style-woocommerce.css
  balasana/style.css
Labels: [Type] Enhancement

#1963 Barnsbury: Add Color Annotations
  barnsbury/functions.php
  barnsbury/inc/wpcom-colors.php
  barnsbury/inc/wpcom-editor-colors.php
  barnsbury/inc/wpcom.php
  theme-dev-utils
  twentytwenty
Labels: [Type] Enhancement

#1952 Brompton: Add Color Annotations
  brompton/functions.php
  brompton/inc/wpcom-colors.php
  brompton/inc/wpcom-editor-colors.php
  brompton/inc/wpcom.php
  brompton/package-lock.json
  brompton/sass/_extra-child-theme.scss
  brompton/style-rtl.css
  brompton/style.css
Labels: [Type] Enhancement

#1776 Illustratr: Fix Blog Post Block grid width
  illustratr/blocks.css
  illustratr/editor-blocks.css
Labels: [Status] Needs Testing

#2275 Seedlet: Allow all blocks with a link color to override the text color value set by custom background colors
  seedlet/assets/css/ie.css
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/base/_editor.scss
  seedlet/assets/sass/base/_reset.scss
  seedlet/assets/sass/blocks/cover/_editor.scss
  seedlet/assets/sass/blocks/cover/_style.scss
  seedlet/assets/sass/blocks/media-text/_editor.scss
  seedlet/assets/sass/blocks/media-text/_style.scss
  seedlet/assets/sass/blocks/paragraph/_editor.scss
  seedlet/assets/sass/blocks/paragraph/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Status] Needs Review, [Theme] Seedlet

#2285 Seedlet: Fix Theme Review bugs
  seedlet/404.php
  seedlet/archive.php
  seedlet/assets/css/ie.css
  seedlet/assets/js/customizer-validate-wcag-color-contrast.js
  seedlet/assets/sass/style.scss
  seedlet/classes/class-seedlet-custom-colors.php
  seedlet/classes/class-seedlet-svg-icons.php
  seedlet/footer.php
  seedlet/functions.php
  seedlet/header.php
  seedlet/image.php
  seedlet/inc/back-compat.php
  seedlet/inc/block-patterns.php
  seedlet/inc/customizer.php
  seedlet/inc/icon-functions.php
  seedlet/inc/template-functions.php
  seedlet/inc/template-tags.php
  seedlet/inc/woocommerce.php
  seedlet/index.php
  seedlet/page.php
  seedlet/search.php
  seedlet/single.php
  seedlet/style.css
  seedlet/template-parts/content/content-excerpt.php
  seedlet/template-parts/content/content-none.php
  seedlet/template-parts/content/content-page.php
  seedlet/template-parts/content/content-single.php
  seedlet/template-parts/content/content.php
  seedlet/template-parts/footer/footer-widgets.php
  seedlet/template-parts/header/entry-header.php
  seedlet/template-parts/header/site-branding.php
  seedlet/template-parts/post/author-bio.php
Labels: [Theme] Seedlet, [Type] Bug

#2297 Seedlet: Add theme support for custom spacing controls
  seedlet/functions.php
Labels: [Theme] Seedlet, [Theme] Seedlet Blocks, [Type] Enhancement
