Repository Automattic/themes, pull requests merged in 2021-04, with the labels that each got.

#3580 Fix/seedlet bcb pullquote
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_pullquote.scss
  seedlet-blocks/assets/theme.css
  seedlet-blocks/child-experimental-theme.json
  seedlet-blocks/experimental-theme.json
  seedlet-blocks/functions.php
Labels: [Theme] Seedlet Blocks

#3604 Add/bcb index query
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/block-template-parts/header.html
  blank-canvas-blocks/block-template-parts/navigation.html
  blank-canvas-blocks/block-templates/404.html
  blank-canvas-blocks/block-templates/index.html
  blank-canvas-blocks/block-templates/search.html
  blank-canvas-blocks/block-templates/singular.html
  blank-canvas-blocks/sass/base/_alignment.scss
Labels: [Theme] Blank Canvas Blocks

#3597 Style seedlet bcb latest post Block
  seedlet-blocks/assets/theme.css
  seedlet-blocks/child-experimental-theme.json
  seedlet-blocks/experimental-theme.json
  seedlet-blocks/functions.php
  seedlet-blocks/inc/block-patterns.php
  seedlet-blocks/inc/block-styles.php
  seedlet-blocks/package-lock.json
  seedlet-blocks/package.json
  seedlet-blocks/sass/blocks/_latest-posts.scss
  seedlet-blocks/sass/theme.scss
Labels: [Theme] Seedlet Blocks

#3553 BCB: Add post comments styles
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_post-comments.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3594 Mayland Blocks: remove theme supports
  mayland-blocks/functions.php
Labels: [Theme] Mayland Blocks

#3621 Mayland Blocks: fix site editor alignment
  mayland-blocks/style.css
Labels: [Theme] Mayland Blocks

#3630 Mayland Blocks: refactor social links in header
  mayland-blocks/block-template-parts/header.html
Labels: [Theme] Mayland Blocks

#3620 Seedlet Blocks: bring up-to-date with GB 10.3
  .github/workflows/sb_demo_deploy.yml
  blank-canvas-blocks/sass/ponyfill.scss
  seedlet-blocks/assets/theme.css
  seedlet-blocks/block-template-parts/footer.html
  seedlet-blocks/block-template-parts/post-meta.html
  seedlet-blocks/block-templates/index.html
  seedlet-blocks/block-templates/singular.html
  seedlet-blocks/child-experimental-theme.json
  seedlet-blocks/experimental-theme.json
  seedlet-blocks/functions.php
  seedlet-blocks/inc/block-patterns.php
  seedlet-blocks/inc/block-styles.php
  seedlet-blocks/index.php
  seedlet-blocks/package-lock.json
  seedlet-blocks/package.json
  seedlet-blocks/readme.txt
  seedlet-blocks/sass/blocks/_latest-posts.scss
  seedlet-blocks/sass/blocks/_links.scss
  seedlet-blocks/sass/blocks/_site-title.scss
  seedlet-blocks/sass/theme.scss
  seedlet-blocks/style-editor.css
  seedlet-blocks/style.css
Labels: [Theme] Seedlet Blocks

#3651 Quadrat: Override BCB's index.html template
  quadrat/footer.php
  quadrat/functions.php
  quadrat/header.php
  quadrat/index.php
Labels: [Theme] Quadrat

#3649 Quadrat: Add new heading sizes and other small misc changes
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/style.css
  seedlet-blocks/assets/theme.css
  seedlet-blocks/package-lock.json
  seedlet-blocks/package.json
  seedlet-blocks/sass/theme.scss
Labels: [Theme] Quadrat

#3667 Quadrat: override BCB's templates with php ones
  quadrat/404.php
  quadrat/functions.php
  quadrat/search.php
  quadrat/singular.php
  quadrat/templates/404.html
  quadrat/templates/search.html
Labels: [Theme] Quadrat

#3671 Seedlet: Update require paths
  blank-canvas/inc/wpcom-colors.php
  seedlet/inc/wpcom-colors.php
  spearhead/inc/wpcom-colors.php
Labels: [Theme] Seedlet

#3679 Seedlet: Add alignment support to the separator block
  seedlet/assets/sass/blocks/separator/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Type] Bug

#3547 Blank Canvas: Add "Coming Soon" Patterns
  blank-canvas-blocks/assets/images/pattern-food.jpg
  blank-canvas-blocks/assets/images/pattern-gradient.mp4
  blank-canvas-blocks/assets/images/pattern-painting.jpg
  blank-canvas-blocks/inc/block-patterns.php
  blank-canvas-blocks/style.css
  blank-canvas/assets/pattern-food.jpg
  blank-canvas/assets/pattern-gradient.mp4
  blank-canvas/assets/pattern-notice.png
  blank-canvas/assets/pattern-painting.jpg
  blank-canvas/assets/pattern-watch.jpg
  blank-canvas/inc/block-patterns.php
  blank-canvas/inc/wpcom.php
  blank-canvas/style.css
Labels: [Theme] Blank Canvas, [Type] Enhancement

#3682 Mayland Blocks - fix block validation errors from single.html
  mayland-blocks/block-templates/single.html
Labels: [Theme] Mayland Blocks, [Type] Bug

#3665 Quadrat: Add Latest episodes block pattern
  quadrat/assets/theme.css
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/header.php
  quadrat/inc/block-patterns.php
  quadrat/sass/_utility.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3689 BCB: updated readme with instructions to create child themes
  blank-canvas-blocks/readme.md
Labels: [Theme] Blank Canvas Blocks

#3688 BCB + children: added border supports to buttons
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_button.scss
  mayland-blocks/experimental-theme.json
  seedlet-blocks/experimental-theme.json
Labels: [Theme] Blank Canvas Blocks

#3715 BCB: Fix PHP warnings
  blank-canvas-blocks/functions.php
Labels: [Theme] Blank Canvas Blocks

#3716 BCB: fix custom fonts loading conditional
  blank-canvas-blocks/functions.php
Labels: [Theme] Blank Canvas Blocks, [Theme] Quadrat, [Type] Bug

#3717 Quadrat: Style lists
  blank-canvas-blocks/sass/blocks/_list.scss
  quadrat/assets/theme.css
  quadrat/sass/blocks/_list.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3676 Quadrat: add cover pattern
  quadrat/assets/rotated.svg
  quadrat/assets/theme.css
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/inc/block-patterns.php
  quadrat/inc/block-styles.php
  quadrat/package-lock.json
  quadrat/package.json
  quadrat/sass/blocks/_cover.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3724 Quadrat: Remove template_include override from functions.php
  quadrat/functions.php
Labels: [Theme] Quadrat

#3695 Quadrat: Add Episode block pattern
  quadrat/assets/theme.css
  quadrat/inc/block-patterns.php
  quadrat/sass/_utility.scss
  quadrat/sass/blocks/_media-text.scss
Labels: [Theme] Quadrat

#3729 Mayland Blocks: add padding to header
  mayland-blocks/block-template-parts/header.html
  mayland-blocks/style.css
Labels: [Theme] Mayland Blocks

#3730 Mayland Blocks: Fix the layout of the frontpage template
  mayland-blocks/block-templates/front-page.html
Labels: [Theme] Mayland Blocks

#3728 Mayland Blocks: Remove colors from the navigation block
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_navigation.scss
  mayland-blocks/experimental-theme.json
Labels: [Theme] Mayland Blocks

#3731 Mayland Blocks: update theme tags
  mayland-blocks/style.css
Labels: [Theme] Mayland Blocks

#3719 Quadrat: Add table styles
  quadrat/assets/theme.css
  quadrat/sass/blocks/_table.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3735 Quadrat: Update theme screenshot
  quadrat/screenshot.png
Labels: [Theme] Quadrat, [Type] Enhancement
