Repository Automattic/themes, pull requests merged in 2021-11, with the labels that each got.

#4956 Videomaker: Limit the width of the header to be wide
  videomaker/block-template-parts/header.html
  videomaker/block-templates/header-footer-only.html
  videomaker/block-templates/index.html
  videomaker/block-templates/page.html
  videomaker/block-templates/search.html
  videomaker/block-templates/single.html
Labels: [Theme] Videomaker

#4972 Blockbase: Fix warning when we try to set properties on arrays
  blockbase/inc/customizer/wp-customize-utils.php
Labels: [Theme] Blockbase

#4861 Remove/child theme
  blockbase/build.js
  blockbase/package-lock.json
  blockbase/package.json
  blockbase/readme.txt
  blockbase/rebuild-child-themes.sh
  blockbase/style.css
  geologist/child-theme.json
  geologist/package.json
  geologist/theme.json
  kerr/child-theme.json
  kerr/theme.json
  mayland-blocks/child-theme.json
  mayland-blocks/package.json
  mayland-blocks/theme.json
  payton/child-theme.json
  payton/theme.json
  quadrat/child-theme.json
  quadrat/package.json
  quadrat/theme.json
  russell/child-theme.json
  russell/package.json
  russell/theme.json
  seedlet-blocks/child-theme.json
  seedlet-blocks/package.json
  seedlet-blocks/theme.json
  skatepark/child-theme.json
  skatepark/package.json
  skatepark/theme.json
  videomaker/child-theme.json
  videomaker/package.json
  videomaker/theme.json
  zoologist/child-theme.json
  zoologist/package.json
  zoologist/theme.json
Labels: Do NOT merge!

#4967 Videomaker: Fix header navigation alignment
  videomaker/block-template-parts/header.html
Labels: [Theme] Videomaker

#4802 Blockbase: Remove unnecessary normalize code
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_normalize.scss
Labels: [Theme] Blockbase

#4809 Blockbase: remove unneeded styles for post template
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_post-template.scss
Labels: [Theme] Blockbase

#4968 Videomaker: Header navigation styles
  videomaker/assets/theme.css
  videomaker/sass/_links.scss
  videomaker/sass/_navigation.scss
Labels: [Theme] Videomaker

#4966 Skatepark: Increase menu spacing & style current menu item
  skatepark/assets/theme.css
  skatepark/block-template-parts/header.html
  skatepark/sass/blocks/_navigation.scss
Labels: [Theme] Skatepark

#4973 Zoologist: Add post meta icons to the index
  zoologist/block-templates/index.html
Labels: [Theme] Zoologist

#4988 Videomaker: Remove the space at the bottom of the about pattern
  videomaker/inc/patterns/about.php
Labels: [Theme] Videomaker

#4994 Update the copy for the Videomaker grid pattern
  videomaker/inc/patterns/pattern-grid.php
Labels: [Theme] Videomaker

#4832 Blockbase: Use new attributes for navigation block
  blockbase/block-template-parts/header.html
  geologist/block-template-parts/header.html
  kerr/block-template-parts/header.html
  mayland-blocks/block-template-parts/header.html
  payton/block-template-parts/header.html
  quadrat/block-template-parts/header.html
  russell/block-template-parts/header.html
  seedlet-blocks/block-template-parts/header.html
  skatepark/block-template-parts/header.html
  videomaker/block-template-parts/header.html
  zoologist/block-template-parts/header.html
Labels: [Theme] Blockbase

#5012 Videomaker: Specify grid pattern header spacing
  videomaker/inc/patterns/pattern-grid.php
Labels: [Theme] Videomaker

#4985 Make it possible to customize submenus in Blockbase
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_navigation.scss
  blockbase/theme.json
Labels: [Theme] Blockbase

#5021 Skatepark: Fix multiline tags and categories
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_mixins.scss
  skatepark/assets/theme.css
  skatepark/sass/elements/_post-meta.scss
Labels: [Theme] Skatepark

#5031 Blockbase: Change references to gutenberg_block_template_part, to block_template_part
  blockbase/footer.php
  blockbase/header.php
  blockbase/index.php
Labels: [Theme] Blockbase

#5006 Zoologist: Replace theme screenshot
  zoologist/screenshot.jpg
  zoologist/screenshot.png
Labels: [Type] Enhancement

#5034 Videomaker: Align footer credits block
  videomaker/assets/theme.css
  videomaker/block-template-parts/footer.html
  videomaker/sass/templates/_footer.scss
Labels: [Theme] Videomaker

#5035 Videomaker: Make footer group block align wide
  videomaker/block-template-parts/footer.html
Labels: [Theme] Videomaker

#5047 Blockbase: Add child CSS if it exists
  arbutus/functions.php
  blockbase/functions.php
  geologist/functions.php
  kerr/functions.php
  mayland-blocks/functions.php
  payton/functions.php
  quadrat/functions.php
  russell/functions.php
  seedlet-blocks/functions.php
  skatepark/functions.php
  videomaker/functions.php
  zoologist/functions.php
Labels: [Theme] Blockbase

#5030 Arbutus: Update theme json
  arbutus/theme.json
Labels: [Theme] Arbutus

#4984 Make it possible to configure the color of the social icons
  blockbase/inc/social-navigation.php
  blockbase/theme.json
Labels: [Theme] Blockbase

#5056 Videomaker: Fix alignments
  videomaker/block-templates/page.html
  videomaker/block-templates/single.html
Labels: [Theme] Videomaker

#5045 Videomaker: Awards pattern redone to not use images for text
  videomaker/assets/images/best_act.png
  videomaker/assets/images/best_short.png
  videomaker/assets/images/laurel_left.png
  videomaker/assets/images/laurel_right.png
  videomaker/assets/images/new_film.png
  videomaker/inc/patterns/awards.php
Labels: [Theme] Videomaker

#5032 Videomaker: Update footer navigation block
  videomaker/block-template-parts/footer.html
Labels: [Theme] Videomaker

#5038 Update all navigation blocks to new markup
  arbutus/block-template-parts/header.html
  blockbase/assets/ponyfill.css
  blockbase/block-template-parts/header.html
  blockbase/sass/base/_header.scss
  geologist/block-template-parts/header.html
  geologist/inc/patterns/header-with-rounded-site-logo.php
  kerr/block-template-parts/header.html
  mayland-blocks/block-template-parts/footer.html
  mayland-blocks/block-template-parts/header.html
  payton/block-template-parts/header.html
  quadrat/block-template-parts/header.html
  russell/block-template-parts/header.html
  seedlet-blocks/block-template-parts/header.html
  skatepark/block-template-parts/header.html
  skatepark/inc/patterns/pre-footer.php
  videomaker/block-template-parts/footer.html
  videomaker/block-template-parts/header.html
  videomaker/inc/patterns/background-video.php
  videomaker/inc/patterns/footer.php
  videomaker/inc/patterns/full-width-homepage.php
  videomaker/inc/patterns/header-description-and-grid-of-projects.php
  zoologist/block-template-parts/header.html
Labels: Do NOT merge!, [Theme] Blockbase

#4913 Blockbase: Remove .nocomments fix
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_post-comments.scss
Labels: Do NOT merge!, [Theme] Blockbase

#5065 Update README.md
  blockbase/README.md
Labels: [Theme] Blockbase

#5062 Videomaker: Update patterns
  videomaker/inc/patterns/pattern-grid.php
  videomaker/inc/patterns/pattern-offset-project-grid.php
  videomaker/inc/patterns/pattern-two-posts-with-excerpt.php
Labels: [Theme] Videomaker

#5064 Arbutus: Update Header
  arbutus/block-template-parts/header.html
Labels: [Theme] Arbutus

#5039 Paternize 404 Page
  blockbase/404.php
  blockbase/assets/ponyfill.css
  blockbase/block-templates/404.html
  blockbase/footer.php
  blockbase/functions.php
  blockbase/header.php
  blockbase/inc/block-patterns.php
  blockbase/inc/patterns/404.php
  blockbase/index.php
  blockbase/sass/base/_alignment.scss
  skatepark/404.php
  skatepark/block-templates/404.html
  videomaker/404.php
  videomaker/assets/theme.css
  videomaker/block-templates/404.html
Labels: [Theme] Blockbase

#5083 Videomaker: Fix "Film Poster" and "Background Video" patterns
  videomaker/assets/images/new_film.png
  videomaker/inc/patterns/background-video.php
Labels: [Type] Enhancement, [Theme] Videomaker

#5082 Adding static keyword to avoid error in PHP 8
  blockbase/inc/customizer/wp-customize-color-palettes.php
Labels: [Theme] Blockbase

#4980 Blockbase: Simplify the approach to font customization
  arbutus/theme.json
  blockbase/inc/customizer/wp-customize-fonts-control.js
  blockbase/inc/customizer/wp-customize-fonts-preview.js
  blockbase/inc/customizer/wp-customize-fonts.php
  blockbase/package-lock.json
  blockbase/package.json
  blockbase/readme.txt
  blockbase/style.css
  blockbase/theme.json
  geologist/theme.json
  kerr/theme.json
  mayland-blocks/theme.json
  payton/theme.json
  quadrat/theme.json
  russell/theme.json
  seedlet-blocks/theme.json
  skatepark/theme.json
  videomaker/theme.json
  zoologist/theme.json
Labels: [Theme] Blockbase

#5081 Videomaker: Update screenshot
  videomaker/screenshot.jpg
Labels: [Type] Task, [Theme] Videomaker

#5089 Videomaker: Fix fonts
  videomaker/theme.json
Labels: [Theme] Videomaker

#5033 Quadrat: fixing hover styles for buttons inside the subscribe form
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_button.scss
Labels: [Theme] Quadrat

#5059 Videomaker: Update Videomaker navigation
  blockbase/sass/blocks/_navigation.scss
  videomaker/assets/theme.css
  videomaker/block-template-parts/header.html
  videomaker/sass/_navigation.scss
Labels: [Theme] Videomaker

#5098 Videomaker: Add resource sources
  videomaker/readme.txt
Labels: [Theme] Videomaker

#5099 updated readme with blog links
  blockbase/README.md
  blockbase/readme.txt
Labels: [Theme] Blockbase

#5100 Blockbase: Remove layout inheritance from the footer template
  blockbase/block-templates/index.html
  russell/block-template-parts/footer.html
Labels: [Theme] Blockbase

#5101 Blockbase: Update heading font size
  blockbase/theme.json
Labels: [Theme] Blockbase

#5091 Videomaker: adjusting active states
  videomaker/assets/theme.css
  videomaker/sass/_links.scss
  videomaker/sass/blocks/_post-navigation-link.scss
Labels: [Theme] Videomaker

#5103 Blockbase: add a footer only template
  blockbase/block-templates/footer-only.html
  blockbase/theme.json
Labels: [Type] Enhancement, [Theme] Blockbase

#5104 Blockbase: Update paragraph gap
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_style.scss
  blockbase/sass/base/_text.scss
  blockbase/sass/blocks/_post-content.scss
  blockbase/sass/ponyfill.scss
Labels: [Theme] Blockbase

#5117 Blank Canvas 2: Add a block version of Blank Canvas
  blank-canvas-2/block-templates/home.html
  blank-canvas-2/readme.txt
  blank-canvas-2/screenshot.png
  blank-canvas-2/style.css
Labels: [Theme] Blank Canvas

#5115 Blockbase: Move table stripes to Blockbase
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_table.scss
  blockbase/theme.json
  geologist/assets/theme.css
  geologist/sass/blocks/_table.scss
  quadrat/assets/theme.css
  quadrat/package-lock.json
  quadrat/sass/blocks/_table.scss
  zoologist/assets/theme.css
  zoologist/sass/blocks/_table.scss
Labels: [Theme] Blockbase
