Repository Automattic/themes, pull requests merged in 2021-07, with the labels that each got.

#4143 Quadrat: Add a readme
  quadrat/readme.txt
Labels: [Theme] Quadrat

#4142 Blockbase + children: Add footer credits for wordpress.com
  mayland-blocks/block-template-parts/footer.html
  quadrat/block-template-parts/footer.html
  seedlet-blocks/block-template-parts/footer.html
Labels: [Theme] Blockbase

#4145 Blockbase/Seedlet/Mayland Blocks: Update block names in templates
  blockbase/block-templates/search.html
  mayland-blocks/block-template-parts/post-meta.html
  mayland-blocks/block-templates/index.html
  seedlet-blocks/block-template-parts/post-meta.html
  seedlet-blocks/block-templates/index.html
Labels: [Theme] Mayland Blocks, [Theme] Seedlet Blocks

#4147 Change meta icons to use mask
  blockbase/assets/ponyfill.css
  blockbase/sass/post/_meta.scss
  mayland-blocks/assets/theme.css
  mayland-blocks/sass/theme.scss
Labels: [Theme] Blank Canvas Blocks, [Theme] Blockbase, [Theme] Mayland Blocks, [Theme] Seedlet Blocks

#4109 Fix Comments Styles for BB & Co.
  blockbase/assets/ponyfill.css
  blockbase/block-templates/singular.html
  blockbase/inc/wpcom-style.css
  blockbase/sass/blocks/_post-comments.scss
  blockbase/theme.json
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/sass/blocks/_post-comments.scss
  quadrat/theme.json
  seedlet-blocks/theme.json
Labels: [Theme] Blockbase, [Theme] Quadrat

#4154 Universal themes: Add a setting to disable the Site Editor
  blockbase/functions.php
  blockbase/inc/disable-site-editor.php
  quadrat/block-templates/index.html
Labels: [Theme] Blockbase

#4166 Lodestar: update site_logo for compatibility with Jetpack 9.9
  lodestar/inc/wpcom.php
  lodestar/style.css
Labels: [Theme] Lodestar

#4116 Blockbase: Add font customization
  blockbase/functions.php
  blockbase/inc/wp-customize-color-palette-control.css
  blockbase/inc/wp-customize-color-palette-control.php
  blockbase/inc/wp-customize-color-palettes.js
  blockbase/inc/wp-customize-color-palettes.php
  blockbase/inc/wp-customize-colors-preview.js
  blockbase/inc/wp-customize-colors.php
  blockbase/inc/wp-customize-fonts-preview.js
  blockbase/inc/wp-customize-fonts.php
Labels: [Theme] Quadrat

#4176 Fix FSE padding for BB themes.
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_alignment.scss
  blockbase/sass/base/_normalize.scss
Labels: [Theme] Blockbase

#4171 Quadrat: block styles for query block
  quadrat/assets/theme.css
  quadrat/inc/block-patterns.php
  quadrat/inc/block-styles.php
  quadrat/inc/patterns/query-diamond.php
  quadrat/sass/block-styles/_cover.scss
  quadrat/sass/block-styles/_query.scss
  quadrat/sass/blocks/_query.scss
  quadrat/sass/templates/_meta.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#4072 added tagline to header templates
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_breakpoints.scss
  blockbase/sass/blocks/_query-pagination.scss
  quadrat/assets/theme.css
  quadrat/block-template-parts/header.html
  quadrat/sass/block-patterns/_headlines.scss
  quadrat/sass/blocks/_media-text.scss
  quadrat/sass/templates/_header.scss
  quadrat/sass/templates/_meta.scss
Labels: [Theme] Quadrat

#4175 BB & Co: style text color of meta for latest posts block
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_latest-posts.scss
  blockbase/sass/ponyfill.scss
  blockbase/theme.json
  mayland-blocks/theme.json
  quadrat/theme.json
  seedlet-blocks/child-theme.json
  seedlet-blocks/theme.json
Labels: [Theme] Blockbase, [Theme] Quadrat

#4172 Blockbase: Fix color customizations
  blockbase/inc/wp-customize-colors.php
  blockbase/inc/wp-customize-fonts.php
Labels: [Theme] Blockbase

#4153 Blockbase + children: increased minor version
  blockbase/package-lock.json
  blockbase/package.json
  blockbase/readme.txt
  blockbase/style.css
  mayland-blocks/package-lock.json
  mayland-blocks/package.json
  mayland-blocks/readme.txt
  mayland-blocks/style.css
  quadrat/package-lock.json
  quadrat/package.json
  quadrat/readme.txt
  quadrat/style.css
  seedlet-blocks/package-lock.json
  seedlet-blocks/package.json
  seedlet-blocks/readme.txt
  seedlet-blocks/style.css
Labels: [Theme] Blockbase, [Theme] Mayland Blocks, [Theme] Quadrat, [Theme] Seedlet Blocks

#4183 Blockbase: Update font name
  blockbase/theme.json
Labels: [Theme] Blockbase

#4187 Quadrat: Remove PHP templates
  quadrat/404.php
  quadrat/block-template-parts/404.html
  quadrat/block-template-parts/index.html
  quadrat/block-template-parts/page.html
  quadrat/block-template-parts/search.html
  quadrat/block-template-parts/single.html
  quadrat/block-templates/404.html
  quadrat/block-templates/index.html
  quadrat/block-templates/page.html
  quadrat/block-templates/search.html
  quadrat/block-templates/single.html
  quadrat/footer.php
  quadrat/header.php
  quadrat/page.php
  quadrat/search.php
  quadrat/single.php
Labels: [Theme] Quadrat

#4184 Blockbase: Remove the background color from Navigation Links
  blockbase/theme.json
  mayland-blocks/theme.json
  quadrat/theme.json
  seedlet-blocks/theme.json
Labels: [Theme] Blockbase

#4192 Quadrat: add a front page template
  quadrat/block-templates/front-page.html
Labels: [Theme] Quadrat

#4186 Blockbase: Remove alignment fix
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_alignment.scss
Labels: [Theme] Blockbase

#4195 Quadrat: Sync post title position on single and archive pages
  quadrat/assets/theme.css
  quadrat/block-template-parts/header.html
  quadrat/block-templates/single.html
  quadrat/sass/blocks/_post-template.scss
  quadrat/sass/templates/_index.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#4210 Blockbase + children: Updated tags
  blockbase/style.css
  mayland-blocks/style.css
  quadrat/style.css
  seedlet-blocks/style.css
Labels: [Theme] Blockbase, [Theme] Mayland Blocks, [Theme] Quadrat, [Theme] Seedlet Blocks

#4213 Quadrat: add illustrations as starter content
  quadrat/assets/illustrations/Pink-square-with-dark-shadow-on-orange-background.png
  quadrat/assets/illustrations/circle-rolling-over-a-triangle.png
  quadrat/assets/illustrations/combination-of-purple-triangles.png
  quadrat/assets/illustrations/combination-of-white-orange-and-pink-triangles.png
  quadrat/assets/illustrations/complex-shape-combination-and-two-pink-squares-on-a-dark-purple-background.png
  quadrat/assets/illustrations/group-of-squares-displayed-diagonally.png
  quadrat/assets/illustrations/group-of-white-pink-and-orange-circles.png
  quadrat/assets/illustrations/many-pink-squares-overlapped.png
  quadrat/assets/illustrations/orange-and-pink-shapes-displayed-in-different-ways.png
  quadrat/assets/illustrations/orange-triangle-in-purple-background.png
  quadrat/assets/illustrations/pink-square-and-dark-purple-triangle.png
  quadrat/assets/illustrations/pink-squared-shapes-combination.png
  quadrat/assets/illustrations/pink-squares-on-orange-background.png
  quadrat/assets/illustrations/solid-shapes-in-purple-pink-and-white.png
  quadrat/assets/illustrations/squares-changing-opacity-on-a-pink-background.png
  quadrat/assets/illustrations/three-circles-decreasing-in-size-on-a-pink-background.png
  quadrat/assets/illustrations/two-circles-and-a-squared-shape-on-pink-background.png
  quadrat/assets/illustrations/white-and-orange-squares-on-light-purple-background.png
  quadrat/functions.php
  quadrat/inc/starter-content.php
Labels: [Theme] Quadrat

#4216 Quadrat: Use the breakpoint mixins
  quadrat/sass/block-styles/_query.scss
Labels: [Theme] Quadrat

#4209 Blockbase: Fix gap on image-no-margin utility class when image has a hyperlink
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_utility.scss
Labels: [Theme] Blockbase, [Theme] Quadrat

#4219 Blockbase: Switch logic for enabling Site Editor
  blockbase/inc/disable-site-editor.php
Labels: [Theme] Blockbase

#4190 Quadrat: Remove bottom space
  blockbase/assets/ponyfill.css
  blockbase/block-templates/404.html
  blockbase/block-templates/header-footer-only.html
  blockbase/block-templates/index.html
  blockbase/block-templates/search.html
  blockbase/block-templates/singular.html
  blockbase/sass/base/_layout.scss
  blockbase/sass/base/_style.scss
  mayland-blocks/assets/theme.css
  mayland-blocks/sass/theme.scss
  quadrat/assets/theme.css
  quadrat/block-templates/404.html
  quadrat/block-templates/front-page.html
  quadrat/block-templates/index.html
  quadrat/block-templates/page.html
  quadrat/block-templates/search.html
  quadrat/block-templates/single.html
  quadrat/sass/templates/_header.scss
  seedlet-blocks/block-templates/index.html
  seedlet-blocks/block-templates/singular.html
Labels: [Theme] Quadrat

#4214 Quadrat: correct hover styles for titles and squares on block pattern
  quadrat/assets/theme.css
  quadrat/sass/block-styles/_query.scss
Labels: [Theme] Quadrat

#4217 IP2: fix cover font color on light background
  independent-publisher-2/css/editor-blocks.css
  independent-publisher-2/style.css
Labels: [Theme] Independent Publisher 2

#4223 Quadrat: bring back rotation animation
  quadrat/assets/theme.css
  quadrat/sass/block-styles/_query.scss
Labels: [Theme] Quadrat

#4227 Blockbase: Update font weights
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Blockbase

#4234 Blockbase + Children: fix Marketing bar overlap
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_normalize.scss
Labels: [Theme] Blockbase

#4206 Blockbase: Disable the Site Editor on WPCOM
  blockbase/functions.php
  blockbase/inc/disable-site-editor.php
  blockbase/inc/toggle-site-editor.php
  blockbase/inc/wpcom.php
Labels: [Theme] Blockbase

#4237 Quadrat: replace screenshot
  quadrat/screenshot.png
Labels: [Theme] Quadrat

#4181 Blockbase: Clear cache when changing global styles from the Customizer
  blockbase/inc/customizer/wp-customize-colors.php
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Blockbase

#4238 Quadrat: Change the name of the front page template
  blockbase/build.js
  quadrat/block-templates/page-without-title.html
  quadrat/child-theme.json
  quadrat/theme.json
Labels: [Theme] Quadrat

#4245 Blank Canvas: update screenshot to make it looks like something there
  blank-canvas/screenshot-alt.png
  blank-canvas/screenshot.png
Labels: [Theme] Blank Canvas

#4249 Quadrat: replace screenshot again
  quadrat/screenshot.png
Labels: [Theme] Quadrat

#4247 Quadrat: add illustrations as patterns
  quadrat/assets/illustrations/pink-square-with-dark-shadow-on-orange-background.png
  quadrat/inc/block-patterns.php
Labels: [Theme] Quadrat

#4255 Quadrat: change label for illustrations patterns
  quadrat/inc/block-patterns.php
Labels: [Theme] Quadrat

#4253 Unnested blockbase post-content blocks from parent layouts
  blockbase/block-templates/header-footer-only.html
  blockbase/block-templates/search.html
  blockbase/block-templates/singular.html
Labels: [Theme] Blockbase

#4269 Quadrat: Remove labels from Pagination links
  quadrat/block-templates/index.html
  quadrat/inc/patterns/query-diamond.php
Labels: [Theme] Quadrat

#4325 Skatepark: added a starting boilerplate
  blockbase/rebuild-child-themes.sh
  skatepark/assets/theme.css
  skatepark/block-templates/index.html
  skatepark/child-theme.json
  skatepark/functions.php
  skatepark/index.php
  skatepark/package-lock.json
  skatepark/package.json
  skatepark/readme.txt
  skatepark/sass/theme.scss
  skatepark/style.css
  skatepark/theme.json
Labels: [Theme] Skatepark

#4326 Skatepark: color palette
  skatepark/assets/theme.css
  skatepark/child-theme.json
  skatepark/sass/base/_text.scss
  skatepark/sass/theme.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#4332 Blockbase: make 404 into a php template so it can be translated
  blockbase/404.php
  blockbase/assets/ponyfill.css
  blockbase/block-templates/404.html
  blockbase/block-templates/search.html
  blockbase/sass/base/_alignment.scss
  blockbase/style.css
  blockbase/theme.json
  quadrat/block-templates/404.html
  quadrat/block-templates/search.html
  quadrat/child-theme.json
  quadrat/theme.json
Labels: [Theme] Blockbase, [Theme] Quadrat

#4263 Seedlet: fixes spacing on query block children
  seedlet/assets/sass/structure/_vertical-margins.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#4333 Skatepark: typography settings
  blockbase/inc/customizer/wp-customize-fonts.php
  blockbase/theme.json
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/child-theme.json
  quadrat/sass/blocks/_query.scss
  quadrat/theme.json
  seedlet-blocks/theme.json
  skatepark/child-theme.json
  skatepark/sass/base/_text.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#4338 Skatepark: theme.json: add margin/spacing settings + content layout
  skatepark/child-theme.json
  skatepark/theme.json
Labels: [Theme] Skatepark

#4302 Add: Theme creation checklist script
  create-a-theme-checklist.js
Labels: [Status] Needs Review
