Repository Automattic/themes, pull requests merged in 2021-08, with the labels that each got.

#4350 Blockbase: check that alternative colors are defined in the default palette
  blockbase/inc/customizer/wp-customize-color-palettes.php
Labels: [Theme] Blockbase

#4353 Skatepark: Add alternative color palettes
  blockbase/inc/customizer/wp-customize-color-palette-control.css
  skatepark/child-theme.json
  skatepark/theme.json
Labels: [Theme] Skatepark

#4364 Skatepark: button and link styles and settings
  skatepark/assets/theme.css
  skatepark/child-theme.json
  skatepark/functions.php
  skatepark/sass/blocks/_buttons.scss
  skatepark/sass/elements/_links.scss
  skatepark/sass/theme.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#4362 Independent Publisher 2: Make color annotations button rule more specific
  independent-publisher-2/inc/wpcom-colors.php
  independent-publisher-2/style.css
Labels: [Status] Needs Review, [Theme] Independent Publisher 2

#4361 Skatepark: typography adjustments from design feedback
  seedlet-blocks/theme.json
  skatepark/child-theme.json
  skatepark/theme.json
Labels: design, [Theme] Skatepark

#4032 Remove dark mode theme supports
  rivington/functions.php
  sophisticated-business/functions.php
Labels: [Theme] Rivington

#4343 Skatepark: footer and pre footer block pattern
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_search.scss
  blockbase/sass/elements/_forms.scss
  skatepark/assets/theme.css
  skatepark/block-template-parts/footer.html
  skatepark/child-theme.json
  skatepark/functions.php
  skatepark/inc/block-patterns.php
  skatepark/inc/patterns/pre-footer.php
  skatepark/sass/block-patterns/_pre-footer.scss
  skatepark/sass/blocks/_buttons.scss
  skatepark/sass/blocks/_search.scss
  skatepark/sass/elements/_links.scss
  skatepark/sass/theme.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#4375 Blockbase: Add Red Hat Display to the list of supported fonts
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Blockbase

#4377 Blockbase: Load editor styles for blockbase before those of the child theme
  blockbase/functions.php
  skatepark/functions.php
Labels: [Theme] Blockbase

#4376 Blockbase: reduces specificity for search block selectors
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_search.scss
Labels: [Theme] Blockbase

#4372 Independent Publisher 2: Fix menu toggle for default color scheme
  independent-publisher-2/style.css
Labels: [Status] Needs Review

#4379 Blockbase: remove unused code
  blockbase/theme.json
  mayland-blocks/theme.json
  quadrat/theme.json
  seedlet-blocks/theme.json
  skatepark/theme.json
Labels: [Theme] Blockbase

#4368 Blockbase: Clear gutenberg transient
  blockbase/inc/customizer/wp-customize-colors.php
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Blockbase

#4354 Skatepark: add the header
  skatepark/assets/theme.css
  skatepark/block-template-parts/header.html
  skatepark/block-templates/singular.html
  skatepark/child-theme.json
  skatepark/sass/templates/_header.scss
  skatepark/sass/theme.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#4389 Blockbase: Update font customization approach
  blockbase/assets/ponyfill.css
  blockbase/functions.php
  blockbase/inc/customizer/wp-customize-fonts-preview.js
  blockbase/inc/customizer/wp-customize-fonts.php
  blockbase/inc/customizer/wp-customize-utils.php
  blockbase/sass/blocks/_button-mixins.scss
  blockbase/sass/blocks/_paragraph.scss
  blockbase/sass/blocks/_pullquote.scss
  blockbase/sass/elements/_forms.scss
  blockbase/theme.json
  mayland-blocks/child-theme.json
  mayland-blocks/theme.json
  quadrat/child-theme.json
  quadrat/theme.json
  seedlet-blocks/child-theme.json
  seedlet-blocks/theme.json
  skatepark/child-theme.json
  skatepark/theme.json
Labels: [Theme] Blockbase

#4402 Blockbase: Fix 404 template
  blockbase/404.php
  blockbase/footer.php
  blockbase/header.php
  skatepark/404.php
Labels: [Theme] Blockbase

#4401 Skatepark: made buttons uppercase by default
  skatepark/child-theme.json
  skatepark/theme.json
Labels: [Theme] Skatepark

#4390 Skatepark: add text list with button block pattern
  skatepark/assets/theme.css
  skatepark/functions.php
  skatepark/inc/block-patterns.php
  skatepark/inc/block-styles.php
  skatepark/inc/patterns/text-list-with-button.php
  skatepark/sass/elements/_headings.scss
  skatepark/sass/theme.scss
Labels: [Theme] Skatepark

#4396 Skatepark: full width image pattern
  skatepark/assets/theme.css
  skatepark/child-theme.json
  skatepark/functions.php
  skatepark/inc/block-patterns.php
  skatepark/inc/block-styles.php
  skatepark/inc/patterns/full-width-image-with-aside-caption.php
  skatepark/sass/block-styles/_image-caption.scss
  skatepark/sass/theme.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#4397 Skatepark: two columns of text block pattern
  skatepark/assets/theme.css
  skatepark/functions.php
  skatepark/inc/block-patterns.php
  skatepark/inc/block-styles.php
  skatepark/inc/patterns/two-columns-of-text.php
  skatepark/sass/block-styles/_indented-paragraph.scss
  skatepark/sass/theme.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#4405 Skatepark: index template
  skatepark/assets/theme.css
  skatepark/block-templates/index.html
  skatepark/child-theme.json
  skatepark/inc/block-styles.php
  skatepark/sass/base/_mixins.scss
  skatepark/sass/block-styles/_indented-paragraph.scss
  skatepark/sass/blocks/_query.scss
  skatepark/sass/blocks/_separator.scss
  skatepark/sass/elements/_links.scss
  skatepark/sass/templates/_index.scss
  skatepark/sass/theme.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#4437 Skatepark: update names in patterns
  skatepark/inc/patterns/text-list-with-button.php
  skatepark/inc/patterns/two-columns-of-text.php
Labels: [Theme] Skatepark

#4442 Skatepark applied duotone to index featured images
  skatepark/block-templates/index.html
Labels: [Theme] Skatepark

#4414 Skatepark: Add paragraph with quote block pattern
  skatepark/assets/theme.css
  skatepark/inc/block-patterns.php
  skatepark/inc/block-styles.php
  skatepark/inc/patterns/paragraph-with-quote.php
  skatepark/sass/block-patterns/_paragraph-with-quote.scss
  skatepark/sass/block-styles/_side-quote.scss
  skatepark/sass/theme.scss
Labels: [Theme] Skatepark

#4410 Skatepark: Add search template
  skatepark/404.php
  skatepark/block-templates/search.html
  skatepark/sass/blocks/_query.scss
Labels: [Theme] Skatepark

#4380 Skatepark: Add Testimonial block pattern
  skatepark/assets/theme.css
  skatepark/inc/block-patterns.php
  skatepark/inc/block-styles.php
  skatepark/inc/patterns/testimonial.php
  skatepark/sass/block-styles/_testimonial-quote.scss
  skatepark/sass/theme.scss
Labels: [Theme] Skatepark

#4450 Skatepark: add screenshot
  skatepark/screenshot.png
Labels: [Theme] Skatepark

#4403 Skatepark: add mixed media in container pattern
  skatepark/assets/images/skateboard-sideways.jpg
  skatepark/assets/theme.css
  skatepark/inc/block-patterns.php
  skatepark/inc/patterns/mixed-media-in-container.php
  skatepark/readme.txt
  skatepark/sass/block-patterns/_mixed-media-in-container.scss
  skatepark/sass/theme.scss
Labels: [Theme] Skatepark

#4446 Seedlet Blocks: Fix block-level global styling for site title block
  seedlet-blocks/assets/theme.css
  seedlet-blocks/sass/blocks/_links.scss
  seedlet-blocks/sass/blocks/_site-title.scss
Labels: [Type] Bug, [Theme] Seedlet Blocks

#4464 Skatepark: apply wide width to header
  skatepark/assets/theme.css
  skatepark/block-template-parts/header.html
  skatepark/sass/templates/_header.scss
Labels: [Theme] Skatepark

#4492 Skatepark: readme.txt
  skatepark/assets/images/riding-skateboard.jpeg
  skatepark/assets/images/skatepark.jpg
  skatepark/functions.php
  skatepark/inc/patterns/columns-in-container.php
  skatepark/inc/patterns/full-width-image-with-aside-caption.php
  skatepark/readme.txt
  skatepark/style.css
Labels: [Theme] Skatepark

#4468 Blockbase: Update Blockbase and children to use flex
  blockbase/assets/ponyfill.css
  blockbase/block-template-parts/header.html
  blockbase/sass/base/_header.scss
  blockbase/sass/base/_mixins.scss
  blockbase/sass/post/_meta.scss
  blockbase/theme.json
  mayland-blocks/block-template-parts/header.html
  mayland-blocks/block-template-parts/post-meta.html
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/block-template-parts/header.html
  quadrat/block-templates/single.html
  quadrat/inc/patterns/query-diamond.php
  quadrat/sass/templates/_meta.scss
  quadrat/theme.json
  seedlet-blocks/block-template-parts/post-meta.html
  seedlet-blocks/theme.json
  skatepark/assets/theme.css
  skatepark/block-templates/single.html
  skatepark/sass/elements/_post-meta.scss
  skatepark/theme.json
Labels: [Theme] Blockbase

#4471 Skatepark: Logo alignment
  skatepark/assets/theme.css
  skatepark/block-template-parts/header.html
  skatepark/sass/templates/_header.scss
Labels: [Theme] Skatepark
