Repository Automattic/themes, pull requests merged in 2021-12, with the labels that each got.

#5116 Remove unused search block code
  geologist/assets/theme.css
  geologist/sass/blocks/_search.scss
  geologist/sass/theme.scss
  quadrat/assets/theme.css
  quadrat/sass/blocks/_search.scss
  quadrat/sass/theme.scss
  zoologist/assets/theme.css
  zoologist/sass/blocks/_search.scss
  zoologist/sass/theme.scss
Labels: [Theme] Quadrat, [Theme] Geologist, [Theme] Zoologist

#5114 Move calendar styles to blockbase
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_calendar.scss
  blockbase/sass/ponyfill.scss
  geologist/assets/theme.css
  geologist/sass/theme.scss
  quadrat/assets/theme.css
  quadrat/sass/blocks/_calendar.scss
  quadrat/sass/theme.scss
  zoologist/assets/theme.css
  zoologist/sass/blocks/_calendar.scss
  zoologist/sass/theme.scss
Labels: [Theme] Blockbase

#5122 Blockbase: Add padding to footer
  blockbase/block-template-parts/footer.html
Labels: [Theme] Blockbase

#5128 Blockbase: Fix navigation
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_navigation.scss
Labels: [Theme] Blockbase

#5139 Videomaker: Make the footer wide not full
  videomaker/block-template-parts/footer.html
Labels: [Theme] Videomaker

#5143 Geologist: Remove unused template
  geologist/block-template-parts/post-meta.html
Labels: [Theme] Geologist

#5144 Add default layout to Geologist single posts
  geologist/block-templates/single.html
Labels: [Theme] Geologist

#5129 Blockbase: refactor template part blocks
  arbutus/block-templates/header-footer-only.html
  arbutus/block-templates/index.html
  arbutus/block-templates/page.html
  arbutus/block-templates/single.html
  blockbase/block-template-parts/footer.html
  blockbase/block-template-parts/post-meta-icons.html
  blockbase/block-templates/404.html
  blockbase/block-templates/footer-only.html
  blockbase/block-templates/header-footer-only.html
  blockbase/block-templates/index.html
  blockbase/block-templates/page.html
  blockbase/block-templates/search.html
  blockbase/block-templates/single.html
  geologist/block-templates/index.html
  geologist/block-templates/single.html
  mayland-blocks/block-templates/index.html
  payton/block-templates/header-footer-only.html
  russell/block-templates/header-footer-only.html
  russell/block-templates/index.html
  russell/block-templates/page.html
  russell/block-templates/search.html
  russell/block-templates/single.html
  seedlet-blocks/block-template-parts/footer.html
  seedlet-blocks/block-templates/index.html
  seedlet-blocks/block-templates/singular.html
  skatepark/block-template-parts/footer.html
  skatepark/block-templates/404.html
  skatepark/block-templates/index.html
  skatepark/block-templates/page.html
  skatepark/block-templates/search.html
  skatepark/block-templates/single.html
  videomaker/block-templates/404.html
  videomaker/block-templates/header-footer-only.html
  videomaker/block-templates/index.html
  videomaker/block-templates/page.html
  videomaker/block-templates/search.html
  videomaker/block-templates/single.html
  zoologist/block-templates/index.html
  zoologist/block-templates/single.html
Labels: [Theme] Blockbase

#5149 Blockbase Fonts: Only unset properties that are set
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Blockbase

#5147 Blockbase: replace user key with custom
  blockbase/functions.php
  blockbase/inc/customizer/wp-customize-colors.php
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Blockbase

#5165 Videomaker: Add a group to apply layout the header and footer
  videomaker/block-template-parts/footer.html
  videomaker/block-template-parts/header.html
Labels: [Theme] Videomaker

#5158 Button 2: add jquery to deps array
  button-2/functions.php
Labels: [Status] Needs Review

#5164 Update title and names in Videomaker screenshot + patterns
  videomaker/inc/patterns/about.php
  videomaker/inc/patterns/description.php
  videomaker/inc/patterns/film-credits.php
  videomaker/inc/patterns/film-poster.php
  videomaker/inc/patterns/footer.php
  videomaker/inc/patterns/header-description-and-grid-of-projects.php
  videomaker/inc/patterns/header-names-list-and-grid.php
  videomaker/inc/patterns/pattern-grid.php
  videomaker/inc/patterns/pattern-offset-project-grid.php
  videomaker/inc/patterns/pattern-two-posts-with-excerpt.php
  videomaker/inc/patterns/post-i-love-you.php
  videomaker/screenshot.jpg
Labels: [Type] Enhancement, [Theme] Videomaker

#5193 Blockbase: Force DOMXPath to use utf-8 encoding
  blockbase/inc/social-navigation.php
Labels: [Theme] Blockbase

#4369 Try adding "Stewart", a light blogging theme with a sidebar
  stewart/functions.php
  stewart/index.php
  stewart/parts/footer.html
  stewart/parts/header-spacer.html
  stewart/parts/header.html
  stewart/parts/sidebar.html
  stewart/readme.txt
  stewart/screenshot.png
  stewart/style.css
  stewart/templates/archive.html
  stewart/templates/blank.html
  stewart/templates/header-footer-only.html
  stewart/templates/index.html
  stewart/templates/page.html
  stewart/templates/search.html
  stewart/templates/sidebar-footer-only.html
  stewart/templates/single.html
  stewart/theme.json
Labels: [Status] Needs Testing, [Theme] Stewart

#5190 Skatepark: simplify nav
  blockbase/block-template-parts/header-wide.html
  blockbase/inc/social-navigation.php
  skatepark/assets/theme.css
  skatepark/block-template-parts/header-ollie.html
  skatepark/block-templates/404.html
  skatepark/block-templates/archive.html
  skatepark/block-templates/index.html
  skatepark/block-templates/page.html
  skatepark/block-templates/search.html
  skatepark/block-templates/single.html
  skatepark/package-lock.json
  skatepark/sass/templates/_header.scss
  skatepark/sass/theme.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#5223 Add TikTok icon to social menu in Varia, Seedlet + others
  seedlet/classes/class-seedlet-svg-icons.php
  varia/classes/class-varia-svg-icons.php
Labels: [Theme] Varia, [Theme] Seedlet

#5229 Skatepark: Remove margin of the post content block
  skatepark/assets/theme.css
  skatepark/sass/blocks/_post-content.scss
  skatepark/sass/theme.scss
Labels: [Theme] Skatepark

#5212 Varia: Remove code that changes the cover block colors
  alves/style-rtl.css
  alves/style.css
  balasana/inc/wpcom-colors.php
  balasana/inc/wpcom-editor-colors.php
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/inc/wpcom-colors.php
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/inc/wpcom-colors.php
  brompton/inc/wpcom-editor-colors.php
  brompton/style-rtl.css
  brompton/style.css
  coutoire/inc/wpcom-colors.php
  coutoire/inc/wpcom-editor-colors.php
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/style-rtl.css
  dalston/style.css
  exford/inc/wpcom-colors.php
  exford/inc/wpcom-editor-colors.php
  exford/style-rtl.css
  exford/style.css
  hever/style-rtl.css
  hever/style.css
  leven/inc/wpcom-colors.php
  leven/inc/wpcom-editor-colors.php
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/inc/wpcom-colors.php
  maywood/inc/wpcom-editor-colors.php
  maywood/style-rtl.css
  maywood/style.css
  morden/style-rtl.css
  morden/style.css
  redhill/inc/wpcom-colors.php
  redhill/inc/wpcom-editor-colors.php
  redhill/style-rtl.css
  redhill/style.css
  rivington/inc/wpcom-colors.php
  rivington/inc/wpcom-editor-colors.php
  rivington/style-rtl.css
  rivington/style.css
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style-rtl.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
  varia/inc/wpcom-colors.php
  varia/inc/wpcom-editor-colors.php
  varia/sass/blocks/cover/_style.scss
  varia/style-rtl.css
  varia/style.css
Labels: [Theme] Varia

#5235 Deploy: Use the requirement rather than the tested version
  theme-utils.mjs
Labels: Tools

#5239 Quadrat: Add images for different color variations
  quadrat-black/assets/illustrations/girl-one-illustration.png
  quadrat-black/assets/illustrations/girl-two-illustration.png
  quadrat-green/assets/illustrations/girl-one-illustration.png
  quadrat-green/assets/illustrations/girl-two-illustration.png
  quadrat-red/assets/illustrations/girl-one-illustration.png
  quadrat-red/assets/illustrations/girl-two-illustration.png
  quadrat-white/assets/illustrations/girl-one-illustration.png
  quadrat-white/assets/illustrations/girl-two-illustration.png
  quadrat-yellow/assets/illustrations/girl-one-illustration.png
  quadrat-yellow/assets/illustrations/girl-two-illustration.png
Labels: [Theme] Quadrat

#5230 Blank Canvas Blocks: Rename to Blank Canvas - only the slug should be renamed
  blank-canvas-blocks/readme.txt
  blank-canvas-blocks/style.css
Labels: [Theme] Blank Canvas

#5233 removed header template part from skatepark's json
  skatepark/theme.json
Labels: [Theme] Skatepark

#5241 Blockbase: fix variables for 2 colored themes
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_table.scss
  blockbase/theme.json
Labels: [Theme] Blockbase, [Theme] Skatepark

#5199 Seedlet: Fix navigation block styles in editor
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/blocks/_editor.scss
  seedlet/assets/sass/blocks/navigation/_editor.scss
Labels: [Theme] Seedlet

#5220 Blockbase: Update alignment rules
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_alignment.scss
Labels: [Theme] Blockbase

#5248 Blockbase: Rename Gutenberg functions
  blockbase/inc/customizer/wp-customize-colors.php
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Blockbase

#5250 Fallback to the old function name in case users are still on the old version of Gutenben
  blockbase/inc/customizer/wp-customize-colors.php
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Blockbase

#5251 Blockbase: Update customizer PHP library to work with latest version of Gutenberg
  blockbase/inc/customizer/wp-customize-colors.php
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Blockbase

#5253 Blockbase: Update the package.json
  blockbase/assets/ponyfill.css
  blockbase/package-lock.json
  blockbase/package.json
  package.json
Labels: [Theme] Blockbase
