Repository Automattic/themes, pull requests merged in 2021-01, with the labels that each got.

#2959 Add category description to archive page
  seedlet/archive.php
  seedlet/assets/sass/pages/_archives.scss
  seedlet/package-lock.json
  seedlet/style.css
Labels: Involves Happiness, [Status] Needs Review, [Type] Enhancement, design

#2962 Try: Adding a "Blank" Theme
  blank-page/footer.php
  blank-page/functions.php
  blank-page/header.php
  blank-page/inc/wpcom-colors-utils.php
  blank-page/inc/wpcom-colors.php
  blank-page/inc/wpcom-editor-colors.php
  blank-page/page.php
  blank-page/readme.txt
  blank-page/screenshot.png
  blank-page/single.php
  blank-page/style.css
  blank-page/template-parts/content/content-singular.php
  blank-page/variables.css
Labels: [Type] Enhancement

#2983 Blank Canvas: Remove option to hide page title on the homepage.
  blank-canvas/inc/wpcom.php
Labels: [Type] Bug

#2984 Blank Canvas: Customizer Fixes
  blank-canvas/functions.php
Labels: [Theme] Blank Canvas, [Type] Bug, [Type] Enhancement

#2977 Blank Canvas: Only load the header if there's content in it
  blank-canvas/header.php
Labels: [Theme] Blank Canvas, [Type] Bug

#2999 Varia: fix to add logic to prevent empty menu button
  varia/header.php
Labels: Involves Happiness, [Theme] Varia, [Type] Bug

#2985 Seedlet: Add hide site header/footer Customizer options for the homepage
  blank-canvas/footer.php
  blank-canvas/functions.php
  blank-canvas/header.php
  blank-canvas/inc/wpcom.php
  blank-canvas/template-parts/footer/footer-content.php
  blank-canvas/template-parts/header/header-content.php
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/components/entry/_content.scss
  seedlet/assets/sass/components/entry/_meta.scss
  seedlet/footer.php
  seedlet/header.php
  seedlet/inc/customizer.php
  seedlet/inc/template-functions.php
  seedlet/style-rtl.css
  seedlet/style.css
  seedlet/template-parts/footer/footer-content.php
  seedlet/template-parts/footer/footer-info.php
  seedlet/template-parts/footer/footer-menu.php
  seedlet/template-parts/header/header-content.php
  seedlet/template-parts/header/navigation.php
  spearhead/header.php
  spearhead/template-parts/header/navigation.php
Labels: [Theme] Seedlet, [Theme] Spearhead, [Type] Enhancement

#3008 Seedlet: Only hide site header/footer if the homepage is set to a static page
  seedlet/template-parts/footer/footer-content.php
  seedlet/template-parts/header/header-content.php
Labels: [Theme] Seedlet, [Type] Bug

#2992 Blank Canvas: Improve top margin CSS rules
  blank-canvas/style.css
Labels: [Theme] Blank Canvas, [Type] Enhancement

#3014 Seedlet: Fix wrapping cart headers
  seedlet/assets/css/style-woocommerce-rtl.css
  seedlet/assets/css/style-woocommerce.css
  seedlet/assets/sass/vendors/woocommerce/pages/_cart.scss
Labels: [Theme] Seedlet

#2745 Spearhead: improved styles for product list page
  spearhead/assets/sass/_block-extends.scss
  spearhead/assets/sass/_woocommerce.scss
  spearhead/assets/sass/block-extends/_woocommerce.scss
  spearhead/assets/sass/style.scss
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/template-parts/header/navigation.php
Labels: [Theme] Spearhead

#2820 Seedlet: Fix WooCommerce mobile/menu buttons
  seedlet/assets/css/style-navigation-rtl.css
  seedlet/assets/css/style-navigation.css
  seedlet/assets/css/style-navigation.css.map
  seedlet/assets/sass/components/navigation/_style.scss
Labels: Involves Happiness, [Status] Needs Review, [Type] Bug

#3031 Varia: adding phone social icon
  varia/classes/class-varia-svg-icons.php
  varia/package.json
Labels: Involves Happiness, [Pri] Low, [Status] Needs Review, [Type] Enhancement

#3057 Blank Canvas: Update customizer message styles
  blank-canvas/assets/customizer.css
  blank-canvas/functions.php
Labels: [Theme] Blank Canvas, [Type] Enhancement

#3010 Blank Canvas: Add block patterns
  blank-canvas/assets/pattern-art.jpg
  blank-canvas/assets/pattern-camera.jpg
  blank-canvas/assets/pattern-drink.jpg
  blank-canvas/assets/pattern-hat.jpg
  blank-canvas/assets/pattern-portrait.jpg
  blank-canvas/assets/pattern-tattoo.jpg
  blank-canvas/assets/pattern-woman.jpg
  blank-canvas/functions.php
  blank-canvas/inc/block-patterns.php
  blank-canvas/inc/wpcom.php
  blank-canvas/style.css
  blank-canvas/variables.css
Labels: [Theme] Blank Canvas, [Type] Enhancement

#3055 Independent Publisher 2: fix outdent for large images
  independent-publisher-2/functions.php
  independent-publisher-2/js/independent-publisher-2.js
Labels: [Status] Needs Review, [Type] Bug

#3071 Multiple Themes: Clean up top margin when header & homepage title are hidden
  alves/style-rtl.css
  alves/style.css
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/style-rtl.css
  dalston/style.css
  exford/style-rtl.css
  exford/style.css
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-rtl.css
  maywood/style.css
  morden/sass/_extra-child-theme.scss
  morden/style-rtl.css
  morden/style.css
  redhill/sass/_extra-child-theme.scss
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/sass/_extra-child-theme.scss
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/sass/_extra-child-theme.scss
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style-rtl.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/components/content/_entry-content.scss
  varia/style-rtl.css
  varia/style.css
Labels: [Theme] Varia, [Type] Bug

#3073 Update version numbers to deploy Seedlet and children
  blank-canvas/style.css
  seedlet/assets/sass/style.scss
  seedlet/package.json
  seedlet/style-rtl.css
  seedlet/style.css
  spearhead/assets/sass/style.scss
  spearhead/navigation-rtl.css
  spearhead/navigation.css
  spearhead/package-lock.json
  spearhead/package.json
  spearhead/style-rtl.css
  spearhead/style.css
Labels: [Theme] Seedlet

#3074 Blank Canvas: Fix missing comma in alignment rules.
  blank-canvas/style.css
Labels: [Type] Bug

#3075 Varia: fix customizer on wpcom
  varia/functions.php
  varia/inc/wpcom.php
Labels: [Theme] Varia

#2746 Spearhead: position the shopping cart on the menu
  spearhead/assets/sass/_header.scss
  spearhead/assets/sass/_woocommerce.scss
  spearhead/assets/sass/navigation.scss
  spearhead/navigation-rtl.css
  spearhead/navigation.css
  spearhead/navigation.css.map
  spearhead/style-rtl.css
  spearhead/style.css
  spearhead/style.css.map
  spearhead/template-parts/header/navigation.php
Labels: [Status] Needs Review, [Theme] Spearhead

#3079 Blank Canvas: Change level of Invitation pattern heading
  blank-canvas/inc/block-patterns.php
Labels: [Theme] Blank Canvas, [Type] Enhancement

#3053 Seedlet: Fix IE11 issues
  seedlet/assets/js/primary-navigation.js
Labels: [Theme] Seedlet

#3088 Seedlet: Fix button colors
  seedlet/assets/css/style-editor.css
  seedlet/assets/sass/blocks/button/_style.scss
  seedlet/assets/sass/blocks/cover/_editor.scss
  seedlet/assets/sass/blocks/cover/_style.scss
  seedlet/assets/sass/blocks/utilities/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet, [Type] Bug

#3098 Blank Canvas: Update theme description
  blank-canvas/functions.php
  blank-canvas/readme.txt
  blank-canvas/style.css
Labels: [Theme] Blank Canvas, [Type] Enhancement

#3097 Blank Canvas: Improve block patterns HTML tags
  blank-canvas/inc/block-patterns.php
  blank-canvas/inc/wpcom.php
Labels: [Theme] Blank Canvas, [Type] Enhancement

#3105 Spearhead: Use the background color for sticky posts and menus
  seedlet/inc/wpcom-customize-preview.js
  spearhead/inc/wpcom-colors-utils.php
  spearhead/variables.css
Labels: [Theme] Spearhead

#2024 Varia: Fix shopping cart menu issue
  varia/inc/woocommerce.php
Labels: WooCommerce, [Status] Needs Review

#3122 Spearhead: Fix link color
  spearhead/experimental-theme.json
Labels: [Theme] Spearhead

#3130 Seedlet: Fix for hover state on outline buttons
  seedlet/assets/sass/base/_extends.scss
  seedlet/assets/sass/blocks/button/_style.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#3115 Blank Canvas: Add customizer options to enable header and footer areas and page titles.
  blank-canvas/assets/customizer.css
  blank-canvas/functions.php
  blank-canvas/inc/customizer.php
  blank-canvas/single.php
  blank-canvas/style.css
  blank-canvas/template-parts/content/content-singular.php
  blank-canvas/template-parts/footer/footer-content.php
  blank-canvas/template-parts/header/header-content.php
Labels: [Theme] Blank Canvas

#3136 Blank Canvas: Bump version to 1.2
  blank-canvas/readme.txt
  blank-canvas/style.css
Labels: [Theme] Blank Canvas, [Type] Task
