Repository Automattic/themes, pull requests merged in 2021-10, with the labels that each got.

#4752 Quadrat: Fix post meta offset
  quadrat/assets/theme.css
  quadrat/block-template-parts/header.html
  quadrat/sass/templates/_meta.scss
Labels: [Theme] Quadrat

#4755 Quadrat: make post date in query loop not linked
  quadrat/block-templates/index.html
  quadrat/inc/patterns/query-diamond.php
Labels: [Theme] Quadrat

#4738 Blockbase: Remove CSS to bring up the page content and instead remove the bottom margin from post titles
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_layout.scss
  blockbase/sass/base/_text.scss
  blockbase/sass/blocks/_post-template.scss
  blockbase/theme.json
Labels: [Theme] Blockbase

#4739 Videomaker: Add custom 404 template
  videomaker/404.php
Labels: [Theme] Videomaker

#4785 Blockbase, Quadrat, Seedlet, Mayland Blocks: updated changelogs for .org
  blockbase/readme.txt
  mayland-blocks/readme.txt
  quadrat/readme.txt
  seedlet-blocks/readme.txt
Labels: [Theme] Blockbase

#4773 Geologist: Update header spacing
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_site-tagline.scss
  blockbase/sass/ponyfill.scss
  blockbase/theme.json
  geologist/block-template-parts/header.html
  geologist/child-theme.json
  geologist/theme.json
Labels: [Theme] Geologist

#4787 Geologist style.css file
  geologist/style.css
Labels: [Theme] Geologist

#4774 Videomaker: Update header and footer
  videomaker/block-template-parts/footer.html
  videomaker/block-template-parts/header.html
  videomaker/child-theme.json
  videomaker/theme.json
Labels: [Theme] Videomaker

#4788 Blockbase: Update the space around the cookie consent label
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_post-comments.scss
Labels: [Theme] Blockbase

#4793 Deploy script: Fix diffId variable
  theme-utils.mjs
Labels: Tools

#4955 Revert the header change for Quadrat, Geologist and Zoologist
  geologist/block-template-parts/header.html
  quadrat/block-template-parts/header.html
  zoologist/block-template-parts/header.html
Labels: [Theme] Quadrat, [Theme] Geologist, [Theme] Zoologist
