Repository Automattic/themes, pull requests merged in 2021-02, with the labels that each got.

#3147 Spearhead: Use the Seedlet scripts for IE11 fixes
  seedlet/functions.php
Labels: [Theme] Spearhead

#3173 Blank Canvas: Remove site-title class from header
  blank-canvas/template-parts/header/header-content.php
Labels: Involves Happiness, [Theme] Blank Canvas, [Type] Bug

#3151 Blank Canvas: Add additional "Link in Bio" block patterns
  blank-canvas/assets/pattern-links-gradient.jpg
  blank-canvas/assets/pattern-links-hamburger.png
  blank-canvas/assets/pattern-links-logo.png
  blank-canvas/assets/pattern-links-pencils.jpg
  blank-canvas/assets/pattern-links-singer.png
  blank-canvas/assets/pattern-links-sunglasses.jpg
  blank-canvas/inc/block-patterns.php
  blank-canvas/style.css
Labels: [Theme] Blank Canvas, [Type] Enhancement

#3045 Seedlet Blocks: Remove theme attributes from block templates
  seedlet-blocks/block-templates/index.html
  seedlet-blocks/block-templates/singular.html
Labels: [Theme] Seedlet Blocks

#3208 Blank Canvas: Update Card block pattern
  blank-canvas/inc/wpcom.php
Labels: [Type] Enhancement

#3220 Varia: Add a customiser option to show featured images on pages
  varia/functions.php
  varia/template-parts/content/content-page.php
Labels: [Theme] Varia

#3197 Varia: Remove colors from the cover block
  rockfield/style-editor.css
  rockfield/style-rtl.css
  rockfield/style.css
  varia/sass/blocks/cover/_editor.scss
  varia/sass/blocks/cover/_style.scss
Labels: [Theme] Varia

#3218 Varia: Remove color overrides for media and text
  barnsbury/style-rtl.css
  barnsbury/style.css
  varia/sass/blocks/media-text/_style.scss
Labels: [Theme] Varia

#3260 Color Annotations: Check for the existence of color annotations in a more robust way
  alves/functions.php
  balasana/functions.php
  barnsbury/functions.php
  brompton/functions.php
  coutoire/functions.php
  dalston/functions.php
  exford/functions.php
  leven/functions.php
  mayland/functions.php
  maywood/functions.php
  redhill/functions.php
  rivington/functions.php
  varia/functions.php
Labels: [Theme] Varia

#3254 Morden: Add color annotations
  morden/functions.php
  morden/inc/wpcom-editor-colors.php
  morden/inc/wpcom.php
  morden/sass/_config-child-theme-deep.scss
  morden/sass/_global-variables.scss
  morden/sass/style-child-theme-editor.scss
  morden/sass/style-child-theme.scss
  morden/style-editor.css
  morden/style-rtl.css
  morden/style-woocommerce-rtl.css
  morden/style-woocommerce.css
  morden/style.css
Labels: [Theme] Varia

#3251 Stratford: Add color annotations
  stratford/functions.php
  stratford/inc/wpcom-editor-colors.php
  stratford/inc/wpcom.php
  stratford/sass/_config-child-theme-deep.scss
  stratford/sass/_global-variables.scss
  stratford/sass/style-child-theme-editor.scss
  stratford/sass/style-child-theme.scss
  stratford/style-editor.css
  stratford/style-rtl.css
  stratford/style-woocommerce-rtl.css
  stratford/style-woocommerce.css
  stratford/style.css
Labels: [Theme] Varia

#3236 Fix button discrepancies in Varia
  hever/style-editor.css
  hever/style-rtl.css
  hever/style.css
  varia/sass/blocks/button/_editor.scss
  varia/sass/blocks/button/_style.scss
Labels: [Theme] Varia

#3241 Stow: Add color annotations support
  stow/functions.php
  stow/inc/wpcom-editor-colors.php
  stow/inc/wpcom.php
  stow/sass/_config-child-theme-deep.scss
  stow/sass/_extra-child-theme.scss
  stow/sass/_global-variables.scss
  stow/sass/style-child-theme-editor.scss
  stow/sass/style-child-theme.scss
  stow/style-editor.css
  stow/style-rtl.css
  stow/style-woocommerce-rtl.css
  stow/style-woocommerce.css
  stow/style.css
Labels: [Theme] Varia, design

#3252 Shawburn: Add color annotations
  shawburn/functions.php
  shawburn/inc/wpcom-editor-colors.php
  shawburn/inc/wpcom.php
  shawburn/sass/_config-child-theme-deep.scss
  shawburn/sass/_global-variables.scss
  shawburn/sass/_site-navigation.scss
  shawburn/sass/style-child-theme-editor.scss
  shawburn/sass/style-child-theme.scss
  shawburn/style-editor.css
  shawburn/style-rtl.css
  shawburn/style-woocommerce-rtl.css
  shawburn/style-woocommerce.css
  shawburn/style.css
  varia/inc/color-annotations-preview.js
  varia/inc/wpcom-colors-css-variables.php
  varia/sass/abstracts/_color-variables.scss
Labels: [Theme] Varia

#3268 Filter colors for Seedlet child themes
  blank-canvas/functions.php
  seedlet/classes/class-seedlet-custom-colors.php
  spearhead/functions.php
Labels: [Theme] Seedlet

#3333 Blank Canvas: Update license URI
  blank-canvas/style.css
Labels: [Theme] Blank Canvas, [Type] Bug

#3343 Seedlet: fix keyboard navigation selector
  seedlet/assets/js/primary-navigation.js
  seedlet/assets/sass/style.scss
  seedlet/package-lock.json
  seedlet/package.json
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#3345 Blank Canvas: clean up block patterns
  blank-canvas/inc/block-patterns.php
Labels: [Theme] Blank Canvas

#3339 Seedlet: Add underline to comment author/edit links on hover
  seedlet/assets/sass/components/comments/_comment-form.scss
  seedlet/assets/sass/components/comments/_comments.scss
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#3352 Blank Canvas: Bump version to 1.2.5
  blank-canvas/readme.txt
  blank-canvas/style.css
Labels: [Theme] Blank Canvas

#3359 Blank canvas: textdomain fixes + version bump to 1.2.7
  blank-canvas/functions.php
  blank-canvas/inc/block-patterns.php
  blank-canvas/languages/blank-canvas.pot
  blank-canvas/readme.txt
  blank-canvas/style.css
Labels: [Theme] Blank Canvas, [Type] Bug

#3323 Blank Canvas: Remove youtube video used in Musician Links pattern
  blank-canvas/inc/block-patterns.php
  blank-canvas/languages/blank-canvas.pot
  blank-canvas/readme.txt
  blank-canvas/style.css
Labels: [Theme] Blank Canvas, [Type] Task
