Repository Automattic/themes, pull requests merged in 2021-06, with the labels that each got.

#3830 Dalston: Separate script and style enqueues for better performance
  dalston/functions.php
Labels: [Pod] Design Selection, [Status] Needs Review

#3987 Blockbase: add main tag (skip links)
  blockbase/block-templates/404.html
  blockbase/block-templates/index.html
  blockbase/block-templates/search.html
  blockbase/block-templates/singular.html
Labels: [Theme] Blockbase

#3992 Blockbase: bump version and changelog
  blockbase/package-lock.json
  blockbase/package.json
  blockbase/readme.txt
  blockbase/style.css
Labels: [Theme] Blockbase

#3998 Blockbase: update theme meta per theme review feedback
  blockbase/style.css
Labels: [Theme] Blockbase

#3985 Blockbase: separated mixins from rules for the button block
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_mixins.scss
  blockbase/sass/blocks/_button-mixins.scss
  blockbase/sass/blocks/_button.scss
  blockbase/sass/blocks/_file.scss
  blockbase/sass/blocks/_post-comments.scss
  blockbase/sass/blocks/_search.scss
  blockbase/theme.json
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/sass/blocks/_post-comments.scss
  quadrat/theme.json
  seedlet-blocks/theme.json
Labels: [Theme] Blockbase, [Theme] Quadrat

#3994 Fix group block padding when alignfull in varia
  alves/style-rtl.css
  alves/style.css
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/style-rtl.css
  dalston/style.css
  exford/style-rtl.css
  exford/style.css
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-rtl.css
  maywood/style.css
  morden/style-rtl.css
  morden/style.css
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/package-lock.json
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style-rtl.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/blocks/group/_style.scss
  varia/style-rtl.css
  varia/style.css
Labels: [Theme] Varia

#4029 Mayland Blocks / Seedlet Blocks: Add skip links
  mayland-blocks/block-templates/front-page.html
  mayland-blocks/block-templates/index.html
  mayland-blocks/block-templates/page.html
  mayland-blocks/block-templates/single.html
  seedlet-blocks/block-templates/index.html
  seedlet-blocks/block-templates/singular.html
Labels: [Theme] Mayland Blocks, [Theme] Seedlet Blocks

#4023 Add a blank customTemplate to blockbase
  blockbase/block-templates/blank.html
  blockbase/theme.json
Labels: [Theme] Blockbase, [Type] Enhancement

#3950 Blockbase: initial dotorg upload version
  blockbase/comments.php
  blockbase/footer.php
  blockbase/functions.php
  blockbase/header.php
  blockbase/index.php
  blockbase/style.css
  dotorg-exclude.txt
  mayland-blocks/functions.php
  mayland-blocks/style.css
  seedlet-blocks/functions.php
  seedlet-blocks/style.css
Labels: Do NOT merge!, [Theme] Blockbase

#4035 Blockbase: Add post content to the blank template
  blockbase/block-templates/blank.html
Labels: [Theme] Blockbase, [Type] Bug

#4045 Retire Brompton and Redhill
  brompton/sass/style-child-theme.scss
  brompton/style-rtl.css
  brompton/style.css
  redhill/sass/style-child-theme.scss
  redhill/style-rtl.css
  redhill/style.css
Labels: [Theme] Redhill

#4065 Quadrat: Update style.css to be more accurate
  quadrat/style.css
Labels: [Theme] Quadrat

#4070 Quadrat: Simplify templates
  quadrat/404.php
  quadrat/block-template-parts/404.html
  quadrat/block-template-parts/header.html
  quadrat/block-template-parts/index.html
  quadrat/block-template-parts/page.html
  quadrat/block-template-parts/search.html
  quadrat/block-template-parts/single.html
  quadrat/block-templates/404.html
  quadrat/block-templates/page.html
  quadrat/block-templates/search.html
  quadrat/block-templates/single.html
  quadrat/index.php
  quadrat/search.php
  quadrat/single.php
Labels: [Theme] Quadrat

#4075 Blockbase: Add template with just a header and footer
  blockbase/block-templates/header-footer-only.html
  blockbase/theme.json
Labels: [Theme] Blockbase, [Type] Enhancement

#4076 Blockbase: Add a link to WordPress.com to the blockbase theme footer credits.
  blockbase/block-template-parts/footer.html
Labels: [Theme] Blockbase, [Type] Enhancement

#4077 Refactor Blockbase font definitions
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_list.scss
  blockbase/sass/elements/_forms.scss
  blockbase/theme.json
  mayland-blocks/child-theme.json
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/child-theme.json
  quadrat/sass/blocks/_post-comments.scss
  quadrat/theme.json
  seedlet-blocks/child-theme.json
  seedlet-blocks/theme.json
Labels: [Theme] Blockbase

#4098 Blockbase: Add support for custom palettes customization
  blockbase/functions.php
  blockbase/inc/color-customization.css
  blockbase/inc/color-palettes-controls.js
  blockbase/inc/customize-colors-preview.js
  blockbase/inc/wp-customize-color-palettes.php
  blockbase/inc/wp-customize-color-settings.php
  blockbase/inc/wp-customize-colors.php
  blockbase/inc/wp-customize-palette-control.php
  blockbase/rebuild-child-themes.sh
  blockbase/theme.json
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/child-theme.json
  quadrat/theme.json
  seedlet-blocks/theme.json
Labels: [Theme] Blockbase

#4096 Blank Canvas: Improve user experience when adding logo if headers are disabled. (D62950-code)
  blank-canvas/assets/js/disabled-site-header-custom-logo-notification.js
  blank-canvas/functions.php
  blank-canvas/inc/customizer.php
Labels: [Status] Needs Review, [Theme] Blank Canvas

#3958 Blockbase: Move block styles to theme.json
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_list.scss
  blockbase/theme.json
  mayland-blocks/theme.json
  quadrat/theme.json
  seedlet-blocks/assets/theme.css
  seedlet-blocks/theme.json
Labels: [Theme] Blockbase, [Theme] Quadrat

#4107 Quadrat: fix query block markup
  quadrat/block-template-parts/index.html
Labels: [Theme] Quadrat

#4132 Quadrat: Make site title uppercase
  quadrat/child-theme.json
  quadrat/theme.json
Labels: [Theme] Quadrat

#4108 Quadrat: fix featured images
  quadrat/assets/theme.css
  quadrat/block-template-parts/page.html
  quadrat/block-template-parts/single.html
  quadrat/page.php
  quadrat/sass/templates/_post-header.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat, design

#4138 Quadrat: use semantic colors + classes in block patterns
  quadrat/inc/patterns/cover-with-heading.php
  quadrat/inc/patterns/episode.php
  quadrat/inc/patterns/latest-episodes.php
Labels: [Theme] Quadrat
