Repository Automattic/themes, pull requests merged in 2021-05, with the labels that each got.

#3721 Quadrat: Add page templates
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/sass/base/_alignment.scss
  quadrat/404.php
  quadrat/assets/theme.css
  quadrat/block-template-parts/404.html
  quadrat/block-template-parts/footer.html
  quadrat/block-template-parts/header.html
  quadrat/block-template-parts/query.html
  quadrat/block-template-parts/search.html
  quadrat/block-template-parts/single.html
  quadrat/block-templates/404.html
  quadrat/block-templates/page.html
  quadrat/block-templates/search.html
  quadrat/block-templates/single.html
  quadrat/experimental-theme.json
  quadrat/functions.php
  quadrat/index.php
  quadrat/page.php
  quadrat/sass/_header.scss
  quadrat/sass/theme.scss
  quadrat/search.php
  quadrat/single.php
  quadrat/template-parts/header.php
  quadrat/templates/footer.html
Labels: [Theme] Quadrat

#3756 Quadrat: Add button hover styles
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/base/_style.scss
  quadrat/assets/theme.css
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/sass/blocks/_buttons.scss
  quadrat/sass/blocks/_post-navigation-link.scss
  quadrat/sass/elements/_links.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3752 Quadrat: remove background color from buttons
  quadrat/inc/block-patterns.php
Labels: [Theme] Quadrat

#3763 Use build process in child theme.
  mayland-blocks/assets/theme.css
  mayland-blocks/functions.php
  mayland-blocks/package-lock.json
  mayland-blocks/package.json
  mayland-blocks/sass/theme.scss
  mayland-blocks/style.css
Labels: [Theme] Mayland Blocks

#3762 Update the theme.json schema for BCB and children
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/functions.php
  mayland-blocks/child-experimental-theme.json
  mayland-blocks/experimental-theme.json
  seedlet-blocks/child-experimental-theme.json
  seedlet-blocks/experimental-theme.json
Labels: [Theme] Blank Canvas Blocks

#3746 Quadrat: Add listen pattern
  quadrat/inc/block-patterns.php
Labels: [Theme] Quadrat

#3765 Quadrat: code quality, block patterns and utility classes
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/base/_style.scss
  blank-canvas-blocks/sass/base/_utility.scss
  quadrat/assets/theme.css
  quadrat/inc/block-patterns.php
  quadrat/inc/patterns/cover-with-heading.php
  quadrat/inc/patterns/episode.php
  quadrat/inc/patterns/headline-button.php
  quadrat/inc/patterns/headlines-and-buttons.php
  quadrat/inc/patterns/latest-episodes.php
  quadrat/inc/patterns/listen-to-the-podcast.php
  quadrat/inc/patterns/media-text-button.php
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3745 Quadrat: Add Join pattern
  quadrat/assets/theme.css
  quadrat/inc/block-patterns.php
  quadrat/inc/patterns/join.php
  quadrat/sass/block-patterns/_join.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3648 Make: Quadrat
  .github/workflows/quadrat_deploy.yml
  .github/workflows/sb_demo_deploy.yml
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/sass/base/_alignment.scss
  blank-canvas-blocks/sass/base/_style.scss
  blank-canvas-blocks/sass/base/_utility.scss
  blank-canvas-blocks/sass/blocks/_list.scss
  quadrat/404.php
  quadrat/assets/rotated.svg
  quadrat/assets/theme.css
  quadrat/block-template-parts/404.html
  quadrat/block-template-parts/footer.html
  quadrat/block-template-parts/header.html
  quadrat/block-template-parts/query.html
  quadrat/block-template-parts/search.html
  quadrat/block-template-parts/single.html
  quadrat/block-templates/404.html
  quadrat/block-templates/page.html
  quadrat/block-templates/search.html
  quadrat/block-templates/single.html
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/footer.php
  quadrat/functions.php
  quadrat/header.php
  quadrat/inc/block-patterns.php
  quadrat/inc/block-styles.php
  quadrat/inc/patterns/cover-with-heading.php
  quadrat/inc/patterns/episode.php
  quadrat/inc/patterns/headline-button.php
  quadrat/inc/patterns/headlines-and-buttons.php
  quadrat/inc/patterns/join.php
  quadrat/inc/patterns/latest-episodes.php
  quadrat/inc/patterns/listen-to-the-podcast.php
  quadrat/inc/patterns/media-text-button.php
  quadrat/inc/render-navigation-block.php
  quadrat/index.php
  quadrat/package-lock.json
  quadrat/package.json
  quadrat/page.php
  quadrat/sass/_header.scss
  quadrat/sass/block-patterns/_headlines.scss
  quadrat/sass/block-patterns/_join.scss
  quadrat/sass/blocks/_buttons.scss
  quadrat/sass/blocks/_cover.scss
  quadrat/sass/blocks/_list.scss
  quadrat/sass/blocks/_media-text.scss
  quadrat/sass/blocks/_post-navigation-link.scss
  quadrat/sass/blocks/_table.scss
  quadrat/sass/elements/_links.scss
  quadrat/sass/theme.scss
  quadrat/screenshot.png
  quadrat/search.php
  quadrat/single.php
  quadrat/style.css
  quadrat/template-parts/header.php
Labels: [Theme] Quadrat

#3771 Quadrat: Add navigation styles
  quadrat/assets/theme.css
  quadrat/sass/blocks/_navigation.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3769 Update Quadrat deploy to run on trunk
  .github/workflows/quadrat_deploy.yml
Labels: [Theme] Quadrat

#3775 BCB: Only show patterns on the parent theme
  blank-canvas-blocks/functions.php
Labels: [Theme] Quadrat

#3781 BCB + Children: reorder theme json
  blank-canvas-blocks/experimental-theme.json
  mayland-blocks/child-experimental-theme.json
  mayland-blocks/experimental-theme.json
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  seedlet-blocks/child-experimental-theme.json
  seedlet-blocks/experimental-theme.json
Labels: [Theme] Blank Canvas Blocks, [Theme] Mayland Blocks, [Theme] Quadrat, [Theme] Seedlet Blocks

#3774 Block Patterns: Load before core
  quadrat/inc/block-patterns.php
Labels: [Theme] Quadrat

#3826 Quadrat Body font size fix
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
Labels: [Theme] Quadrat

#718 Radcliffe 2: Fix Error Warning with Blocks CSS File
  radcliffe-2/assets/css/blocks.css
Labels: OSS Citizen, [Status] Ready to Merge

#3824 Quadrat: revise post header and meta
  quadrat/assets/theme.css
  quadrat/block-template-parts/single.html
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/sass/_meta.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#716 Canard: Fix Sub-Menu Overlap
  canard/style.css
Labels: OSS Citizen, [Status] Ready to Merge

#725 Lodestar: Fix Cropped Gallery Block Size on Home Page
  lodestar/style.css
Labels: OSS Citizen, [Status] Ready to Merge

#3848 Canard: Set a high z-index on the menu to avoid it being obscured
  canard/style.css
Labels: [Pod] Design Selection, [Status] Needs Review

#738 Apostrophe 2: Offer an Option to Display a Mobile Social Menu
  apostrophe-2/functions.php
  apostrophe-2/inc/customizer.php
  apostrophe-2/style.css
Labels: OSS Citizen, [Status] Ready to Merge

#3800 Quadrat: Add comment styles
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/base/_mixins.scss
  blank-canvas-blocks/sass/blocks/_button.scss
  blank-canvas-blocks/sass/blocks/_post-comments.scss
  blank-canvas-blocks/sass/elements/_forms.scss
  quadrat/assets/theme.css
  quadrat/block-template-parts/single.html
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/sass/blocks/_buttons.scss
  quadrat/sass/blocks/_post-comments.scss
  quadrat/sass/blocks/_search.scss
  quadrat/sass/elements/_links.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3780 Quadrat: Update Pullquote styles
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_pullquote.scss
  mayland-blocks/assets/theme.css
  mayland-blocks/experimental-theme.json
  quadrat/assets/theme.css
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/sass/blocks/_pullquote.scss
  quadrat/sass/theme.scss
  seedlet-blocks/assets/theme.css
  seedlet-blocks/experimental-theme.json
  seedlet-blocks/sass/blocks/_pullquote.scss
  seedlet-blocks/sass/theme.scss
Labels: [Theme] Quadrat

#3835 Styled calendar block per design
  quadrat/assets/theme.css
  quadrat/sass/blocks/_calendar.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3857 Quadrat: fix site title and post title styles
  quadrat/assets/theme.css
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/sass/_header.scss
  quadrat/sass/blocks/_query.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3866 BCB + children: removed color and border customizations from selects
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/elements/_forms.scss
Labels: [Theme] Blank Canvas Blocks, [Theme] Quadrat

#3869 Replace Poppins font with DM Sans
  quadrat/assets/theme.css
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/sass/blocks/_table.scss
  quadrat/screenshot.png
Labels: [Theme] Quadrat, [Type] Enhancement, design

#3872 Quadrat: outline button in the editor
  quadrat/assets/theme.css
  quadrat/sass/blocks/_buttons.scss
Labels: [Theme] Quadrat

#3865 Quadrat: added pagination to the query block
  quadrat/assets/theme.css
  quadrat/block-template-parts/query.html
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/sass/blocks/_query-navigation.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3776 Quadrat: add custom logo support (rebase)
  quadrat/assets/theme.css
  quadrat/child-experimental-theme.json
  quadrat/experimental-theme.json
  quadrat/functions.php
  quadrat/sass/_header.scss
  quadrat/sass/blocks/_navigation.scss
  quadrat/template-parts/header.php
Labels: [Theme] Quadrat

#3801 Quadrat: added polygons to header and footer
  quadrat/assets/theme.css
  quadrat/block-template-parts/footer.html
  quadrat/block-template-parts/single.html
  quadrat/sass/_footer.scss
  quadrat/sass/_header.scss
  quadrat/sass/_meta.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3889 Quadrat: adapt single post header to fit design for mobile
  quadrat/assets/arrow.svg
  quadrat/assets/theme.css
  quadrat/block-template-parts/single.html
  quadrat/sass/_post-header.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3891 Quadrat: changed the hover effect of text links
  quadrat/assets/theme.css
  quadrat/sass/_header.scss
  quadrat/sass/blocks/_post-comments.scss
  quadrat/sass/blocks/_query-navigation.scss
  quadrat/sass/elements/_links.scss
Labels: [Theme] Quadrat

#3899 Quadrat: revise focus states
  quadrat/assets/theme.css
  quadrat/sass/elements/_forms.scss
  quadrat/sass/elements/_links.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3896 Quadrat: fix single post title when a custom logo is present
  quadrat/assets/theme.css
  quadrat/sass/_meta.scss
  quadrat/sass/_post-header.scss
Labels: [Theme] Quadrat

#3904 Quadrat: mobile post header with featured image
  quadrat/assets/theme.css
  quadrat/sass/_meta.scss
  quadrat/sass/_post-header.scss
Labels: [Theme] Quadrat, design

#3908 Blank Canvas Blocks: Update templates
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/block-template-parts/header.html
  blank-canvas-blocks/block-templates/404.html
  blank-canvas-blocks/block-templates/index.html
  blank-canvas-blocks/block-templates/search.html
  blank-canvas-blocks/block-templates/singular.html
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/inc/block-patterns.php
  blank-canvas-blocks/sass/base/_header.scss
  blank-canvas-blocks/sass/base/_style.scss
Labels: [Theme] Blank Canvas Blocks

#3875 Seedlet: Update text and link when there are no published posts
  seedlet/template-parts/content/content-none.php
Labels: [Pod] Design Selection, [Status] Needs Review

#3922 Spearhead: add `blog-homepage` tag
  spearhead/style.css
Labels: [Status] Needs Review, [Theme] Spearhead

#3919 Remove unused images from BCB
  blank-canvas-blocks/assets/images/pattern-art.jpg
  blank-canvas-blocks/assets/images/pattern-camera.jpg
  blank-canvas-blocks/assets/images/pattern-drink.jpg
  blank-canvas-blocks/assets/images/pattern-food.jpg
  blank-canvas-blocks/assets/images/pattern-gradient.mp4
  blank-canvas-blocks/assets/images/pattern-hat.jpg
  blank-canvas-blocks/assets/images/pattern-links-gradient.jpg
  blank-canvas-blocks/assets/images/pattern-links-hamburger.png
  blank-canvas-blocks/assets/images/pattern-links-logo.png
  blank-canvas-blocks/assets/images/pattern-links-pencils.jpg
  blank-canvas-blocks/assets/images/pattern-links-singer.png
  blank-canvas-blocks/assets/images/pattern-links-sunglasses.jpg
  blank-canvas-blocks/assets/images/pattern-painting.jpg
  blank-canvas-blocks/assets/images/pattern-portrait.jpg
  blank-canvas-blocks/assets/images/pattern-tattoo.jpg
  blank-canvas-blocks/assets/images/pattern-woman.jpg
Labels: [Theme] Blank Canvas Blocks

#3920 Mayland Blocks: fix header template part
  mayland-blocks/assets/theme.css
  mayland-blocks/block-template-parts/header.html
  mayland-blocks/functions.php
  mayland-blocks/sass/theme.scss
Labels: [Theme] Mayland Blocks

#3917 Quadrat: removed polygon on the footer outside of the home
  quadrat/assets/theme.css
  quadrat/sass/_footer.scss
Labels: [Theme] Quadrat

#3905 Quadrat: comment form style tweaks
  quadrat/assets/theme.css
  quadrat/sass/blocks/_post-comments.scss
Labels: [Theme] Quadrat, design

#3821 Block themes: Update templates to include a Query block wrapper
  blank-canvas-blocks/block-templates/index.html
  blank-canvas-blocks/block-templates/search.html
  mayland-blocks/block-templates/index.html
  quadrat/block-template-parts/query.html
  seedlet-blocks/block-templates/index.html
Labels: [Status] Blocked / Hold, [Theme] Blank Canvas Blocks, [Theme] Quadrat

#3925 BCB: fix theme json resolver class name
  blank-canvas-blocks/functions.php
Labels: [Theme] Blank Canvas Blocks, [Theme] Quadrat

#3939 Readd images for patterns - these were removed in error
  blank-canvas/assets/pattern-art.jpg
  blank-canvas/assets/pattern-camera.jpg
  blank-canvas/assets/pattern-drink.jpg
  blank-canvas/assets/pattern-food.jpg
  blank-canvas/assets/pattern-gradient.mp4
  blank-canvas/assets/pattern-guitar.jpg
  blank-canvas/assets/pattern-hat.jpg
  blank-canvas/assets/pattern-links-gradient.jpg
  blank-canvas/assets/pattern-links-hamburger.png
  blank-canvas/assets/pattern-links-logo.png
  blank-canvas/assets/pattern-links-pencils.jpg
  blank-canvas/assets/pattern-links-singer.png
  blank-canvas/assets/pattern-links-sunglasses.jpg
  blank-canvas/assets/pattern-notice.png
  blank-canvas/assets/pattern-painting.jpg
  blank-canvas/assets/pattern-portrait.jpg
  blank-canvas/assets/pattern-tattoo.jpg
  blank-canvas/assets/pattern-watch.jpg
  blank-canvas/assets/pattern-woman.jpg
Labels: [Theme] Blank Canvas

#3924 Independent Publisher 2: Adds two tags to style.css
  independent-publisher-2/style.css
Labels: [Pod] Design Selection

#3923 Dyad 2: Add blog-homepage tag
  dyad-2/style.css
Labels: [Pod] Design Selection

#3948 Blockbase: Update header font size
  blockbase/experimental-theme.json
Labels: [Theme] Blank Canvas Blocks, [Type] Bug

#3906 Quadrat: fix markup for header template part
  quadrat/assets/theme.css
  quadrat/block-template-parts/header.html
  quadrat/block-templates/404.html
  quadrat/block-templates/page.html
  quadrat/block-templates/search.html
  quadrat/block-templates/single.html
  quadrat/sass/_header.scss
  quadrat/template-parts/header.php
Labels: [Theme] Quadrat

#3954 Blockbase: added supported tags
  blockbase/style.css
Labels: [Theme] Blockbase

#3949 Blockbase: add readme.txt and update style.css
  blockbase/readme.txt
  blockbase/style.css
Labels: [Theme] Blockbase

#3953 Blockbase: Fix alignment styles
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_alignment.scss
Labels: [Theme] Blockbase

#3959 Update Blockbase theme screenshot
  blockbase/readme.txt
  blockbase/screenshot.png
  blockbase/style.css
Labels: [Theme] Blockbase, [Type] Task

#3955 Quadrat: Update the layout of the query template
  quadrat/assets/theme.css
  quadrat/block-template-parts/query.html
  quadrat/sass/templates/_footer.scss
  quadrat/sass/templates/_header.scss
  quadrat/sass/templates/_meta.scss
  quadrat/sass/templates/_post-header.scss
  quadrat/sass/templates/_query.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#3973 update font size to 18px
  blockbase/theme.json
Labels: [Theme] Blockbase

#3972 Fix BB & Co. Button Border Color Configuration
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_button.scss
  blockbase/theme.json
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/child-theme.json
  quadrat/theme.json
Labels: [Theme] Blockbase

#3971 Blockbase: add query pagination
  blockbase/assets/ponyfill.css
  blockbase/block-templates/index.html
  blockbase/sass/blocks/_query-pagination.scss
  blockbase/sass/ponyfill.scss
  quadrat/assets/theme.css
  quadrat/sass/blocks/_query-pagination.scss
  quadrat/sass/theme.scss
Labels: [Theme] Blockbase, [Theme] Quadrat

#3974 Removed top padding from quote blocks's paragraph element
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_quote.scss
Labels: [Theme] Blockbase

#3968 Blockbase: revise padding
  blockbase/assets/ponyfill.css
  blockbase/block-template-parts/header.html
  blockbase/block-templates/404.html
  blockbase/block-templates/index.html
  blockbase/block-templates/search.html
  blockbase/block-templates/singular.html
  blockbase/sass/base/_alignment.scss
  blockbase/theme.json
Labels: [Theme] Blockbase

#3978 BB - Fix margin alignments in view and editor
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_alignment.scss
  blockbase/sass/base/_normalize.scss
Labels: [Theme] Blockbase

#3962 Remove BCB
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/assets/svg/post-author.svg
  blank-canvas-blocks/assets/svg/post-category.svg
  blank-canvas-blocks/assets/svg/post-date.svg
  blank-canvas-blocks/block-template-parts/footer.html
  blank-canvas-blocks/block-template-parts/header.html
  blank-canvas-blocks/block-template-parts/navigation.html
  blank-canvas-blocks/block-templates/404.html
  blank-canvas-blocks/block-templates/index.html
  blank-canvas-blocks/block-templates/search.html
  blank-canvas-blocks/block-templates/singular.html
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/index.php
  blank-canvas-blocks/package-lock.json
  blank-canvas-blocks/package.json
  blank-canvas-blocks/readme.md
  blank-canvas-blocks/sass/base/_alignment.scss
  blank-canvas-blocks/sass/base/_breakpoints.scss
  blank-canvas-blocks/sass/base/_header.scss
  blank-canvas-blocks/sass/base/_mixins.scss
  blank-canvas-blocks/sass/base/_normalize.scss
  blank-canvas-blocks/sass/base/_style.scss
  blank-canvas-blocks/sass/base/_text.scss
  blank-canvas-blocks/sass/base/_utility.scss
  blank-canvas-blocks/sass/blocks/_button.scss
  blank-canvas-blocks/sass/blocks/_code.scss
  blank-canvas-blocks/sass/blocks/_columns.scss
  blank-canvas-blocks/sass/blocks/_file.scss
  blank-canvas-blocks/sass/blocks/_gallery.scss
  blank-canvas-blocks/sass/blocks/_image.scss
  blank-canvas-blocks/sass/blocks/_list.scss
  blank-canvas-blocks/sass/blocks/_navigation.scss
  blank-canvas-blocks/sass/blocks/_paragraph.scss
  blank-canvas-blocks/sass/blocks/_post-author.scss
  blank-canvas-blocks/sass/blocks/_post-comments.scss
  blank-canvas-blocks/sass/blocks/_pullquote.scss
  blank-canvas-blocks/sass/blocks/_quote.scss
  blank-canvas-blocks/sass/blocks/_search.scss
  blank-canvas-blocks/sass/blocks/_separator.scss
  blank-canvas-blocks/sass/blocks/_table.scss
  blank-canvas-blocks/sass/blocks/_video.scss
  blank-canvas-blocks/sass/elements/_forms.scss
  blank-canvas-blocks/sass/elements/_links.scss
  blank-canvas-blocks/sass/elements/_style.scss
  blank-canvas-blocks/sass/ponyfill.scss
  blank-canvas-blocks/sass/post/_meta.scss
  blank-canvas-blocks/screenshot.png
  blank-canvas-blocks/style.css
  blank-canvas-blocks/theme.json
Labels: [Theme] Blank Canvas Blocks
