Repository Automattic/themes, pull requests merged in 2021-03, with the labels that each got.

#3394 Mayland Blocks: Update buttons colors
  mayland-blocks/experimental-theme.json
Labels: [Theme] Mayland Blocks

#3422 Configure font families
  blank-canvas-blocks/experimental-theme.json
Labels: [Theme] Blank Canvas Blocks

#3421 Blank Canvas Blocks: patch quote styles
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_style.scss
  blank-canvas-blocks/sass/blocks/quote/_style.scss
Labels: [Theme] Blank Canvas Blocks

#3427 Compile Button Styles into BCB
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_style.scss
Labels: [Theme] Blank Canvas Blocks

#3431 Blank Canvas Blocks: refactored css folder structure
  blank-canvas-blocks/sass/blocks/_button.scss
  blank-canvas-blocks/sass/blocks/_group.scss
  blank-canvas-blocks/sass/blocks/_heading.scss
  blank-canvas-blocks/sass/blocks/_navigation.scss
  blank-canvas-blocks/sass/blocks/_paragraph.scss
  blank-canvas-blocks/sass/blocks/_quote.scss
  blank-canvas-blocks/sass/blocks/_style.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3432 Add default styles for Separator block
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_separator.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3433 Adjusting font size configuration to match Blank Canvas
  blank-canvas-blocks/experimental-theme.json
Labels: [Theme] Blank Canvas Blocks

#3434 Blan Canvas Blocks: Add default styles for Video block
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/sass/blocks/_video.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3444 Blank Canvas Blocks: Switch custom variables to camel case
  blank-canvas-blocks/experimental-theme.json
Labels: [Theme] Blank Canvas Blocks

#3416 Blank Canvas: Add the "Subscription Form and Links" pattern
  blank-canvas/assets/pattern-guitar.jpg
  blank-canvas/inc/wpcom.php
Labels: [Theme] Blank Canvas, [Type] Enhancement

#3445 Blank Canvas: Temporarily comment out the "Subscription Form and Links" pattern
  blank-canvas/inc/wpcom.php
Labels: [Theme] Blank Canvas, [Type] Bug

#3430 Add default styles to BCB for Image Block
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/base/_alignment.scss
  blank-canvas-blocks/sass/blocks/_image.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3439 Add configurable header styles to Blank Canvas Blocks
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_heading.scss
  blank-canvas-blocks/sass/elements/_forms.scss
  blank-canvas-blocks/sass/elements/_headers.scss
  blank-canvas-blocks/sass/elements/_style.scss
Labels: [Theme] Blank Canvas Blocks

#3436 Add paragraph drop cap style configuration
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_paragraph.scss
Labels: [Theme] Blank Canvas Blocks

#3437 Blank Canvas Blocks: Add default styles for List block
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_list.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3450 Add image resets
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/base/_normalize.scss
Labels: [Theme] Blank Canvas Blocks

#3446 Blank Canvas Blocks: Add default styles for Gallery block
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_gallery.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3449 Adjusted Group Alignment especially for nested groups
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/base/_alignment.scss
  blank-canvas-blocks/sass/blocks/_group.scss
Labels: [Theme] Blank Canvas Blocks

#3447 Blank Canvas Blocks: Add Google fonts
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/sass/blocks/_heading.scss
Labels: [Theme] Blank Canvas Blocks

#3459 Refactor/bcb alignmnet
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/base/_alignment.scss
  blank-canvas-blocks/sass/blocks/_group.scss
Labels: [Theme] Blank Canvas Blocks

#3471 Blank Canvas Blocks: Remove vertical margins from blocks in the editor
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/base/_style.scss
  blank-canvas-blocks/sass/base/_vertical-margins.scss
Labels: [Theme] Blank Canvas Blocks

#3460 Add Navigation styling to BCB
  blank-canvas-blocks/assets/navigation.js
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/block-template-parts/header.html
  blank-canvas-blocks/block-templates/index.html
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/sass/blocks/_navigation.scss
Labels: [Theme] Blank Canvas Blocks

#3477 Seedlet: fix color utils
  seedlet/assets/sass/style.scss
  seedlet/inc/wpcom-colors-utils.php
  seedlet/package.json
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#3482 Blank Canvas Blocks: Fix getting data from theme json
  blank-canvas-blocks/functions.php
Labels: [Theme] Blank Canvas Blocks

#3478 Refactor links in BCB to use underline instead of border-bottom.
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_button.scss
  blank-canvas-blocks/sass/elements/_links.scss
Labels: [Theme] Blank Canvas Blocks

#3487 Refactor/bcb custom to styles
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/block-templates/index.html
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/sass/base/_alignment.scss
  blank-canvas-blocks/sass/base/_normalize.scss
  blank-canvas-blocks/sass/base/_style.scss
  blank-canvas-blocks/sass/base/_vertical-margins.scss
  blank-canvas-blocks/sass/blocks/_button.scss
  blank-canvas-blocks/sass/blocks/_group.scss
  blank-canvas-blocks/sass/blocks/_heading.scss
  blank-canvas-blocks/sass/blocks/_image.scss
  blank-canvas-blocks/sass/blocks/_paragraph.scss
  blank-canvas-blocks/sass/blocks/_quote.scss
  blank-canvas-blocks/sass/elements/_links.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3469 Blank Canvas Blocks: Add default styles for search block
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_button.scss
  blank-canvas-blocks/sass/blocks/_search.scss
  blank-canvas-blocks/sass/elements/_forms.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3494 Style BCB File Block Buttons
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/blocks/_file.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3503 Blank Canvas Blocks: Add table styles
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_table.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3506 Added padding to code block styles
  blank-canvas-blocks/experimental-theme.json
Labels: [Theme] Blank Canvas Blocks

#3501 Blank Canvas Blocks: Add Pullquote Block styles
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/blocks/_pullquote.scss
  blank-canvas-blocks/sass/blocks/_quote.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3504 Limit content width for things aligned left/right
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/sass/base/_alignment.scss
Labels: [Theme] Blank Canvas Blocks

#3514 Blank Canvas Blocks: Added Block Patterns
  blank-canvas-blocks/assets/images/pattern-art.jpg
  blank-canvas-blocks/assets/images/pattern-camera.jpg
  blank-canvas-blocks/assets/images/pattern-drink.jpg
  blank-canvas-blocks/assets/images/pattern-hat.jpg
  blank-canvas-blocks/assets/images/pattern-links-gradient.jpg
  blank-canvas-blocks/assets/images/pattern-links-hamburger.png
  blank-canvas-blocks/assets/images/pattern-links-logo.png
  blank-canvas-blocks/assets/images/pattern-links-pencils.jpg
  blank-canvas-blocks/assets/images/pattern-links-singer.png
  blank-canvas-blocks/assets/images/pattern-links-sunglasses.jpg
  blank-canvas-blocks/assets/images/pattern-portrait.jpg
  blank-canvas-blocks/assets/images/pattern-tattoo.jpg
  blank-canvas-blocks/assets/images/pattern-woman.jpg
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/inc/block-patterns.php
  blank-canvas-blocks/sass/base/_alignment.scss
  blank-canvas-blocks/sass/base/_style.scss
  blank-canvas-blocks/sass/base/_text.scss
  blank-canvas-blocks/sass/blocks/_button.scss
  blank-canvas-blocks/sass/blocks/_columns.scss
  blank-canvas-blocks/sass/blocks/_separator.scss
  blank-canvas-blocks/sass/ponyfill.scss
Labels: [Theme] Blank Canvas Blocks

#3535 Mayland Blocks: Preserve image ratios
  mayland-blocks/style.css
Labels: [Theme] Mayland Blocks, [Type] Bug

#3522 Work on updating the default templates to better match Blank Canvas
  blank-canvas-blocks/block-template-parts/footer.html
  blank-canvas-blocks/block-template-parts/header.html
  blank-canvas-blocks/block-template-parts/navigation.html
  blank-canvas-blocks/block-templates/404.html
  blank-canvas-blocks/block-templates/index.html
  blank-canvas-blocks/block-templates/search.html
  blank-canvas-blocks/experimental-theme.json
Labels: [Theme] Blank Canvas Blocks

#3536 Blank Canvas Blocks: Add a build tool
  blank-canvas-blocks/build.js
  blank-canvas-blocks/package-lock.json
  blank-canvas-blocks/package.json
Labels: [Theme] Blank Canvas Blocks

#3562 Blank Canvas Blocks: Update build script
  blank-canvas-blocks/build.js
  blank-canvas-blocks/package-lock.json
  blank-canvas-blocks/package.json
Labels: [Theme] Blank Canvas Blocks

#3558 Mayland Blocks: Layout and alignments
  mayland-blocks/assets/alignments.css
  mayland-blocks/block-templates/index.html
  mayland-blocks/block-templates/page.html
  mayland-blocks/block-templates/single.html
  mayland-blocks/child-experimental-theme.json
  mayland-blocks/experimental-theme.json
  mayland-blocks/functions.php
Labels: [Theme] Mayland Blocks

#3417 Make Blank Canvas Blocks
  .github/workflows/bcb_demo_deploy.yml
  .gitignore
  blank-canvas-blocks/assets/images/pattern-art.jpg
  blank-canvas-blocks/assets/images/pattern-camera.jpg
  blank-canvas-blocks/assets/images/pattern-drink.jpg
  blank-canvas-blocks/assets/images/pattern-hat.jpg
  blank-canvas-blocks/assets/images/pattern-links-gradient.jpg
  blank-canvas-blocks/assets/images/pattern-links-hamburger.png
  blank-canvas-blocks/assets/images/pattern-links-logo.png
  blank-canvas-blocks/assets/images/pattern-links-pencils.jpg
  blank-canvas-blocks/assets/images/pattern-links-singer.png
  blank-canvas-blocks/assets/images/pattern-links-sunglasses.jpg
  blank-canvas-blocks/assets/images/pattern-portrait.jpg
  blank-canvas-blocks/assets/images/pattern-tattoo.jpg
  blank-canvas-blocks/assets/images/pattern-woman.jpg
  blank-canvas-blocks/assets/navigation.js
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/block-template-parts/footer.html
  blank-canvas-blocks/block-template-parts/header.html
  blank-canvas-blocks/block-template-parts/navigation.html
  blank-canvas-blocks/block-templates/404.html
  blank-canvas-blocks/block-templates/index.html
  blank-canvas-blocks/block-templates/search.html
  blank-canvas-blocks/build.js
  blank-canvas-blocks/experimental-theme.json
  blank-canvas-blocks/functions.php
  blank-canvas-blocks/inc/block-patterns.php
  blank-canvas-blocks/index.php
  blank-canvas-blocks/package-lock.json
  blank-canvas-blocks/package.json
  blank-canvas-blocks/readme.md
  blank-canvas-blocks/sass/base/_accessibility.scss
  blank-canvas-blocks/sass/base/_alignment.scss
  blank-canvas-blocks/sass/base/_breakpoints.scss
  blank-canvas-blocks/sass/base/_normalize.scss
  blank-canvas-blocks/sass/base/_style.scss
  blank-canvas-blocks/sass/base/_text.scss
  blank-canvas-blocks/sass/blocks/_button.scss
  blank-canvas-blocks/sass/blocks/_columns.scss
  blank-canvas-blocks/sass/blocks/_file.scss
  blank-canvas-blocks/sass/blocks/_gallery.scss
  blank-canvas-blocks/sass/blocks/_image.scss
  blank-canvas-blocks/sass/blocks/_list.scss
  blank-canvas-blocks/sass/blocks/_navigation.scss
  blank-canvas-blocks/sass/blocks/_paragraph.scss
  blank-canvas-blocks/sass/blocks/_pullquote.scss
  blank-canvas-blocks/sass/blocks/_quote.scss
  blank-canvas-blocks/sass/blocks/_search.scss
  blank-canvas-blocks/sass/blocks/_separator.scss
  blank-canvas-blocks/sass/blocks/_table.scss
  blank-canvas-blocks/sass/blocks/_video.scss
  blank-canvas-blocks/sass/elements/_forms.scss
  blank-canvas-blocks/sass/elements/_links.scss
  blank-canvas-blocks/sass/elements/_style.scss
  blank-canvas-blocks/sass/ponyfill.scss
  blank-canvas-blocks/screenshot.png
  blank-canvas-blocks/style.css
Labels: [Theme] Blank Canvas Blocks

#3592 Mayland Blocks: Added post meta
  blank-canvas-blocks/assets/ponyfill.css
  blank-canvas-blocks/sass/post/_meta.scss
  mayland-blocks/assets/svg/post-author.svg
  mayland-blocks/assets/svg/post-category.svg
  mayland-blocks/assets/svg/post-date.svg
  mayland-blocks/assets/svg/post-tag.svg
  mayland-blocks/block-template-parts/post-meta.html
  mayland-blocks/block-templates/index.html
  mayland-blocks/block-templates/single.html
  mayland-blocks/child-experimental-theme.json
  mayland-blocks/experimental-theme.json
  mayland-blocks/functions.php
  mayland-blocks/style.css
Labels: [Theme] Mayland Blocks
