Repository Automattic/themes, pull requests merged in 2021-09, with the labels that each got.

#4481 Move the paragraph indent style to the first paragraph of every container
  skatepark/assets/theme.css
  skatepark/block-templates/index.html
  skatepark/inc/block-styles.php
  skatepark/inc/patterns/blog-posts.php
  skatepark/inc/patterns/columns-in-container.php
  skatepark/inc/patterns/mixed-media-in-container.php
  skatepark/inc/patterns/paragraph-with-quote.php
  skatepark/inc/patterns/two-columns-of-text.php
  skatepark/sass/base/_text.scss
  skatepark/sass/block-styles/_indented-paragraph.scss
  skatepark/sass/theme.scss
Labels: [Theme] Skatepark

#4514 Morden: fix hover color for social navigation icons
  morden/style.css
Labels: [Type] Bug, [Status] Needs Review, [Theme] Morden

#4525 Blank Canvas, IP2, Lodestar: Add support for selective refresh widgets
  blank-canvas/functions.php
  independent-publisher-2/functions.php
  lodestar/functions.php
Labels: [Status] Needs Review

#4532 Geologist: code quality
  blockbase/sass/blocks/_button-mixins.scss
  blockbase/sass/blocks/_buttons-outline-style.scss
  geologist/assets/theme.css
  geologist/sass/block-patterns/_headlines.scss
  geologist/sass/block-patterns/_join.scss
  geologist/sass/block-styles/_cover.scss
  geologist/sass/block-styles/_query.scss
  geologist/sass/blocks/_buttons.scss
  geologist/sass/theme.scss
  geologist/theme.json
  quadrat/sass/blocks/_buttons.scss
  quadrat/sass/theme.scss
  skatepark/assets/theme.css
  skatepark/sass/blocks/_buttons.scss
  skatepark/sass/theme.scss
Labels: [Theme] Blockbase, [Theme] Geologist

#4534 Blockbase: Fix "Blog pages show at most" reading setting
  blockbase/block-templates/index.html
  blockbase/block-templates/search.html
Labels: [Theme] Blockbase

#4537 Quadrat: Fix footer
  quadrat/assets/theme.css
  quadrat/sass/templates/_footer.scss
Labels: [Theme] Quadrat

#4465 Skatepark: Add custom padding to cover block
  skatepark/assets/theme.css
  skatepark/child-theme.json
  skatepark/sass/blocks/_cover.scss
  skatepark/sass/theme.scss
  skatepark/theme.json
Labels: design, [Theme] Skatepark

#4540 Blockbase: Remove wpcom specific code
  blockbase/inc/wpcom-style.css
Labels: [Theme] Blockbase

#4535 Blockbase comments block refactor
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_buttons-outline-style.scss
  blockbase/sass/blocks/_post-comments.scss
  blockbase/theme.json
  geologist/assets/theme.css
  geologist/sass/blocks/_post-comments.scss
  geologist/theme.json
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/sass/blocks/_post-comments.scss
  quadrat/theme.json
  seedlet-blocks/assets/theme.css
  seedlet-blocks/sass/blocks/_post-comments.scss
  seedlet-blocks/theme.json
  skatepark/assets/theme.css
  skatepark/sass/blocks/_buttons.scss
  skatepark/sass/blocks/_post-comments.scss
  skatepark/theme.json
Labels: [Theme] Blockbase

#4520 Skatepark: improve header styles to fit new design guidelines
  skatepark/assets/theme.css
  skatepark/sass/templates/_header.scss
Labels: [Theme] Skatepark

#4542 Blockbase: change google url for Fira
  blockbase/inc/customizer/wp-customize-fonts.php
Labels: [Theme] Seedlet Blocks, [Theme] Blockbase

#4548 Blockbase: Remove wpcom specific CSS file
  blockbase/assets/ponyfill.css
  blockbase/inc/wpcom-style.css
  blockbase/inc/wpcom.php
  blockbase/sass/blocks/_post-comments.scss
Labels: [Theme] Blockbase

#4543 Mayland Blocks, Blockbase: fix header vertical spacing
  blockbase/block-template-parts/header.html
  mayland-blocks/block-template-parts/header.html
Labels: [Theme] Mayland Blocks, [Theme] Blockbase

#4545 fix episode pattern markup
  quadrat/inc/patterns/episode.php
Labels: [Theme] Quadrat

#4551 Blockbase: Add comments to Blockbase for the respective Gutenberg issues
  blockbase/sass/blocks/_button-mixins.scss
  blockbase/sass/blocks/_code.scss
  blockbase/sass/blocks/_columns.scss
  blockbase/sass/blocks/_file.scss
  blockbase/sass/blocks/_gallery.scss
  blockbase/sass/blocks/_html.scss
  blockbase/sass/blocks/_image.scss
  blockbase/sass/blocks/_latest-posts.scss
  blockbase/sass/blocks/_list.scss
  blockbase/sass/blocks/_navigation.scss
  blockbase/sass/blocks/_paragraph.scss
  blockbase/sass/blocks/_post-author.scss
  blockbase/sass/blocks/_pullquote.scss
  blockbase/sass/blocks/_separator.scss
  blockbase/sass/blocks/_table.scss
  blockbase/sass/blocks/_video.scss
Labels: [Theme] Blockbase

#4546 Seedlet: Remove wpstats image code
  seedlet/assets/sass/components/_style.scss
  seedlet/assets/sass/components/utilities/_style.scss
  seedlet/assets/sass/style.scss
  seedlet/package.json
  seedlet/style-rtl.css
  seedlet/style.css
Labels: [Theme] Seedlet

#4564 Blockbase: Remove wpcom CSS
  blockbase/inc/wpcom-style.css
  blockbase/inc/wpcom.php
Labels: [Theme] Blockbase

#4561 Skatepark: refactor post title margins
  skatepark/assets/theme.css
  skatepark/block-templates/index.html
  skatepark/block-templates/page.html
  skatepark/block-templates/single.html
  skatepark/child-theme.json
  skatepark/sass/blocks/_post-title.scss
  skatepark/sass/templates/_index.scss
  skatepark/theme.json
Labels: [Theme] Skatepark

#4573 Blockbase: Add Geologist to child themes build script
  blockbase/rebuild-child-themes.sh
Labels: [Theme] Blockbase, [Theme] Geologist

#4576 Geologist: Fix header and post meta alignments
  geologist/block-template-parts/header.html
Labels: [Theme] Geologist

#4556 Simplify Custom margin
  blockbase/assets/ponyfill.css
  blockbase/block-template-parts/header.html
  blockbase/sass/base/_alignment.scss
  blockbase/sass/base/_mixins.scss
  blockbase/sass/base/_text.scss
  blockbase/sass/blocks/_post-comments.scss
  blockbase/sass/blocks/_search.scss
  blockbase/sass/blocks/_table.scss
  blockbase/theme.json
  geologist/assets/theme.css
  geologist/child-theme.json
  geologist/sass/blocks/_pullquote.scss
  geologist/sass/templates/_header.scss
  geologist/sass/templates/_query.scss
  geologist/theme.json
  mayland-blocks/assets/theme.css
  mayland-blocks/block-template-parts/footer.html
  mayland-blocks/block-template-parts/header.html
  mayland-blocks/child-theme.json
  mayland-blocks/sass/theme.scss
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/child-theme.json
  quadrat/sass/blocks/_pullquote.scss
  quadrat/sass/templates/_header.scss
  quadrat/sass/templates/_query.scss
  quadrat/theme.json
  seedlet-blocks/assets/theme.css
  seedlet-blocks/child-theme.json
  seedlet-blocks/sass/blocks/_latest-posts.scss
  seedlet-blocks/sass/blocks/_post-comments.scss
  seedlet-blocks/sass/blocks/_pullquote.scss
  seedlet-blocks/sass/theme.scss
  seedlet-blocks/theme.json
  skatepark/assets/theme.css
  skatepark/child-theme.json
  skatepark/sass/base/_text.scss
  skatepark/sass/block-patterns/_paragraph-with-quote.scss
  skatepark/sass/block-styles/_image-caption.scss
  skatepark/sass/block-styles/_side-quote.scss
  skatepark/sass/block-styles/_testimonial-quote.scss
  skatepark/sass/blocks/_cover.scss
  skatepark/sass/blocks/_post-comments.scss
  skatepark/sass/blocks/_post-title.scss
  skatepark/sass/templates/_header.scss
  skatepark/sass/templates/_index.scss
  skatepark/theme.json
Labels: [Theme] Blockbase

#4574 Quadrat: remove extra inline padding
  quadrat/block-templates/page.html
  quadrat/block-templates/single.html
Labels: [Theme] Quadrat

#4557 Moved gap between site logo and title from GRID to IMAGE
  skatepark/assets/theme.css
  skatepark/sass/templates/_header.scss
Labels: [Theme] Skatepark

#4570 Blockbase + Quadrat: remap quadrat colors, refactor selection to tertiary
  blockbase/assets/ponyfill.css
  blockbase/inc/customizer/wp-customize-colors.php
  blockbase/sass/base/_colors.scss
  blockbase/sass/base/_style.scss
  blockbase/sass/base/_text.scss
  blockbase/theme.json
  geologist/assets/theme.css
  geologist/child-theme.json
  geologist/sass/blocks/_calendar.scss
  geologist/sass/blocks/_navigation.scss
  geologist/sass/blocks/_table.scss
  geologist/theme.json
  mayland-blocks/child-theme.json
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/child-theme.json
  quadrat/inc/patterns/episode.php
  quadrat/inc/patterns/latest-episodes.php
  quadrat/sass/block-styles/_query.scss
  quadrat/sass/blocks/_calendar.scss
  quadrat/sass/blocks/_navigation.scss
  quadrat/sass/blocks/_post-comments.scss
  quadrat/sass/blocks/_table.scss
  quadrat/sass/templates/_footer.scss
  quadrat/sass/templates/_header.scss
  quadrat/theme.json
  seedlet-blocks/child-theme.json
  seedlet-blocks/theme.json
  skatepark/assets/theme.css
  skatepark/child-theme.json
  skatepark/sass/base/_text.scss
  skatepark/theme.json
Labels: [Theme] Quadrat, [Theme] Blockbase, [Theme] Geologist

#4581 Geologist: Update tertiary color
  geologist/child-theme.json
  geologist/theme.json
Labels: [Type] Enhancement, [Theme] Geologist

#4627 Blockbase: Add a getting started guide
  blockbase/README.md
Labels: [Theme] Blockbase

#4563 Blockbase: Remove wpcom hook
  blockbase/inc/wpcom.php
Labels: [Theme] Blockbase

#4001 First pass at a blockbase child theme generator
  blockbase/create-child.js
  blockbase/package.json
  blockbase/readme.txt
Labels: [Theme] Blockbase

#4615 Geologist: Update the color paletts to match those in the Figma file
  geologist/child-theme.json
  geologist/theme.json
Labels: [Theme] Geologist

#4631 Gallery: Add margins to the gallery block using theme.json
  blockbase/theme.json
Labels: [Theme] Blockbase

#4565 Blockbase: Add post-meta template part
  blockbase/assets/ponyfill.css
  blockbase/assets/svg/post-tag.svg
  blockbase/block-template-parts/post-meta.html
  blockbase/block-templates/singular.html
  blockbase/sass/post/_meta.scss
  blockbase/theme.json
  geologist/theme.json
  mayland-blocks/theme.json
  quadrat/theme.json
  seedlet-blocks/block-template-parts/post-meta.html
  seedlet-blocks/theme.json
  skatepark/assets/theme.css
  skatepark/child-theme.json
  skatepark/sass/elements/_post-meta.scss
  skatepark/theme.json
Labels: [Theme] Blockbase

#4661 Videomaker: Add a base theme with initial settings
  videomaker/assets/theme.css
  videomaker/block-template-parts/footer.html
  videomaker/block-template-parts/header.html
  videomaker/block-template-parts/post-meta.html
  videomaker/block-templates/blank.html
  videomaker/block-templates/header-footer-only.html
  videomaker/block-templates/index.html
  videomaker/block-templates/search.html
  videomaker/block-templates/singular.html
  videomaker/child-theme.json
  videomaker/functions.php
  videomaker/package-lock.json
  videomaker/package.json
  videomaker/sass/_links.css
  videomaker/sass/theme.scss
  videomaker/style.css
  videomaker/theme.json
Labels: [Theme] Videomaker

#4677 Videomaker: Make button font weight 700
  videomaker/child-theme.json
  videomaker/theme.json
Labels: [Theme] Videomaker

#4623 Geologist: Add block patterns
  geologist/assets/images/gem.jpeg
  geologist/assets/theme.css
  geologist/child-theme.json
  geologist/functions.php
  geologist/inc/block-patterns.php
  geologist/inc/patterns/authors.php
  geologist/inc/patterns/email-updates-large.php
  geologist/inc/patterns/email-updates-small.php
  geologist/inc/patterns/image-feature.php
  geologist/inc/patterns/introduction.php
  geologist/inc/patterns/quote.php
  geologist/inc/patterns/two-featured-posts.php
  geologist/sass/blocks/_pullquote.scss
  geologist/theme.json
Labels: [Theme] Geologist

#4672 Blockbase: Update docs
  blockbase/README.md
  blockbase/create-child.js
  blockbase/readme.txt
Labels: [Theme] Blockbase

#4632 Add comments to pages on Skatepark, Quadrat and Geologist
  geologist/block-templates/page.html
  quadrat/block-templates/page.html
  skatepark/block-templates/page.html
Labels: [Theme] Quadrat, [Theme] Skatepark, [Theme] Geologist

#4676 Videomaker: Add typography settings
  videomaker/child-theme.json
  videomaker/theme.json
Labels: [Theme] Videomaker

#4673 Blockbase: Fix alignments in the Query Pagination block
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_query-pagination.scss
Labels: [Theme] Blockbase

#4680 Videomaker: Add navigation styles
  videomaker/assets/theme.css
  videomaker/block-template-parts/header.html
  videomaker/child-theme.json
  videomaker/sass/_links.scss
  videomaker/sass/_navigation.scss
  videomaker/sass/theme.scss
  videomaker/theme.json
Labels: [Theme] Videomaker

#4684 Blockbase: Add focus styles
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_post-comments.scss
  blockbase/sass/elements/_forms.scss
  blockbase/sass/elements/_links.scss
  quadrat/assets/theme.css
  quadrat/sass/elements/_forms.scss
Labels: [Theme] Blockbase

#4683 Quadrat/update font sizes
  quadrat/assets/theme.css
  quadrat/child-theme.json
  quadrat/sass/blocks/_navigation.scss
  quadrat/theme.json
Labels: [Theme] Quadrat

#4663 Add post meta to Geologist Theme
  geologist/assets/theme.css
  geologist/block-template-parts/post-meta.html
  geologist/block-templates/index.html
  geologist/block-templates/single.html
  geologist/sass/templates/_meta.scss
Labels: [Type] Enhancement

#4674 Blockbase: Add scroll overflow to pre tags
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_normalize.scss
Labels: [Theme] Blockbase

#4693 Quadrat+Skatepark: Remove code that removes support for block templates
  quadrat/functions.php
  skatepark/functions.php
Labels: [Theme] Quadrat, [Theme] Skatepark

#4675 Blockbase: Add more styles to .aligncenter
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_alignment.scss
Labels: [Theme] Blockbase

#4624 Skatepark: Fix title spacing
  skatepark/assets/theme.css
  skatepark/block-templates/page.html
  skatepark/block-templates/single.html
  skatepark/sass/blocks/_post-content.scss
  skatepark/sass/blocks/_post-featured-image.scss
  skatepark/sass/blocks/_post-title.scss
  skatepark/sass/theme.scss
Labels: [Theme] Skatepark

#4697 Videomaker: Add content width settings
  videomaker/child-theme.json
  videomaker/theme.json
Labels: [Theme] Videomaker

#4699 Updates font sizes.
  geologist/assets/theme.css
  geologist/child-theme.json
  geologist/sass/blocks/_navigation.scss
  geologist/theme.json
Labels: [Theme] Geologist

#4685 Videomaker: add footer
  videomaker/assets/theme.css
  videomaker/block-template-parts/footer.html
  videomaker/functions.php
  videomaker/sass/templates/_footer.scss
  videomaker/sass/theme.scss
Labels: [Theme] Videomaker

#4536 Quadrat: Add pagination arrows through block settings, not in CSS
  quadrat/assets/theme.css
  quadrat/block-templates/index.html
  quadrat/block-templates/search.html
  quadrat/inc/patterns/query-diamond.php
  quadrat/sass/blocks/_query-pagination.scss
Labels: [Theme] Quadrat

#4692 Blockbase: Add site logo
  blockbase/assets/ponyfill.css
  blockbase/block-template-parts/header.html
  blockbase/functions.php
  blockbase/sass/base/_header.scss
  geologist/assets/theme.css
  geologist/block-template-parts/header.html
  geologist/sass/templates/_header.scss
  geologist/sass/theme.scss
  mayland-blocks/block-template-parts/header.html
  quadrat/assets/theme.css
  quadrat/block-template-parts/header.html
  quadrat/functions.php
  quadrat/sass/templates/_header.scss
  skatepark/functions.php
  videomaker/block-template-parts/header.html
Labels: [Theme] Blockbase

#4714 Blockbase: add json schema to theme.json
  blockbase/theme.json
  geologist/theme.json
  mayland-blocks/theme.json
  quadrat/theme.json
  seedlet-blocks/theme.json
  skatepark/theme.json
Labels: [Theme] Blockbase, Tools

#4633 Drop "fontsToLoadFromGoogle" for child themes
  blockbase/inc/customizer/wp-customize-fonts.php
  skatepark/child-theme.json
  skatepark/theme.json
Labels: [Theme] Blockbase

#4713 Blockbase: Don't reset the settings array if it doesn't exist
  blockbase/inc/customizer/wp-customize-colors.php
Labels: [Theme] Blockbase

#4717 Blockbase: Add menu previews
  blockbase/functions.php
  blockbase/inc/customizer/wp-customize-nav-menu-refresh.js
Labels: [Theme] Blockbase

#4711 Blockbase: Update font size names
  blockbase/404.php
  blockbase/block-template-parts/footer.html
  blockbase/block-template-parts/post-meta.html
  blockbase/theme.json
  geologist/assets/theme.css
  geologist/block-template-parts/header.html
  geologist/block-template-parts/post-meta.html
  geologist/child-theme.json
  geologist/sass/blocks/_navigation.scss
  geologist/sass/blocks/_query.scss
  geologist/theme.json
  mayland-blocks/block-template-parts/header.html
  mayland-blocks/theme.json
  quadrat/assets/theme.css
  quadrat/block-template-parts/header.html
  quadrat/block-templates/index.html
  quadrat/block-templates/single.html
  quadrat/child-theme.json
  quadrat/inc/patterns/headlines-and-buttons.php
  quadrat/inc/patterns/listen-to-the-podcast.php
  quadrat/inc/patterns/query-diamond.php
  quadrat/sass/blocks/_navigation.scss
  quadrat/sass/blocks/_query.scss
  quadrat/sass/templates/_meta.scss
  quadrat/theme.json
  seedlet-blocks/assets/theme.css
  seedlet-blocks/block-template-parts/post-meta.html
  seedlet-blocks/child-theme.json
  seedlet-blocks/sass/blocks/_post-comments.scss
  seedlet-blocks/sass/theme.scss
  seedlet-blocks/theme.json
  skatepark/block-template-parts/footer.html
  skatepark/block-templates/index.html
  skatepark/block-templates/single.html
  skatepark/child-theme.json
  skatepark/inc/patterns/blog-posts.php
  skatepark/inc/patterns/pre-footer.php
  skatepark/theme.json
  videomaker/block-template-parts/footer.html
  videomaker/block-template-parts/post-meta.html
  videomaker/child-theme.json
  videomaker/theme.json
Labels: [Theme] Blockbase

#4724 Geologist: Minor updates
  geologist/child-theme.json
  geologist/inc/block-patterns.php
  geologist/inc/patterns/header-with-rounded-site-logo.php
  geologist/theme.json
Labels: [Type] Enhancement, [Theme] Geologist

#4723 Blockbase: fix navigation on Safari
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_query-pagination.scss
Labels: [Theme] Blockbase

#4726 Blockbase: Make the top margins consistent
  blockbase/assets/ponyfill.css
  blockbase/block-template-parts/header.html
  blockbase/sass/blocks/_post-template.scss
  blockbase/sass/ponyfill.scss
  geologist/assets/theme.css
  geologist/sass/blocks/_post-template.scss
  geologist/sass/theme.scss
  quadrat/assets/theme.css
  quadrat/sass/blocks/_post-template.scss
  quadrat/sass/theme.scss
  skatepark/theme.json
Labels: [Theme] Blockbase

#4734 Blockbase: add a page template
  blockbase/block-templates/page.html
  blockbase/block-templates/single.html
Labels: [Theme] Blockbase

#4733 Blockbase: fix post title + content vertical spacing
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_layout.scss
Labels: [Theme] Blockbase

#4743 Blockbase: remove generic has-background padding
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_utility.scss
Labels: [Theme] Blockbase

#4742 Blockbase: add a zero margin top utility class
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_utility.scss
Labels: [Theme] Quadrat

#4744 Replace query-loop with post-template
  geologist/assets/theme.css
  geologist/block-templates/search.html
  geologist/sass/blocks/_query.scss
  quadrat/assets/theme.css
  quadrat/block-templates/search.html
  quadrat/sass/blocks/_query.scss
Labels: [Theme] Quadrat, [Theme] Geologist

#4737 Quadrat: created new query block pattern
  quadrat/assets/theme.css
  quadrat/inc/block-patterns.php
  quadrat/inc/patterns/query-episodes.php
  quadrat/sass/block-patterns/_query.scss
  quadrat/sass/theme.scss
Labels: [Theme] Quadrat

#4753 Blockbase: hide no comments message
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_post-comments.scss
Labels: [Theme] Quadrat
