Repository Automattic/themes, pull requests merged in 2022-03, with the labels that each got.

#5610 Archeo: Fix invalid header
  archeo/parts/header.html
Labels: [Theme] Archeo

#5598 Compress Archeo screenshot
  archeo/screenshot.jpg
Labels: [Type] Bug, [Theme] Archeo

#5626 included stewart and skatepark to the themes to deploy list
  deploy-dotorg.sh
Labels: Tools

#5627 fixed spacing issues
  skatepark/block-templates/single.html
  skatepark/inc/patterns/blog-posts.php
  skatepark/inc/patterns/hidden-home-patterns.php
Labels: design, [Theme] Skatepark

#5630 Archeo: Pattern cleanup
  archeo/inc/block-patterns.php
  archeo/inc/patterns/headline-over-dark-image.php
  archeo/inc/patterns/image-with-description-and-right-aligned-headline.php
  archeo/inc/patterns/image-with-description.php
  archeo/inc/patterns/image-with-headline-description.php
  archeo/inc/patterns/image-with-headline-on-dark-background.php
  archeo/inc/patterns/image-with-headline-separate-description.php
  archeo/inc/patterns/layered-images-with-headline.php
  archeo/inc/patterns/layout-with-two-images-and-text.php
  archeo/inc/patterns/simple-list-of-posts-with-background.php
  archeo/inc/patterns/simple-list-of-posts.php
Labels: [Type] Bug, [Type] Enhancement, [Theme] Archeo

#5594 Karuna: add style resets for social links
  karuna/style.css
Labels: [Block] Social Links, [Theme] Karuna

#5613 Stewart: fixes on index, archive and search templates
  stewart/inc/block-patterns.php
  stewart/inc/patterns/posts-list.php
  stewart/templates/archive.html
  stewart/templates/index.html
  stewart/templates/search.html
Labels: [Theme] Stewart

#5634 Archeo: fix image block widths
  archeo/inc/patterns/image-with-description.php
  archeo/inc/patterns/layout-with-two-images-and-text.php
  archeo/style.css
Labels: [Theme] Archeo

#5573 Archeo: Remove text decoration from post titles
  archeo/inc/patterns/simple-list-of-posts-with-background.php
  archeo/style.css
Labels: [Theme] Archeo

#5638 Archeo: fix simple list of posts pattern mobile spacing
  archeo/inc/patterns/simple-list-of-posts-with-background.php
  archeo/inc/patterns/simple-list-of-posts.php
Labels: [Theme] Archeo

#5614 Stewart: fix font sizes on theme.json
  stewart/theme.json
Labels: [Theme] Stewart

#5654 Blockbase: move social-navigation.php requirement inside of `class_exists` check
  blockbase/functions.php
Labels: [Theme] Blockbase

#5644 Archeo: add CSS for mobile menu font size
  archeo/parts/header.html
  archeo/theme.json
Labels: [Theme] Archeo

#5645 Archeo: remove bottom margin from columns
  archeo/inc/patterns/image-with-headline-description.php
  archeo/theme.json
Labels: [Theme] Archeo

#5640 Archeo: fix footer spacing at mobile
  archeo/inc/patterns/footer.php
  archeo/parts/header.html
  archeo/style.css
Labels: [Theme] Archeo

#5623 Archeo: home page and header wide aligned
  archeo/inc/patterns/footer.php
  archeo/inc/patterns/image-with-headline-description.php
  archeo/inc/patterns/layered-images-with-headline.php
  archeo/inc/patterns/simple-list-of-posts-with-background.php
  archeo/parts/header.html
  archeo/templates/home.html
Labels: design, [Theme] Archeo

#5665 Remote: Image with text pattern
  remote/assets/images/Home-office.jpg
  remote/assets/images/Laptop.jpg
  remote/inc/block-patterns.php
  remote/inc/patterns/image-with-text.php
  remote/readme.txt
Labels: [Theme] Remote

#5695 Remote: removed extra class name from block pattern
  remote/inc/patterns/image-with-text.php
Labels: [Theme] Remote

#5633 Remote: header
  remote/parts/header.html
Labels: [Theme] Remote

#5697 Update Create Theme Checklist items
  create-a-theme-checklist.js
Labels: Tools

#5710 Blockbase: fix social links rendering
  blockbase/inc/social-navigation.php
Labels: [Theme] Blockbase

#5664 Remote: reassigned block patterns to default categories
  remote/inc/block-patterns.php
  remote/inc/patterns/categories.php
  remote/inc/patterns/hero-text.php
  remote/inc/patterns/hidden-search-form.php
  remote/inc/patterns/image-with-text.php
  remote/inc/patterns/posts-grid.php
  remote/inc/patterns/posts-list.php
  remote/inc/patterns/tags.php
Labels: [Theme] Remote

#5700 Add and configure fonts for use in Pendant.
  block-canvas/theme.json
  pendant/assets/fonts/Jost-Light.ttf
  pendant/assets/fonts/Jost-LightItalic.ttf
  pendant/assets/fonts/Jost-Medium.ttf
  pendant/assets/fonts/Literata_72pt-Black.ttf
  pendant/assets/fonts/Literata_72pt-BlackItalic.ttf
  pendant/assets/fonts/Literata_72pt-Light.ttf
  pendant/assets/fonts/Literata_72pt-LightItalic.ttf
  pendant/theme.json
Labels: [Theme] Pendant, Needs Design Approval

#5712 Remote: add screenshot and description
  remote/readme.txt
  remote/screenshot.png
  remote/style.css
Labels: design, [Theme] Remote

#5671 Archeo: Fix nav block blockGaps values
  archeo/inc/patterns/footer.php
  archeo/parts/header.html
Labels: [Theme] Archeo

#5714 Remote: subscribe pattern
  remote/inc/block-patterns.php
  remote/inc/patterns/subscribe.php
Labels: [Theme] Remote

#5719 [Archeo] Add "Page (No Title)" template
  archeo/templates/page-no-title.html
  archeo/theme.json
Labels: [Type] Enhancement, [Theme] Archeo

#5713 Block canvas and pendant: fixed block patterns
  block-canvas/patterns/404.php
  pendant/patterns/404.php
Labels: Do NOT merge!, [Theme] Pendant

#5703 Remote: add small quote pattern
  remote/assets/images/tattooed-woman.png
  remote/inc/block-patterns.php
  remote/inc/patterns/small-quote.php
  remote/readme.txt
Labels: [Theme] Remote

#5732 [Livro] Try adding support for the aside post format.
  livro/functions.php
  livro/style.css
Labels: [Type] Enhancement, [Theme] Livro

#5729 Remote: alignment issues
  remote/inc/patterns/posts-list.php
  remote/templates/page.html
  remote/templates/single.html
Labels: [Theme] Remote

#5721 [Archeo] Update the theme screenshot with Mayan translation
  archeo/readme.txt
  archeo/screenshot.jpg
Labels: [Theme] Archeo

#5731 Archeo: Reintroduce spacing fix
  archeo/inc/patterns/simple-list-of-posts-with-background.php
Labels: [Theme] Archeo

#5725 Add/pendant header
  pendant/parts/header.html
  pendant/parts/post-meta.html
  pendant/style.css
  pendant/theme.json
Labels: [Theme] Pendant, Needs Design Approval

#5752 Blockbase: update font sizes to rem instead of px for a11y
  blockbase/theme.json
Labels: Accessibility, [Theme] Blockbase

#5741 Blockbase: add style overrides for navigation block links
  blockbase/assets/ponyfill.css
  blockbase/package-lock.json
  blockbase/sass/elements/_links.scss
Labels: [Theme] Blockbase

#5755 Adjustments to link and button styles
  pendant/style.css
  pendant/theme.json
Labels: [Theme] Pendant, Needs Design Approval

#5784 Pendant: Template: Single
  pendant/templates/single.html
  pendant/theme.json
Labels: [Theme] Pendant, Needs Design Approval

#5751 Pendant: layout for index template
  pendant/templates/index.html
  pendant/theme.json
Labels: [Theme] Pendant
