Repository Automattic/themes, pull requests merged in 2022-11, with the labels that each got.

#6176 Remote: move link styles to theme.json
  remote/readme.txt
  remote/style.css
  remote/theme.json
Labels: [Theme] Remote

#6121 Stewart: Move link and hover settings to theme.json
  stewart/readme.txt
  stewart/style.css
  stewart/theme.json
Labels: [Theme] Stewart

#6156 Blockbase: move link pseudo states to theme.json
  blockbase/assets/ponyfill.css
  blockbase/sass/elements/_links.scss
  blockbase/theme.json
Labels: [Theme] Blockbase

#6669 #6648: Independent Publisher 2: Table Block Border Surrounds Caption
  independent-publisher-2/css/editor-blocks.css
Labels: [Theme] Independent Publisher 2

#6729 Rainfall: small tweaks
  rainfall/functions.php
  rainfall/index.php
  rainfall/readme.txt
  rainfall/style.css
Labels: [Theme] Rainfall

#6731 Adjust the 'pricing' pattern to better fit in all screen dimensions
  loudness/patterns/pricing.php
Labels: [Theme] Loudness

#6737 Rainfall: Update copy in patterns
  rainfall/patterns/media-text.php
  rainfall/patterns/testimonials.php
Labels: [Theme] Rainfall

#6734 Remote: update fluid-typography and clean button styles
  remote/style.css
  remote/theme.json
Labels: [Theme] Remote

#6743 Blockbase: Enabled navigation fallback
  blockbase/functions.php
Labels: [Theme] Blockbase

#6756 Muscat: add min height to post content
  muscat/templates/page.html
  muscat/templates/single.html
Labels: [Theme] Muscat

#6757 Muscat variation: fix rubik reference
  muscat/styles/midnight.json
Labels: [Theme] Muscat
