Repository Automattic/themes, pull requests merged in 2022-10, with the labels that each got.

#6654 Rainfall: add to deploy list, update screenshot, bump version
  deploy-dotorg.sh
  rainfall/screenshot.png
  rainfall/style.css
Labels: [Theme] Rainfall

#6663 Videomaker: Fix primary color usage
  videomaker-white/theme.json
  videomaker/theme.json
Labels: [Type] Bug, Premium

#6278 #2817: Pique: Overrides paragraph block alignment added on cover block on home page
  pique/style.css
Labels: [Status] Needs Testing

#6675 Rainfall: Swap landing-page to home template
  rainfall/templates/home.html
  rainfall/theme.json
Labels: [Theme] Rainfall

#6686 Archeo: Improve block markup and fix block errors
  archeo/patterns/footer.php
  archeo/patterns/layered-images-with-headline.php
  archeo/patterns/simple-list-of-posts-with-background.php
  archeo/patterns/simple-list-of-posts.php
  archeo/templates/404.html
  archeo/templates/archive.html
  archeo/templates/home.html
  archeo/templates/index.html
  archeo/templates/page-no-title.html
  archeo/templates/page.html
  archeo/templates/search.html
  archeo/templates/single.html
Labels: [Theme] Archeo

#6699 Remove archive type from title
  loudness/templates/archive.html
Labels: [Theme] Loudness

#6702 Finalized things with Loudness
  loudness/assets/fonts/DMMono-Italic.ttf
  loudness/functions.php
  loudness/parts/post-meta.html
  loudness/readme.txt
  loudness/screenshot.png
  loudness/style.css
  loudness/theme.json
Labels: [Theme] Loudness

#6705 Block Canvas: small updates
  block-canvas/index.php
  block-canvas/parts/header.html
  block-canvas/parts/post-meta.html
  block-canvas/patterns/comments.php
  block-canvas/patterns/footer.php
  block-canvas/style.css
  block-canvas/templates/404.html
  block-canvas/templates/archive.html
  block-canvas/templates/blank.html
  block-canvas/templates/index.html
  block-canvas/templates/page.html
  block-canvas/templates/search.html
  block-canvas/templates/single.html
  block-canvas/theme.json
Labels: [Theme] Block Canvas

#6701 Rainfall: try using index as home template
  rainfall/parts/query.html
  rainfall/patterns/home-query.php
  rainfall/style.css
  rainfall/templates/archive.html
  rainfall/templates/home.html
  rainfall/templates/index.html
Labels: [Theme] Rainfall

#6708 Fixed the 'Theme URI' of loudness to point to the correct location
  loudness/style.css
Labels: [Theme] Loudness
