Repository Automattic/themes, pull requests merged in 2022-02, with the labels that each got.

#5416 Skatepark: updated font sizes
  blockbase/inc/patterns/footer-columns.php
  skatepark/assets/theme.css
  skatepark/block-templates/search.html
  skatepark/inc/patterns/blog-posts.php
  skatepark/sass/block-styles/_testimonial-quote.scss
Labels: [Theme] Skatepark

#5441 Blockbase - register standard header and footer in theme json.
  blockbase/theme.json
Labels: [Type] Bug, FSE Support, [Theme] Blockbase

#5368 Remove block style registration
  blockbase/functions.php
  blockbase/inc/block-styles.php
  quadrat-black/functions.php
  quadrat-black/inc/block-styles.php
  quadrat-green/functions.php
  quadrat-green/inc/block-styles.php
  quadrat-red/functions.php
  quadrat-red/inc/block-styles.php
  quadrat-white/functions.php
  quadrat-white/inc/block-styles.php
  quadrat-yellow/functions.php
  quadrat-yellow/inc/block-styles.php
  quadrat/functions.php
  quadrat/inc/block-styles.php
  skatepark/functions.php
  skatepark/inc/block-styles.php
Labels: [Theme] Blockbase

#5436 Add Archeo (as standalone theme)
  archeo/assets/fonts/Chivo.woff2
  archeo/assets/fonts/OFL.txt
  archeo/functions.php
  archeo/index.php
  archeo/parts/footer.html
  archeo/parts/header.html
  archeo/readme.txt
  archeo/screenshot.png
  archeo/style.css
  archeo/templates/blank.html
  archeo/templates/index.html
  archeo/templates/page.html
  archeo/templates/single.html
  archeo/theme.json
  livro/templates/page.html
Labels: [Theme] Archeo

#5453 Archeo: Simplify heading declarations
  archeo/theme.json
Labels: [Theme] Archeo

#5457 Archeo: Remove custom properties
  archeo/theme.json
Labels: [Theme] Archeo

#5447 Archeo: update layout sizing and spacing
  archeo/parts/footer.html
  archeo/parts/header.html
  archeo/theme.json
Labels: [Theme] Archeo

#5452 Archeo: fixed font files and styles
  archeo/assets/fonts/Chivo-Bold.woff2
  archeo/assets/fonts/Chivo-BoldItalic.woff2
  archeo/assets/fonts/Chivo-Italic.woff2
  archeo/assets/fonts/Chivo-Light.woff2
  archeo/assets/fonts/Chivo-LightItalic.woff2
  archeo/assets/fonts/Chivo-Regular.woff2
  archeo/functions.php
  archeo/theme.json
Labels: [Theme] Archeo

#5462 Archeo: Add navigation styles
  archeo/parts/header.html
  archeo/style.css
Labels: [Theme] Archeo

#5460 Geologist and Zoologist: Add blog-homepage tag'
  geologist/style.css
  variations/geologist/geologist-blue/style.css
  variations/geologist/geologist-cream/style.css
  variations/geologist/geologist-slate/style.css
  variations/geologist/geologist-yellow/style.css
  zoologist/style.css
Labels: [Theme] Geologist, [Theme] Zoologist

#5461 Blockbase: Add comments to a page
  blockbase/block-templates/page.html
Labels: [Theme] Blockbase

#5464 Archeo: Headline over dark image pattern
  archeo/assets/images/uxmal.jpg
  archeo/functions.php
  archeo/inc/block-patterns.php
  archeo/inc/patterns/headline-over-dark-image.php
  archeo/theme.json
Labels: design, [Theme] Archeo

#5385 [Livro] Fix wide and full width content in index/archive/home templates
  livro/parts/post.html
  livro/style.css
  livro/templates/archive.html
  livro/templates/home.html
  livro/templates/index.html
  livro/templates/single.html
Labels: [Theme] Livro

#5469 Add the triangle back to the Quadrat footer
  quadrat/assets/theme.css
  quadrat/sass/templates/_footer.scss
Labels: [Theme] Quadrat

#5482 [Archeo] Update Chivo's 300 weight to 100 weight globally
  archeo/assets/fonts/Chivo-Light.woff2
  archeo/assets/fonts/Chivo-LightItalic.woff2
  archeo/assets/fonts/Chivo-Thin.woff2
  archeo/assets/fonts/Chivo-ThinItalic.woff2
  archeo/assets/fonts/Chivo.woff2
  archeo/functions.php
  archeo/inc/patterns/image-with-headline-on-dark-background.php
  archeo/style.css
  archeo/theme.json
Labels: [Type] Enhancement, [Theme] Archeo

#5475 Update alignment styles
  archeo/style.css
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_alignment.scss
  livro/style.css
  stewart/style.css
Labels: [Theme] Blockbase, [Theme] Stewart, [Theme] Livro, [Theme] Archeo

#5468 Archeo: Add Layered images with headline pattern
  archeo/assets/images/palais-du-cirque-bg.png
  archeo/assets/images/palais-du-cirque.jpg
  archeo/inc/block-patterns.php
  archeo/inc/patterns/layered-images-with-headline.php
Labels: [Theme] Archeo

#5479 Archeo: Add Image with description pattern
  archeo/assets/images/ancien-temple.jpg
  archeo/inc/block-patterns.php
  archeo/inc/patterns/image-with-description.php
Labels: [Theme] Archeo

#5486 Archeo: Add Layout with two images and text pattern
  archeo/assets/images/desire-charnay.jpg
  archeo/assets/images/uxmal2.jpg
  archeo/inc/block-patterns.php
  archeo/inc/patterns/layout-with-two-images-and-text.php
Labels: [Theme] Archeo

#5522 Archeo: Tidy up responsive font sizes
  archeo/theme.json
Labels: [Type] Enhancement, [Theme] Archeo

#5480 Archeo: Add Simple list of posts pattern
  archeo/inc/block-patterns.php
  archeo/inc/patterns/simple-list-of-posts.php
  archeo/style.css
Labels: [Theme] Archeo

#5487 Archeo: Add pattern 6
  archeo/assets/images/palais-du-gouverneur.png
  archeo/inc/block-patterns.php
  archeo/inc/patterns/image-with-description-and-right-aligned-headline.php
  archeo/style.css
Labels: [Theme] Archeo

#5525 Archeo: Update style.css tags
  archeo/style.css
Labels: [Theme] Archeo

#5519 Archeo: Add core block settings
  archeo/theme.json
Labels: [Theme] Archeo

#5528 Update README.md
  blockbase/README.md
Labels: [Theme] Blockbase

#5536 Archeo: Consolidate pattern images
  archeo/assets/images/palais-du-cirque-bg.png
  archeo/assets/images/uxmal.jpg
  archeo/assets/images/uxmal2.jpg
  archeo/inc/patterns/headline-over-dark-image.php
  archeo/inc/patterns/layered-images-with-headline.php
  archeo/inc/patterns/layout-with-two-images-and-text.php
Labels: [Theme] Archeo

#5523 Try making skatepark standalone block theme
  skatepark/assets/fonts/red-hat-display-500.woff2
  skatepark/assets/fonts/red-hat-display-500italic.woff2
  skatepark/assets/fonts/red-hat-display-700.woff2
  skatepark/assets/fonts/red-hat-display-700italic.woff2
  skatepark/assets/fonts/red-hat-display-900.woff2
  skatepark/assets/fonts/red-hat-display-900italic.woff2
  skatepark/assets/fonts/red-hat-display-italic.woff2
  skatepark/assets/fonts/red-hat-display-regular.woff2
  skatepark/assets/theme.css
  skatepark/block-template-parts/footer.html
  skatepark/block-template-parts/header.html
  skatepark/block-templates/404.html
  skatepark/block-templates/blank.html
  skatepark/block-templates/header-footer-only.html
  skatepark/block-templates/home.html
  skatepark/block-templates/single.html
  skatepark/functions.php
  skatepark/inc/block-patterns.php
  skatepark/inc/patterns/hidden-404.php
  skatepark/inc/patterns/hidden-home-patterns.php
  skatepark/inc/patterns/post-navigation-labeled.php
  skatepark/inc/patterns/three-columns.php
  skatepark/inc/patterns/two-columns-of-text.php
  skatepark/index.php
  skatepark/sass/theme.scss
  skatepark/style.css
  skatepark/theme.json
Labels: [Theme] Skatepark

#5534 Remote: single and page templates
  remote/style.css
  remote/templates/home.html
  remote/templates/page.html
  remote/templates/single.html
  remote/theme.json
Labels: [Theme] Remote

#5547 Skatepark: resized images
  skatepark/assets/images/skateboard-sideways.jpg
  skatepark/assets/images/skatepark.jpg
Labels: [Theme] Skatepark

#5544 Update, compress, and credit images used in the Archeo theme
  archeo/assets/images/ancien-temple.jpg
  archeo/assets/images/chahk.png
  archeo/assets/images/desire-charnay.jpg
  archeo/assets/images/figure-gigantesque.jpg
  archeo/assets/images/palais-du-cirque.jpg
  archeo/assets/images/palais-du-gouverneur.jpg
  archeo/assets/images/palais-du-gouverneur.png
  archeo/assets/images/pyramid.jpg
  archeo/assets/images/uxmal.jpg
  archeo/inc/patterns/headline-over-dark-image.php
  archeo/inc/patterns/image-with-description-and-right-aligned-headline.php
  archeo/inc/patterns/layout-with-two-images-and-text.php
  archeo/readme.txt
  archeo/screenshot.jpg
  archeo/screenshot.png
Labels: [Theme] Archeo

#5535 Remote: Remove hero from index template and make it a pattern
  remote/functions.php
  remote/inc/block-patterns.php
  remote/inc/patterns/hero-text.php
  remote/templates/home.html
Labels: design

#5562 Archeo: Move footer part markup into pattern
  archeo/inc/block-patterns.php
  archeo/inc/patterns/footer.php
  archeo/parts/footer.html
  archeo/templates/archive.html
  archeo/templates/index.html
  archeo/templates/search.html
Labels: [Theme] Archeo

#5541 Archeo: Update readme.txt and style.css
  archeo/readme.txt
  archeo/style.css
Labels: [Theme] Archeo

#5556 Archeo: Update all text in patterns
  archeo/inc/block-patterns.php
  archeo/inc/patterns/headline-over-dark-image.php
  archeo/inc/patterns/image-with-description-and-right-aligned-headline.php
  archeo/inc/patterns/image-with-description.php
  archeo/inc/patterns/image-with-headline-on-dark-background.php
  archeo/inc/patterns/image-with-headline-separate-description.php
  archeo/inc/patterns/layered-images-with-headline.php
  archeo/inc/patterns/layout-with-two-images-and-text.php
Labels: [Theme] Archeo

#5563 Archeo: Remove outer group from header
  archeo/parts/header.html
  archeo/templates/archive.html
  archeo/templates/index.html
  archeo/templates/search.html
Labels: [Theme] Archeo

#5564 Archeo: Add home template
  archeo/inc/block-patterns.php
  archeo/inc/patterns/image-with-headline-description.php
  archeo/inc/patterns/layered-images-with-headline.php
  archeo/inc/patterns/simple-list-of-posts-with-background.php
  archeo/inc/patterns/simple-list-of-posts.php
  archeo/parts/header.html
  archeo/templates/home.html
  archeo/theme.json
Labels: [Theme] Archeo

#5569 update parent theme for marl and attar
  attar/style.css
  marl/style.css
Labels: [Theme] Blockbase

#5551 Skatepark: trac ticket fixes
  skatepark/assets/theme.css
  skatepark/block-template-parts/header.html
  skatepark/functions.php
  skatepark/inc/patterns/three-columns.php
  skatepark/sass/theme.scss
Labels: [Theme] Skatepark

#5587 Blockbase: Add more issues that need to be resolved to remove CSS
  blockbase/sass/blocks/_calendar.scss
  blockbase/sass/blocks/_navigation.scss
  blockbase/sass/blocks/_paragraph.scss
Labels: [Theme] Blockbase

#5586 Blockbase: Remove list ponyfill
  blockbase/assets/ponyfill.css
  blockbase/package-lock.json
  blockbase/sass/blocks/_list.scss
  blockbase/sass/ponyfill.scss
  blockbase/theme.json
  zoologist/theme.json
Labels: [Theme] Blockbase

#5533 Remote posts grid pattern
  remote/functions.php
  remote/inc/block-patterns.php
  remote/inc/patterns/posts-grid.php
  remote/inc/patterns/posts-list.php
  remote/templates/page.html
  remote/theme.json
Labels: [Theme] Remote
