Repository Automattic/themes, pull requests merged in 2022-06, with the labels that each got.

#6044 #5875: Illustratr - Remove gallery from top of gallery posts
  illustratr/content-gallery.php
Labels: [Theme] Illustratr

#6028 Curator: update link and button styles
  curator/style.css
Labels: [Theme] Curator

#5994 add archive template and posts-grid pattern
  curator/patterns/404.php
  curator/patterns/hidden-post-terms-and-date.php
  curator/patterns/hidden-search-form.php
  curator/patterns/posts-grid.php
  curator/templates/archive.html
  curator/templates/search.html
  curator/theme.json
Labels: [Status] Needs Design Approval, [Theme] Curator

#6056 #5788: Shawburn: Pullquote Block(full-Width): centered text isn't working on small screens
  shawburn/sass/_extra-child-theme.scss
  shawburn/sass/style-child-theme.scss
  shawburn/style-rtl.css
  shawburn/style.css
Labels: [Status] Needs Testing, [Theme] Shawburn

#6055 #2906: Libretto: Search bar overlaps menu items
  libretto/style.css
Labels: [Status] Needs Testing

#6064 #6047: Seedlet: Fix no post message
  seedlet/template-parts/content/content-none.php
Labels: [Theme] Seedlet

#5908 Remote: add style variations
  remote/assets/fonts/IBMPlexMono-Light.ttf
  remote/assets/fonts/IBMPlexMono-LightItalic.ttf
  remote/assets/fonts/IBMPlexMono-SemiBold.ttf
  remote/assets/fonts/IBMPlexMono-SemiBoldItalic.ttf
  remote/assets/fonts/IBMPlexSans-ExtraLight.ttf
  remote/assets/fonts/IBMPlexSans-ExtraLightItalic.ttf
  remote/assets/fonts/IBMPlexSans-Light.ttf
  remote/assets/fonts/IBMPlexSans-LightItalic.ttf
  remote/assets/fonts/Newsreader-Italic.ttf
  remote/assets/fonts/Newsreader-Light.ttf
  remote/assets/fonts/Newsreader-LightItalic.ttf
  remote/assets/fonts/Newsreader-Regular.ttf
  remote/assets/fonts/SourceSansPro-Bold.ttf
  remote/assets/fonts/SourceSansPro-BoldItalic.ttf
  remote/assets/fonts/SourceSansPro-Italic.ttf
  remote/assets/fonts/SourceSansPro-Regular.ttf
  remote/parts/header.html
  remote/patterns/posts-grid.php
  remote/patterns/posts-list.php
  remote/readme.txt
  remote/style.css
  remote/styles/mono-bright.json
  remote/styles/timid-pink.json
  remote/templates/page.html
  remote/templates/single.html
  remote/theme.json
Labels: [Theme] Remote, [Status] Needs Design Approval

#5987 Curator: revise single template
  curator/patterns/post-comments.php
  curator/patterns/post-hero.php
  curator/patterns/post-navigation.php
  curator/style.css
  curator/templates/single.html
  curator/theme.json
Labels: [Theme] Curator

#5980 Curator: revise header template part
  curator/parts/header.html
  curator/patterns/post-hero.php
  curator/style.css
  curator/theme.json
Labels: [Status] Needs Design Approval, [Theme] Curator

#6082 Blockbase: remove navigation close button styles
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_navigation.scss
Labels: [Theme] Blockbase

#6110 Block canvas regressions
  block-canvas/parts/post-meta.html
  block-canvas/theme.json
Labels: [Theme] Block Canvas

#6070 Curator: update footer styles
  curator/parts/footer.html
  curator/patterns/footer.php
Labels: [Status] Needs Design Approval, [Theme] Curator

#6111 Block canvas: removed redundant theme.json definitions
  block-canvas/theme.json
Labels: [Theme] Block Canvas

#6071 Curator: index template and styles
  curator/patterns/posts-list.php
  curator/style.css
  curator/templates/index.html
  curator/theme.json
Labels: [Status] Needs Design Approval, [Theme] Curator

#6126 Curator: fix single template comments
  curator/patterns/post-comments.php
Labels: [Theme] Curator

#6061 curator: home page template
  curator/patterns/gallery.php
  curator/patterns/hero-post.php
  curator/patterns/recent-posts.php
  curator/style.css
  curator/templates/home.html
  curator/theme.json
Labels: [Status] Needs Design Approval, [Theme] Curator

#6139 Block Canvas: add support for button elements
  block-canvas/style.css
  block-canvas/theme.json
Labels: [Theme] Block Canvas

#6094 Curator: add recipe pattern
  curator/assets/images/smoothie.png
  curator/patterns/recipe.php
Labels: [Status] Needs Design Approval, [Theme] Curator

#6091 Curator: add reviews pattern
  curator/assets/images/sundae.png
  curator/assets/images/vermicelli.png
  curator/assets/images/wine-tasting.png
  curator/patterns/reviews.php
Labels: [Status] Needs Design Approval, [Theme] Curator

#6143 Curator: update screenshot and description
  curator/readme.txt
  curator/screenshot.png
Labels: [Theme] Curator

#6109 Block canvas: comment block
  block-canvas/patterns/comments.php
  block-canvas/templates/page.html
  block-canvas/templates/single.html
  block-canvas/theme.json
Labels: [Theme] Block Canvas
