Repository Automattic/themes, pull requests merged in 2022-09, with the labels that each got.

#6488 Pixel: add footer
  pixel/parts/footer.html
  pixel/patterns/footer.php
Labels: [Theme] Pixel

#6487 Pixel: update letter spacing and line height
  pixel/theme.json
Labels: [Theme] Pixel

#6498 Pixel: add button styles
  pixel/theme.json
Labels: [Theme] Pixel

#6489 Rainfall: adjust featured image in single template
  rainfall/templates/single.html
Labels: [Theme] Rainfall

#6495 Rainfall: Update quote styles
  rainfall/theme.json
Labels: [Theme] Rainfall

#6502 Russell: adjust featured image in single template
  russell/block-templates/single.html
Labels: [Theme] Russell

#6481 Pixel: Add post list block pattern
  pixel/parts/post-meta.html
  pixel/patterns/post-list.php
  pixel/style.css
  pixel/templates/index.html
  pixel/theme.json
Labels: [Theme] Pixel

#6417 Rainfall: Update navigation styles and tidy up templates
  rainfall/parts/footer.html
  rainfall/parts/header.html
  rainfall/parts/query.html
  rainfall/parts/sidebar.html
  rainfall/patterns/cta.php
  rainfall/patterns/hidden-404.php
  rainfall/patterns/latest-posts.php
  rainfall/patterns/sidebar.php
  rainfall/patterns/testimonials.php
  rainfall/style.css
  rainfall/templates/404.html
  rainfall/templates/index.html
  rainfall/templates/page-header-black.html
  rainfall/templates/page-no-sidebar.html
  rainfall/templates/page.html
  rainfall/templates/search.html
  rainfall/templates/single.html
  rainfall/theme.json
Labels: [Theme] Rainfall

#6513 Pixel: revise single template
  pixel/parts/post-meta.html
  pixel/patterns/quote.php
  pixel/style.css
  pixel/templates/single.html
Labels: [Theme] Pixel

#6510 Pixel: update block styles
  pixel/parts/header.html
  pixel/style.css
  pixel/theme.json
Labels: [Theme] Pixel

#6524 Pixel: revise page to account for featured image.
  pixel/templates/page.html
Labels: [Theme] Pixel

#6450 Rainfall: add Home template
  rainfall/assets/home.jpg
  rainfall/assets/images/rainfall-background.jpg
  rainfall/assets/images/rainfall-foreground.jpg
  rainfall/assets/rainfall-background.jpg
  rainfall/assets/rainfall-foreground.jpg
  rainfall/patterns/big-header.php
  rainfall/patterns/contacts.php
  rainfall/patterns/home-query.php
  rainfall/patterns/media-text.php
  rainfall/patterns/sidebar.php
  rainfall/patterns/testimonials.php
  rainfall/style.css
  rainfall/templates/home.html
  rainfall/templates/page-header-black.html
  rainfall/templates/page-no-sidebar.html
  rainfall/templates/page.html
  rainfall/templates/single.html
  rainfall/theme.json
Labels: [Theme] Rainfall

#6520 Pixl: refine the comments.
  pixel/patterns/comments.php
  pixel/style.css
  pixel/theme.json
Labels: [Theme] Pixl

#6535 Pixl: address theme design review comments
  pixl/patterns/comments.php
  pixl/style.css
  pixl/theme.json
Labels: [Theme] Pixl

#6564 Decibel: add footer template part
  decibel/parts/footer.html
  decibel/patterns/footer.php
Labels: [Theme] Decibel

#6344 #66356: Lodestar: Home page: Full width blocks are not full width
  lodestar/assets/css/blocks.css
Labels: [Theme] Lodestar

#6571 Decibel: add typography styles
  decibel/assets/fonts/Rubik-Medium.woff2
  decibel/assets/fonts/Rubik-Regular.woff2
  decibel/assets/fonts/Rubik-VariableFont_wght.ttf
  decibel/theme.json
Labels: [Theme] Decibel

#6575 Block Canvas: update comments pattern.
  block-canvas/patterns/comments.php
  block-canvas/templates/single.html
  pixl/patterns/comments.php
Labels: [Theme] Block Canvas, [Theme] Decibel

#6574 Decibel: add layout and global spacing
  decibel/theme.json
Labels: [Theme] Decibel

#6567 Decibel: add button styles
  block-canvas/functions.php
  block-canvas/style.css
  decibel/functions.php
  decibel/style.css
  decibel/theme.json
Labels: Do NOT merge!, [Theme] Decibel

#6579 Tools: add vscode settings to format files on save
  .vscode/settings.json
Labels: Tools

#6584 Decibel: Add single template
  block-canvas/templates/single.html
  block-canvas/theme.json
  decibel/templates/single.html
Labels: [Theme] Decibel

#6596 Fix/decibel filenames
  decibel/patterns/illustration-1.php
  decibel/patterns/illustration-2.php
Labels: [Theme] Decibel

#6523 Varia buttons: Fix custom text color when button background color is set to "foreground" or "background"
  alves/style-rtl.css
  alves/style.css
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/style-rtl.css
  dalston/style.css
  exford/style-rtl.css
  exford/style.css
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-rtl.css
  maywood/style.css
  morden/style-rtl.css
  morden/style.css
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style-rtl.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/blocks/utilities/_style.scss
  varia/style-rtl.css
  varia/style.css
Labels: [Theme] Varia

#6591 add overlay to featured image
  pixl/templates/page.html
  pixl/templates/single.html
Labels: [Theme] Pixl

#6598 Decibel is no longer a Block Canvas child
  decibel/parts/post-meta.html
  decibel/patterns/404.php
  decibel/patterns/comments.php
  decibel/style.css
  decibel/templates/404.html
  decibel/templates/archive.html
  decibel/templates/blank.html
  decibel/templates/footer-only.html
  decibel/templates/header-footer-only.html
  decibel/templates/index.html
  decibel/templates/page.html
  decibel/templates/search.html
  decibel/templates/single.html
  decibel/theme.json
Labels: [Theme] Decibel

#6617 Adding missing svg assets
  loudness/patterns/illustration-1.php
  loudness/patterns/illustration-2.php
Labels: [Theme] Loudness

#6619 Adding guest performers pattern
  loudness/assets/images/guest-1.jpg
  loudness/assets/images/guest-2.jpg
  loudness/assets/images/instructor-1.jpg
  loudness/assets/images/instructor-2.jpg
  loudness/assets/images/instructor-3.jpg
  loudness/assets/images/instructor-4.jpg
  loudness/assets/images/instructor-5.jpg
  loudness/assets/images/instructor-6.jpg
  loudness/assets/images/instructor-7.jpg
  loudness/assets/images/instructor-8.jpg
  loudness/patterns/guest-performers.php
Labels: [Theme] Loudness

#6627 Loudness: update footer credits
  loudness/patterns/footer.php
Labels: [Theme] Loudness

#6630 Remove 'button' style from navigation links in the responsive menu
  loudness/style.css
Labels: [Theme] Loudness

#6629 Loudness: Remove the tagline from the header
  loudness/parts/header.html
Labels: [Theme] Loudness

#6628 Refactored Loudness index templates.
  loudness/patterns/front-page.php
  loudness/templates/footer-only.html
  loudness/templates/header-footer-only.html
  loudness/templates/landing-page.html
  loudness/theme.json
Labels: [Theme] Loudness

#6606 Loudness: Add quote styles
  loudness/patterns/pullquote.php
  loudness/style.css
  loudness/theme.json
Labels: [Theme] Loudness

#6626 Rainfall: Updates for dotorg submission
  rainfall/patterns/home-query.php
  rainfall/screenshot.png
  rainfall/style.css
  rainfall/templates/landing-page.html
  rainfall/theme.json
Labels: [Theme] Rainfall
