Repository Automattic/themes, pull requests merged in 2022-08, with the labels that each got.

#6293 Rainfall: Try spacing presets
  rainfall/patterns/contacts.php
  rainfall/patterns/cta.php
  rainfall/templates/single.html
  rainfall/theme.json
Labels: [Theme] Rainfall

#6196 #5591: Scratchpad: Fix gallery post formatting
  scratchpad/style.css
  scratchpad/template-parts/content-gallery.php
Labels: [Theme] Scratchpad

#6307 [Club] Fix read more button overlap on Safari
  club/style.css
Labels: [Type] Bug, [Theme] club

#6300 Club: Implementing page template
  club/templates/page.html
Labels: [Theme] club

#6299 Blockbase: Locked post content blocks
  arbutus/block-templates/page.html
  arbutus/block-templates/single.html
  blockbase/templates/blank.html
  blockbase/templates/footer-only.html
  blockbase/templates/header-footer-only.html
  blockbase/templates/page.html
  blockbase/templates/single.html
  geologist/block-templates/page-without-title.html
  geologist/block-templates/page.html
  geologist/block-templates/single.html
  mayland-blocks/block-templates/front-page.html
  mayland-blocks/block-templates/page.html
  mayland-blocks/block-templates/single.html
  quadrat/block-templates/page-without-title.html
  quadrat/block-templates/page.html
  quadrat/block-templates/single.html
  remote/templates/page.html
  remote/templates/single.html
  russell/block-templates/page.html
  russell/block-templates/single.html
  seedlet-blocks/block-templates/archive.html
  seedlet-blocks/block-templates/index.html
  seedlet-blocks/block-templates/page.html
  seedlet-blocks/block-templates/single.html
  videomaker/block-templates/header-footer-only.html
  videomaker/block-templates/page.html
  videomaker/block-templates/single.html
  zoologist/block-templates/page-without-title.html
  zoologist/block-templates/page.html
  zoologist/block-templates/single.html
Labels: [Theme] Blockbase

#6305 Rainfall: address header and footer improvements
  rainfall/parts/footer.html
  rainfall/parts/header.html
  rainfall/style.css
  rainfall/templates/404.html
  rainfall/templates/index.html
  rainfall/templates/page-header-black.html
  rainfall/templates/page-no-sidebar.html
  rainfall/templates/page.html
  rainfall/templates/single.html
Labels: [Theme] Rainfall

#6302 Club: implementing footer template part
  club/parts/footer.html
  club/style.css
Labels: [Theme] club

#5708 Update Archeo theme.json from export
  archeo/theme.json
Labels: [Theme] Archeo

#6312 Archeo: Try new root padding alignments
  archeo/patterns/layered-images-with-headline.php
  archeo/patterns/simple-list-of-posts-with-background.php
  archeo/style.css
  archeo/theme.json
Labels: [Theme] Archeo

#6335 Club: removing custom font size
  club/parts/footer.html
  club/theme.json
Labels: [Theme] club

#6317 Rainfall: style buttons and links
  rainfall/style.css
  rainfall/theme.json
Labels: [Theme] Rainfall

#6338 Club: adding selection colors
  club/style.css
Labels: [Theme] club

#6337 Club: improving the look of the read-more button
  club/style.css
  club/theme.json
Labels: [Theme] club

#6343 #6341: Penscratch 2: Fix button borders on Safari
  penscratch-2/css/blocks.css
Labels: [Theme] Penscratch 2

#6159 Archeo: move CSS styles to theme.json
  archeo/patterns/footer.php
  archeo/style.css
  archeo/theme.json
Labels: [Theme] Archeo

#6345 Club: Search page template
  club/parts/post-meta.html
  club/patterns/404.php
  club/patterns/post-list.php
  club/patterns/search.php
  club/style.css
  club/templates/search.html
  club/theme.json
Labels: [Theme] club

#6347 Club: fixing font sizes in single template
  club/theme.json
Labels: [Theme] club

#6348 Club: implement button styles for interactive states in the read more block button
  club/style.css
Labels: [Theme] club

#6324 add timeout to deployment script to kill the unresponsive process
  package-lock.json
  package.json
  theme-utils.mjs
Labels: Tools

#6332 A fix for a quirk of odd-numbered widgets in Rockfield
  rockfield/sass/_extra-child-theme.scss
  rockfield/style-rtl.css
  rockfield/style.css
Labels: [Theme] Rockfield

#6342 #4628: Pique is not adding the default color palette css to the editor
  pique/assets/css/editor-blocks.css
Labels: [Theme] Pique

#6367 Club: alignfull in post pagination
  club/templates/single.html
Labels: [Theme] club

#6380 Club: fixing outline button styles
  club/style.css
Labels: [Theme] club

#6373 Club: remove comments and pagination from page template
  club/templates/page.html
Labels: [Theme] club

#6366 Club: font size fixes in various elements
  club/parts/footer.html
  club/templates/page.html
  club/templates/single.html
  club/theme.json
Labels: [Theme] club

#6375 Club: Refining spacing
  club/parts/footer.html
  club/parts/header.html
  club/patterns/404.php
  club/patterns/post-list.php
  club/templates/archive.html
  club/templates/index.html
  club/templates/search.html
  club/templates/single.html
  club/theme.json
Labels: [Theme] club

#6359 Livro: add white and cream variations
  livro/style.css
  livro/styles/cream.json
  livro/styles/white.json
  livro/theme.json
Labels: [Theme] Livro

#6399 Club: adding readme file
  club/readme.txt
  club/style.css
Labels: [Theme] club

#6400 Club: fix typography size in pattern
  club/patterns/post-list.php
Labels: [Theme] club

#6401 Club: cleaning color palette
  club/style.css
  club/theme.json
Labels: [Theme] club

#6403 Club: improve post editor by changing font size of title and width of layout
  club/style.css
  club/theme.json
Labels: [Theme] club

#6413 Renaming theme "Club" to "Disco"
  club/patterns/search.php
  disco/assets/fonts/SpaceMono-Bold.ttf
  disco/assets/fonts/SpaceMono-BoldItalic.ttf
  disco/assets/fonts/SpaceMono-Italic.ttf
  disco/assets/fonts/SpaceMono-Regular.ttf
  disco/assets/icons/arrow.svg
  disco/functions.php
  disco/index.php
  disco/parts/footer.html
  disco/parts/header.html
  disco/patterns/404.php
  disco/patterns/post-list.php
  disco/patterns/search.php
  disco/readme.txt
  disco/screenshot.png
  disco/style.css
  disco/templates/404.html
  disco/templates/archive.html
  disco/templates/blank.html
  disco/templates/footer-only.html
  disco/templates/header-footer-only.html
  disco/templates/index.html
  disco/templates/page.html
  disco/templates/search.html
  disco/templates/single.html
  disco/theme.json
Labels: [Theme] club

#6244 Actions: add Repo gardening action
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/gardening.yml
Labels: Tools

#6420 Livro: fix closing main tags in index and home templates
  livro/templates/home.html
  livro/templates/index.html
Labels: [Theme] Livro

#6396 Disco: add to dotorg deploy
  deploy-dotorg.sh
Labels: Do NOT merge!, [Theme] Disco

#6389 Bump node and npm versions to avoid updating lock file on dependency install
  .nvmrc
  package-lock.json
  package.json
Labels: dependencies

#6252 #3813: Independent Publisher 2: Fix issue with Gravatar in header
  independent-publisher-2/style.css
Labels: [Theme] Independent Publisher 2

#6478 Pixel: update color palette
  pixel/theme.json
Labels: [Theme] Pixel

#6480 Pixel: set correct foreground color
  pixel/theme.json
Labels: [Theme] Pixel
