Repository Automattic/themes, pull requests merged in 2022-05, with the labels that each got.

#5959 Cult: add color palette.
  cult/theme.json
Labels: [Theme] Cult

#5960 Cult: revise spacing / layout
  cult/style.css
  cult/theme.json
Labels: [Theme] Cult

#5970 Archeo: Sort properties alphabetically
  archeo/theme.json
Labels: [Theme] Archeo

#5953 #3299: Intergalactic 2: Image captions are left aligned in published …
  intergalactic-2/style.css
Labels: [Status] Needs Testing, [Theme] Intergalactic 2

#5972 Add pendant to dotorg deployment
  deploy-dotorg.sh
Labels: [Theme] Pendant

#5965 Added missing domain to localization call
  pendant/patterns/team.php
Labels: [Theme] Pendant

#5973 Curator: Add button styles
  curator/style.css
  curator/theme.json
Labels: [Status] Needs Design Approval, [Theme] Curator

#5974 #5893: Rebalance: Fix author display in post carousel block
  rebalance/style.css
Labels: [Status] Needs Testing, [Theme] Rebalance

#5981 #3080: Canard: Fix byline in blog post block
  canard/style.css
Labels: [Theme] Canard

#5982 Curator: update link and navigation styles
  curator/style.css
  curator/theme.json
Labels: [Theme] Curator

#5986 #4730: Canard: Fix Blog Post block thumbnail background
  canard/style.css
Labels: [Status] Needs Testing, [Theme] Canard

#5993 #2220: Radcliffe 2: Fix Blog Posts block display list w/images
  radcliffe-2/style.css
Labels: [Status] Needs Testing, [Theme ]Radcliffe 2

#6002 Add a contributing readme
  .nvmrc
  CONTRIBUTING.md
  README.md
Labels: [Type] Enhancement

#5997 #4934: Canard: Fix highlight padding
  canard/style.css
Labels: [Status] Needs Testing, [Theme] Canard

#6006 #6005: Canard: Fix regression in featured content
  canard/style.css
Labels: [Theme] Canard

#6019 Fix issue with duplicate title tags in blockbase
  blockbase/functions.php
Labels: [Theme] Blockbase

#6013 Illustratr: Add page password protection for portfolio page
  illustratr/page-templates/portfolio-page.php
Labels: [Theme] Illustratr

#5992 #2073: Radcliffe 2: Fix Blog Posts block text overlay
  radcliffe-2/style.css
Labels: [Theme ]Radcliffe 2

#6003 #5524: Shoreditch: Fix editor text highlight colors
  shoreditch/css/editor-blocks.css
Labels: [Theme] Shoreditch

#5967 Set Barnsbury to show footer widgets in 2 columns on smaller screens
  barnsbury/package-lock.json
  barnsbury/sass/_extra-child-theme.scss
  barnsbury/style-rtl.css
  barnsbury/style.css
Labels: [Theme] Barnsbury

#6030 Meraki: Update footer pattern
  meraki/patterns/footer-default.php
Labels: [Theme] Meraki

#6038 Updated theme-utils.mjs help text
  theme-utils.mjs
Labels: [Type] Enhancement, Tools, Themes
