Repository Automattic/themes, pull requests merged in 2022-12, with the labels that each got.

#6762 Loudness: Fix instructors pattern
  loudness/patterns/instructors.php
Labels: [Theme] Loudness

#6764 Block Canvas: Add self-closing tag to comments pattern in page template
  block-canvas/templates/page.html
Labels: [Theme] Block Canvas

#6725 Add Vetro theme
  vetro/assets/fonts/SourceSerif4Variable-Italic.otf.woff2
  vetro/assets/fonts/SourceSerif4Variable-Italic.ttf.woff2
  vetro/assets/fonts/SourceSerif4Variable-Roman.otf.woff2
  vetro/assets/fonts/SourceSerif4Variable-Roman.ttf.woff2
  vetro/assets/fonts/inter_500.ttf
  vetro/assets/fonts/inter_600.ttf
  vetro/functions.php
  vetro/parts/footer.html
  vetro/parts/header.html
  vetro/patterns/about.php
  vetro/patterns/designed-with-wordpress.php
  vetro/patterns/hidden-404.php
  vetro/patterns/small-about.php
  vetro/readme.txt
  vetro/screenshot.png
  vetro/style.css
  vetro/styles/coolorchids.json
  vetro/styles/eggplantlemon.json
  vetro/styles/midnightgreen.json
  vetro/templates/404.html
  vetro/templates/archive.html
  vetro/templates/index.html
  vetro/templates/page.html
  vetro/templates/search.html
  vetro/templates/single.html
  vetro/theme.json
Labels: [Theme] Vetro

#6735 Add Upsidedown theme
  upsidedown/assets/fonts/roboto_500.ttf
  upsidedown/assets/fonts/roboto_500italic.ttf
  upsidedown/assets/fonts/roboto_700.ttf
  upsidedown/assets/fonts/roboto_700italic.ttf
  upsidedown/assets/fonts/roboto_italic.ttf
  upsidedown/assets/fonts/roboto_regular.ttf
  upsidedown/functions.php
  upsidedown/parts/footer.html
  upsidedown/parts/header.html
  upsidedown/parts/post-meta.html
  upsidedown/patterns/404.php
  upsidedown/patterns/comments.php
  upsidedown/patterns/footer.php
  upsidedown/patterns/header.php
  upsidedown/patterns/single.php
  upsidedown/readme.txt
  upsidedown/screenshot.png
  upsidedown/style.css
  upsidedown/styles/noir.json
  upsidedown/templates/404.html
  upsidedown/templates/archive.html
  upsidedown/templates/index.html
  upsidedown/templates/page.html
  upsidedown/templates/search.html
  upsidedown/templates/single.html
  upsidedown/theme.json
Labels: [Theme] Upsidedown

#6775 Turn Pendant query loop inherit on by default
  pendant/patterns/grid-of-posts.php
Labels: [Theme] Pendant

#6774 Vetro: fix page template alignment
  vetro/style.css
  vetro/templates/page.html
Labels: [Theme] Vetro

#6773 Add Adventurer theme
  adventurer/assets/fonts/roboto_300.ttf
  adventurer/assets/fonts/roboto_300italic.ttf
  adventurer/assets/fonts/roboto_500.ttf
  adventurer/assets/fonts/roboto_500italic.ttf
  adventurer/assets/fonts/roboto_700.ttf
  adventurer/assets/fonts/roboto_700italic.ttf
  adventurer/assets/fonts/rubik_900.ttf
  adventurer/assets/fonts/rubik_900italic.ttf
  adventurer/assets/images/adventurer_about.png
  adventurer/assets/images/adventurer_boat.png
  adventurer/assets/images/adventurer_camel.png
  adventurer/assets/images/adventurer_canada.png
  adventurer/assets/images/adventurer_coconuts.png
  adventurer/assets/images/adventurer_desert.png
  adventurer/assets/images/adventurer_italy.png
  adventurer/assets/images/adventurer_laos.png
  adventurer/assets/images/adventurer_monastery.png
  adventurer/assets/images/adventurer_mosque.png
  adventurer/assets/images/adventurer_penguin.png
  adventurer/functions.php
  adventurer/parts/footer.html
  adventurer/parts/header.html
  adventurer/parts/post-meta.html
  adventurer/parts/secondary-header.html
  adventurer/parts/sidebar.html
  adventurer/patterns/404.php
  adventurer/patterns/about.php
  adventurer/patterns/comments.php
  adventurer/patterns/footer.php
  adventurer/patterns/header-with-cover.php
  adventurer/patterns/header.php
  adventurer/patterns/list.php
  adventurer/patterns/post-meta.php
  adventurer/patterns/secondary-header.php
  adventurer/patterns/sidebar.php
  adventurer/patterns/stats.php
  adventurer/readme.txt
  adventurer/screenshot.png
  adventurer/style.css
  adventurer/templates/404.html
  adventurer/templates/archive.html
  adventurer/templates/home.html
  adventurer/templates/index.html
  adventurer/templates/page.html
  adventurer/templates/search.html
  adventurer/templates/single.html
  adventurer/theme.json
Labels: [Theme] Adventurer

#6784 Block Canvas: Add home.html template
  block-canvas/templates/home.html
Labels: [Theme] Block Canvas

#6787 Upsidedown: Remove zero spacing from header and footer
  upsidedown/patterns/footer.php
  upsidedown/patterns/header.php
Labels: [Theme] Upsidedown

#6799 Upsidedown: Fix spacing on templates
  upsidedown/patterns/404.php
  upsidedown/templates/archive.html
  upsidedown/templates/index.html
  upsidedown/templates/search.html
Labels: [Theme] Upsidedown
