Repository Automattic/themes, pull requests merged in 2022-07, with the labels that each got.

#6148 Archeo: compress palais du gouverneur image
  archeo/assets/images/palais-du-gouverneur.jpg
Labels: [Theme] Archeo

#6145 Curator: compress images
  curator/assets/images/smoothie.png
  curator/assets/images/sundae.png
  curator/assets/images/vermicelli.png
  curator/assets/images/wine-tasting.png
Labels: [Theme] Curator

#6151 Curator: fix issue with link focus state
  curator/style.css
  curator/theme.json
Labels: [Theme] Curator

#5849 Archeo: Try using button as an element
  archeo/style.css
  archeo/theme.json
Labels: [Theme] Archeo

#6146 Curator: add mobile menu styling
  curator/parts/header.html
  curator/style.css
Labels: [Theme] Curator

#6160 Curator: revise search template
  curator/patterns/hidden-search-form.php
  curator/style.css
  curator/templates/search.html
  curator/theme.json
Labels: [Status] Needs Design Approval, [Theme] Curator

#6165 Curator: fix 404 template
  curator/patterns/404.php
Labels: [Theme] Curator

#6183 Vivre: Fixing post grid with one item
  curator/patterns/posts-grid.php
Labels: [Type] Bug, [Theme] Vivre

#6186 Vivre: fix font slug references
  curator/patterns/post-navigation.php
  curator/patterns/recipe.php
Labels: [Theme] Vivre

#6150 Vivre: move link pseudo states to theme.json
  curator/style.css
  curator/theme.json
Labels: [Theme] Vivre

#6185 #5379: Varia/Seedlet: Fix no posts found message
  seedlet/template-parts/content/content-none.php
  varia/template-parts/content/content-none.php
Labels: [Theme] Varia, [Theme] Seedlet

#6098 #6017: Apostrophe 2: Fix Recent Comments widget display
  apostrophe-2/style.css
Labels: [Theme] Apostrophe 2

#6206 create-a-theme-checklist.js: Also allow Github token from the environment
  create-a-theme-checklist.js
Labels: [Type] Enhancement, Tools, Themes

#6203 #4567: Radcliffe 2: Fix editor post title alignment
  radcliffe-2/assets/css/editor-style.css
Labels: [Theme ]Radcliffe 2

#6187 #5133: Rockfield: Fix button outline styles
  rockfield/sass/_extra-child-theme.scss
  rockfield/sass/style-child-theme-editor.scss
  rockfield/style-editor.css
  rockfield/style-rtl.css
  rockfield/style.css
Labels: [Theme] Rockfield

#6189 #3851: Ixion: Fix pullquote custom border colors
  ixion/blocks.css
  ixion/editor-blocks.css
Labels: [Theme] Ixion

#6096 #2044: Pique: Fix button block width on mobile
  pique/assets/css/blocks.css
Labels: [Theme] Pique

#6253 Update dotOrg publisher to include style variations
  dotorg-exclude.txt
  package-dotorg.sh
Labels: Tools

#6204 #5550: Pique: Fix dropdown menu w/image comparison block
  pique/style.css
Labels: [Theme] Pique

#6263 Blockbase: update changelog to include 3.0 changes
  blockbase/readme.txt
Labels: [Theme] Blockbase

#6269 Filter out Jetpack fonts when Blockbase is activated
  blockbase/inc/fonts/custom-fonts.php
Labels: [Pri] High, [Theme] Blockbase

#6275 Vivre: exclude sticky posts from gallery
  vivre/patterns/gallery.php
Labels: [Theme] Vivre

#6281 escape block attributes in patterns utility
  theme-utils.mjs
Labels: Tools

#6290 Update: Quadrat, Geologist & Zoologist quote block line height
  geologist-blue/readme.txt
  geologist-blue/theme.json
  geologist-cream/readme.txt
  geologist-cream/theme.json
  geologist-slate/readme.txt
  geologist-slate/theme.json
  geologist-yellow/readme.txt
  geologist-yellow/theme.json
  geologist/theme.json
  quadrat-black/readme.txt
  quadrat-black/theme.json
  quadrat-green/readme.txt
  quadrat-green/theme.json
  quadrat-red/readme.txt
  quadrat-red/theme.json
  quadrat-white/readme.txt
  quadrat-white/theme.json
  quadrat-yellow/readme.txt
  quadrat-yellow/theme.json
  quadrat/theme.json
  videomaker-white/readme.txt
  zoologist/theme.json
Labels: [Theme] Quadrat, [Theme] Geologist, [Theme] Zoologist
