Repository Automattic/themes, pull requests merged in 2022-04, with the labels that each got.

#5354 Fix Woo number input in Blockbase
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_utility.scss
Labels: [Theme] Blockbase

#5795 Remote: styles for subscribe form pattern
  remote/inc/patterns/subscribe.php
Labels: [Theme] Remote

#5793 Blockbase: add select boxes to form styles
  blockbase/assets/ponyfill.css
  blockbase/sass/elements/_forms.scss
Labels: [Theme] Blockbase

#5648 Archeo: remove responsive image fix
  archeo/style.css
Labels: [Theme] Archeo

#5715 Archeo: Load patterns automatically
  archeo/functions.php
  archeo/inc/block-patterns.php
  archeo/inc/patterns/footer.php
  archeo/inc/patterns/headline-over-dark-image.php
  archeo/inc/patterns/hidden-404.php
  archeo/inc/patterns/image-with-description-and-right-aligned-headline.php
  archeo/inc/patterns/image-with-description.php
  archeo/inc/patterns/image-with-headline-description.php
  archeo/inc/patterns/image-with-headline-on-dark-background.php
  archeo/inc/patterns/image-with-headline-separate-description.php
  archeo/inc/patterns/layered-images-with-headline.php
  archeo/inc/patterns/layout-with-two-images-and-text.php
  archeo/inc/patterns/simple-list-of-posts-with-background.php
  archeo/patterns/footer.php
  archeo/patterns/headline-over-dark-image.php
  archeo/patterns/hidden-404.php
  archeo/patterns/image-with-description-and-right-aligned-headline.php
  archeo/patterns/image-with-description.php
  archeo/patterns/image-with-headline-description.php
  archeo/patterns/image-with-headline-on-dark-background.php
  archeo/patterns/image-with-headline-separate-description.php
  archeo/patterns/layered-images-with-headline.php
  archeo/patterns/layout-with-two-images-and-text.php
  archeo/patterns/simple-list-of-posts-with-background.php
  archeo/patterns/simple-list-of-posts.php
  videomaker/sass/_fonts.scss
Labels: Do NOT merge!, [Theme] Archeo

#5799 updated tags and bumped to v1.0
  remote/style.css
Labels: [Theme] Remote

#5805 Remote: revise comments layout
  pendant/templates/single.html
Labels: [Theme] Pendant

#5804 Archeo: update block pattern categories function ref
  archeo/functions.php
Labels: [Theme] Archeo

#5808 Remote: added missing credits
  remote/readme.txt
Labels: [Theme] Remote

#5812 Adjusted spacing on single per design review
  pendant/templates/single.html
Labels: [Theme] Pendant

#5800 Styled navigation (open overlay)
  pendant/parts/header.html
  pendant/style.css
  pendant/theme.json
Labels: [Theme] Pendant, Needs Design Approval

#5806 Add/pendant about page patterns
  pendant/assets/images/man-with-backward-cap.jpeg
  pendant/assets/images/person-in-dress-at-shore.jpg
  pendant/assets/images/person-with-shadow-on-wall.jpeg
  pendant/assets/images/smiling-woman-1.jpeg
  pendant/assets/images/smiling-woman-2.jpeg
  pendant/assets/images/smiling-woman-3.jpeg
  pendant/functions.php
  pendant/patterns/404.php
  pendant/patterns/about.php
  pendant/patterns/image-and-quote.php
  pendant/patterns/team.php
  pendant/style.css
  pendant/theme.json
Labels: [Theme] Pendant

#5817 [Remote] Update screenshot
  remote/screenshot.png
Labels: [Type] Enhancement, [Theme] Remote

#5811 Blockbase: add padding for group blocks with a background
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_alignment.scss
  blockbase/sass/blocks/_post-content.scss
  blockbase/sass/ponyfill.scss
Labels: [Theme] Blockbase

#5801 multiple themes: update font sizes from px to rem for better a11y
  archeo/theme.json
  block-canvas/theme.json
  geologist-blue/theme.json
  geologist-cream/theme.json
  geologist-slate/theme.json
  geologist-yellow/theme.json
  geologist/theme.json
  mayland-blocks/theme.json
  quadrat-black/theme.json
  quadrat-green/theme.json
  quadrat-red/theme.json
  quadrat-white/theme.json
  quadrat-yellow/theme.json
  quadrat/theme.json
  remote/theme.json
  russell/theme.json
  seedlet-blocks/theme.json
  skatepark/theme.json
  stewart/theme.json
  videomaker-white/theme.json
  videomaker/theme.json
  zoologist/theme.json
Labels: [Theme] Seedlet, Accessibility, [Theme] Quadrat, [Theme] Skatepark, [Theme] Geologist, [Theme] Videomaker, [Theme] Zoologist, [Theme] Russell, [Theme] Stewart, [Theme] Archeo, [Theme] Remote

#5821 Moved index content to patterns
  pendant/patterns/grid-of-posts.php
  pendant/patterns/title.php
  pendant/templates/index.html
Labels: [Theme] Pendant

#5829 Remote: refactor patterns to load directly from the editor
  remote/functions.php
  remote/inc/block-patterns.php
  remote/inc/patterns/categories.php
  remote/inc/patterns/hero-text.php
  remote/inc/patterns/hidden-404-content.php
  remote/inc/patterns/hidden-search-form.php
  remote/inc/patterns/image-with-text.php
  remote/inc/patterns/large-quote.php
  remote/inc/patterns/posts-grid.php
  remote/inc/patterns/posts-list.php
  remote/inc/patterns/small-quote.php
  remote/inc/patterns/subscribe.php
  remote/inc/patterns/tags.php
  remote/patterns/categories.php
  remote/patterns/hero-text.php
  remote/patterns/hidden-404-content.php
  remote/patterns/hidden-search-form.php
  remote/patterns/image-with-text.php
  remote/patterns/large-quote.php
  remote/patterns/posts-grid.php
  remote/patterns/posts-list.php
  remote/patterns/small-quote.php
  remote/patterns/subscribe.php
  remote/patterns/tags.php
Labels: [Theme] Remote

#5816 Blockbase: Account for additional content via css grid configuration
  blockbase/assets/ponyfill.css
  blockbase/sass/blocks/_post-comments.scss
Labels: [Theme] Blockbase

#5810 Added Remote to the dotorg deploy list
  deploy-dotorg.sh
Labels: Tools

#5852 Tools: Action to label Stale commits and PRs
  .github/workflows/stale.yml
Labels: Tools

#5855 Pendant: Removed page title and top gap
  pendant/templates/page.html
Labels: [Theme] Pendant

#5859 Tweak/pendant patterns
  pendant/patterns/latest-articles.php
  pendant/patterns/latest-interviews.php
  pendant/patterns/post-topics.php
  pendant/style.css
  pendant/templates/home.html
  pendant/theme.json
Labels: [Theme] Pendant

#5878 Tools: Stale issues action update
  .github/workflows/stale.yml
Labels: Tools

#5877 Add/pendant variations
  pendant/assets/fonts/IBMPlexMono-Light.ttf
  pendant/assets/fonts/IBMPlexMono-Medium.ttf
  pendant/assets/fonts/IBMPlexSans-Light.ttf
  pendant/assets/fonts/IBMPlexSans-Medium.ttf
  pendant/assets/fonts/Inter-Bold.ttf
  pendant/assets/fonts/Inter-Light.ttf
  pendant/assets/fonts/Rubik-Light.ttf
  pendant/assets/fonts/Rubik-LightItalic.ttf
  pendant/assets/fonts/Texturina-Light.ttf
  pendant/assets/fonts/Texturina-LightItalic.ttf
  pendant/styles/dark-navy.json
  pendant/styles/electric-blue.json
  pendant/styles/pink.json
  pendant/theme.json
Labels: [Theme] Pendant, [Status] Needs Design Approval

#5879 Livro: refactor patterns
  livro/functions.php
  livro/inc/block-patterns.php
  livro/inc/patterns/footer-centered.php
  livro/inc/patterns/footer-default.php
  livro/inc/patterns/footer-nav-left.php
  livro/inc/patterns/footer-nav-right.php
  livro/inc/patterns/footer-right.php
  livro/inc/patterns/header-centered.php
  livro/inc/patterns/header-default.php
  livro/inc/patterns/header-left-right-logo-title.php
  livro/inc/patterns/header-left-right-logo.php
  livro/inc/patterns/header-left-right-text.php
  livro/inc/patterns/header-left-right.php
  livro/inc/patterns/header-right.php
  livro/inc/patterns/header-title-tagline-social.php
  livro/inc/patterns/hidden-404.php
  livro/inc/patterns/page-about.php
  livro/inc/patterns/page-contact.php
  livro/patterns/footer-centered.php
  livro/patterns/footer-default.php
  livro/patterns/footer-nav-left.php
  livro/patterns/footer-nav-right.php
  livro/patterns/footer-right.php
  livro/patterns/header-centered.php
  livro/patterns/header-default.php
  livro/patterns/header-left-right-logo-title.php
  livro/patterns/header-left-right-logo.php
  livro/patterns/header-left-right-text.php
  livro/patterns/header-left-right.php
  livro/patterns/header-right.php
  livro/patterns/header-title-tagline-social.php
  livro/patterns/hidden-404.php
  livro/patterns/page-about.php
  livro/patterns/page-contact.php
Labels: [Theme] Livro

#5887 Pendant: Fix mobile post navigation
  pendant/patterns/post-navigation.php
  pendant/style.css
Labels: [Theme] Pendant

#5888 Pendant: Fix link color
  pendant/patterns/hero.php
Labels: [Theme] Pendant

#5886 Fix/pendant post page spacing
  pendant/templates/single.html
Labels: [Theme] Pendant, [Status] Needs Design Approval

#5889 Tools: automatically handle changelog updates
  theme-utils.mjs
Labels: Tools

#5909 Updated pendant image-series pattern to be centered always
  pendant/patterns/image-series.php
Labels: [Theme] Pendant, [Status] Needs Design Approval

#5906 Update/pendant page template
  pendant/patterns/title.php
  pendant/templates/404.html
  pendant/templates/archive.html
  pendant/templates/footer-only.html
  pendant/templates/header-footer-only.html
  pendant/templates/index.html
  pendant/templates/page.html
  pendant/templates/search.html
  pendant/templates/single.html
Labels: [Theme] Pendant

#5942 Fix the 'grid-of-posts' pattern so that it can be dropped in and used
  pendant/patterns/grid-of-posts.php
Labels: [Theme] Pendant

#5914 Multiple themes: Set inherit to true in archive posts
  mayland-blocks/block-templates/archive.html
  skatepark/patterns/blog-posts.php
Labels: [Theme] Mayland Blocks, [Theme] Skatepark

#5946 Cult: Fonts and Weights
  block-canvas/theme.json
  cult/assets/fonts/Petrona-Italic.ttf
  cult/assets/fonts/Petrona.ttf
  cult/assets/fonts/WorkSans-Italic.ttf
  cult/assets/fonts/WorkSans.ttf
  cult/theme.json
Labels: [Theme] Cult

#5952 Removes instances of x-small font size
  pendant/patterns/hero.php
  pendant/style.css
  pendant/theme.json
Labels: [Theme] Pendant

#5943 Fix/pendant pattern meta
  pendant/functions.php
  pendant/parts/header.html
  pendant/parts/post-meta.html
  pendant/patterns/footer.php
  pendant/patterns/grid-of-posts.php
  pendant/patterns/header.php
  pendant/patterns/hero.php
  pendant/patterns/image-and-quote.php
  pendant/patterns/image-gallery.php
  pendant/patterns/image-series.php
  pendant/patterns/latest-articles.php
  pendant/patterns/latest-interviews.php
  pendant/patterns/media-and-text.php
  pendant/patterns/post-navigation.php
  pendant/patterns/post-topics.php
  pendant/patterns/team.php
  pendant/theme.json
Labels: [Theme] Pendant, [Status] Needs Design Approval

#5950 Pendant: Added image attribution to readme.txt
  pendant/assets/images/jewelery-1.jpeg
  pendant/assets/images/jewelery-2.jpeg
  pendant/assets/images/jewelery-3.jpeg
  pendant/readme.txt
Labels: [Theme] Pendant

#5945 Vertically Centered navigation. Cleaned up style comments.
  pendant/style.css
Labels: [Theme] Pendant, [Status] Needs Design Approval

#5963 Re-export pendant theme.json with a more organized export logic
  pendant/theme.json
Labels: [Theme] Pendant
