Repository Automattic/themes, pull requests merged in 2022-01, with the labels that each got.

#5072 Blockbase: Add appearanceTools setting to theme.json
  blockbase/theme.json
Labels: [Theme] Blockbase

#5234 Skatepark: use grid of posts for Search page
  skatepark/block-templates/archive.html
  skatepark/block-templates/index.html
  skatepark/block-templates/search.html
Labels: [Theme] Skatepark

#5266 [Livre] Enable dropcaps
  livre/style.css
  livre/theme.json
Labels: [Type] Enhancement, [Theme] Livre

#5278 Livre: Refine link styles
  livre/style.css
Labels: [Type] Enhancement, [Theme] Livre

#5272 Canard: fix button styles outside of entry-content
  canard/blocks.css
  canard/inc/wpcom-colors.php
Labels: [Theme] Canard

#5265 Stewart: Tidy up navigation
  stewart/parts/sidebar.html
  stewart/theme.json
Labels: [Type] Bug, [Theme] Stewart

#5273 [Livre] Clean up buttons and comment form
  livre/style.css
  livre/theme.json
Labels: [Type] Enhancement, [Theme] Livre

#5268 [Livre] Refine site title treatment
  livre/parts/header.html
  livre/screenshot.jpg
  livre/style.css
  livre/theme.json
Labels: [Type] Enhancement, design, [Theme] Livre

#5285 Deploy script: remove double quotes from commit message log
  theme-utils.mjs
Labels: Tools

#5279 Livre: Update alignment rules
  livre/style.css
Labels: [Type] Enhancement

#5280 [Livre] Update readme and copyright
  livre/readme.txt
  livre/style.css
Labels: [Type] Task, [Theme] Livre

#5281 [Livre] Add header-footer-only template.
  livre/templates/header-footer-only.html
  livre/theme.json
Labels: [Type] Enhancement

#5282 [Livre] Add block patterns
  livre/assets/images/chair.jpg
  livre/assets/images/writing.jpg
  livre/functions.php
  livre/inc/block-patterns.php
  livre/inc/patterns/footer-centered.php
  livre/inc/patterns/footer-default.php
  livre/inc/patterns/footer-nav-left.php
  livre/inc/patterns/footer-nav-right.php
  livre/inc/patterns/footer-right.php
  livre/inc/patterns/header-centered.php
  livre/inc/patterns/header-default.php
  livre/inc/patterns/header-left-right-logo-title.php
  livre/inc/patterns/header-left-right-logo.php
  livre/inc/patterns/header-left-right-text.php
  livre/inc/patterns/header-left-right.php
  livre/inc/patterns/header-right.php
  livre/inc/patterns/header-title-tagline-social.php
  livre/inc/patterns/page-about.php
  livre/inc/patterns/page-contact.php
  livre/parts/footer.html
  livre/parts/header.html
  livre/readme.txt
Labels: [Type] Enhancement, [Theme] Livre

#5297 Videomaker: Remove the redundant template
  videomaker-white/block-templates/blank.html
  videomaker/block-templates/blank.html
Labels: [Theme] Videomaker

#5295 Revert "Revert Fix Customizer Font Editing causing Site Editor WSOD"
  blockbase/inc/customizer/wp-customize-fonts.php
  blockbase/inc/customizer/wp-customize-utils.php
Labels: [Theme] Blockbase

#5307 Revert "Change the way we fetch users CPT to use the Gutenberg function directly
  blockbase/inc/customizer/wp-customize-fonts.php
  blockbase/inc/customizer/wp-customize-utils.php
Labels: [Theme] Blockbase

#5323 [Livro] Minor theme review fixes
  livro/functions.php
  livro/readme.txt
  livro/style.css
Labels: [Type] Bug, [Theme] Livro

#5315 [Livro] Update alignment rules
  livro/style.css
Labels: [Type] Enhancement, [Theme] Livro

#5316 [Blockbase] Update alignment rules to better handle full-width items
  blockbase/assets/ponyfill.css
  blockbase/sass/base/_alignment.scss
Labels: [Type] Enhancement, [Theme] Blockbase

#5318 [Stewart] Add alignment rules
  stewart/style.css
  stewart/theme.json
Labels: [Type] Enhancement, [Theme] Stewart

#5290 Blockbase: update dependencies & change node-sass to dart sass
  blockbase/assets/ponyfill.css
  blockbase/package-lock.json
  blockbase/package.json
  blockbase/sass/base/_breakpoints.scss
  geologist-blue/package-lock.json
  geologist-blue/package.json
  geologist-cream/package-lock.json
  geologist-cream/package.json
  geologist-slate/package-lock.json
  geologist-slate/package.json
  geologist-yellow/package-lock.json
  geologist-yellow/package.json
  geologist/assets/theme.css
  geologist/package-lock.json
  geologist/package.json
  hever/package-lock.json
  mayland-blocks/assets/theme.css
  mayland-blocks/package-lock.json
  mayland-blocks/package.json
  package.json
  quadrat-black/package-lock.json
  quadrat-black/package.json
  quadrat-green/package-lock.json
  quadrat-green/package.json
  quadrat-red/package-lock.json
  quadrat-red/package.json
  quadrat-white/package-lock.json
  quadrat-white/package.json
  quadrat-yellow/package-lock.json
  quadrat-yellow/package.json
  quadrat/assets/theme.css
  quadrat/package-lock.json
  quadrat/package.json
  russell/assets/theme.css
  russell/package-lock.json
  russell/package.json
  seedlet-blocks/assets/theme.css
  seedlet-blocks/package-lock.json
  seedlet-blocks/package.json
  seedlet-blocks/sass/blocks/_latest-posts.scss
  skatepark/assets/theme.css
  skatepark/package-lock.json
  skatepark/package.json
  variations/build-variations.mjs
  videomaker-white/package-lock.json
  videomaker-white/package.json
  videomaker/assets/theme.css
  videomaker/package-lock.json
  videomaker/package.json
  zoologist/assets/theme.css
  zoologist/package-lock.json
  zoologist/package.json
Labels: [Theme] Blockbase

#5319 [Stewart] Rename template parts
  stewart/parts/header-spacer.html
  stewart/parts/header-title-nav.html
  stewart/parts/header.html
  stewart/templates/archive.html
  stewart/templates/header-footer-only.html
  stewart/templates/index.html
  stewart/templates/page.html
  stewart/templates/search.html
  stewart/templates/sidebar-footer-only.html
  stewart/templates/single.html
  stewart/theme.json
Labels: [Type] Enhancement, [Theme] Stewart

#5330 Blockbase: Update style.css
  blockbase/package.json
  blockbase/style.css
Labels: [Theme] Blockbase

#5331 Remove header-footer-only template from Blockbase children
  arbutus/block-templates/header-footer-only.html
  russell/block-templates/header-footer-only.html
Labels: [Theme] Blockbase

#5332 Blockbase: Remove custom 404 templates
  skatepark/block-templates/404.html
Labels: [Theme] Blockbase

#5333 Blockbase: Remove blank template
  russell/block-templates/blank.html
Labels: [Theme] Blockbase

#5334 Blockbase children: Remove search templates
  geologist-blue/block-templates/search.html
  geologist-cream/block-templates/search.html
  geologist-slate/block-templates/search.html
  geologist-yellow/block-templates/search.html
  geologist/block-templates/search.html
  quadrat-black/block-templates/search.html
  quadrat-green/block-templates/search.html
  quadrat-red/block-templates/search.html
  quadrat-white/block-templates/search.html
  quadrat-yellow/block-templates/search.html
  quadrat/block-templates/search.html
  russell/block-templates/search.html
  zoologist/block-templates/search.html
Labels: [Theme] Blockbase

#5346 Update Blank Canvas Blocks footer
  blank-canvas-blocks/block-template-parts/footer.html
  blockbase/block-template-parts/header.html
  blockbase/inc/block-patterns.php
  blockbase/inc/patterns/footer-with-site-title.php
Labels: [Theme] Blank Canvas

#5363 Blockbase: Load Block Patterns for children automatically
  blockbase/functions.php
  geologist-blue/functions.php
  geologist-cream/functions.php
  geologist-slate/functions.php
  geologist-yellow/functions.php
  geologist/functions.php
  quadrat-black/functions.php
  quadrat-black/style.css
  quadrat-green/functions.php
  quadrat-red/functions.php
  quadrat-white/functions.php
  quadrat-yellow/functions.php
  quadrat/functions.php
  seedlet-blocks/functions.php
  skatepark/functions.php
  variations/geologist/geologist-blue/style.css
  variations/geologist/geologist-cream/style.css
  variations/geologist/geologist-slate/style.css
  variations/geologist/geologist-yellow/style.css
  variations/quadrat/quadrat-black/style.css
  variations/quadrat/quadrat-green/style.css
  variations/quadrat/quadrat-red/style.css
  variations/quadrat/quadrat-white/style.css
  variations/quadrat/quadrat-yellow/style.css
  variations/videomaker/videomaker-white/style.css
  videomaker-white/functions.php
  videomaker/functions.php
Labels: [Theme] Blockbase

#5381 [Stewart] Readme Cleanup
  stewart/readme.txt
  stewart/style.css
Labels: [Type] Task, [Theme] Stewart

#5375 [Stewart] Add block patterns
  stewart/assets/images/about.jpg
  stewart/assets/images/contact.jpg
  stewart/assets/images/header.jpg
  stewart/functions.php
  stewart/inc/block-patterns.php
  stewart/inc/patterns/footer-default.php
  stewart/inc/patterns/footer-left.php
  stewart/inc/patterns/footer-nav-left.php
  stewart/inc/patterns/footer-nav-right.php
  stewart/inc/patterns/footer-right.php
  stewart/inc/patterns/header-image.php
  stewart/inc/patterns/header-traditional-background.php
  stewart/inc/patterns/header-traditional.php
  stewart/inc/patterns/page-about.php
  stewart/inc/patterns/page-contact.php
  stewart/inc/patterns/sidebar-background.php
  stewart/inc/patterns/sidebar-blogging.php
  stewart/inc/patterns/sidebar-border.php
  stewart/inc/patterns/sidebar-categories-tags.php
  stewart/inc/patterns/sidebar-default.php
  stewart/inc/patterns/sidebar-introduction.php
  stewart/parts/footer.html
  stewart/parts/header-title-nav.html
  stewart/readme.txt
Labels: [Type] Enhancement, [Theme] Stewart

#5374 Videomaker: Consolidate footer patterns in Videomaker
  blockbase/inc/block-patterns.php
  blockbase/inc/patterns/footer-vertical-menu.php
  videomaker/block-template-parts/footer.html
  videomaker/inc/block-patterns.php
  videomaker/inc/patterns/footer.php
Labels: [Theme] Videomaker

#5382 [Stewart] Adjust about page pattern
  stewart/inc/patterns/page-about.php
Labels: [Type] Enhancement, [Theme] Stewart

#5383 [Stewart] Fix alternate header template markup
  stewart/parts/header-title-nav.html
Labels: [Type] Bug, [Theme] Stewart

#5396 Premium: Update blockbase references when we push to the premium repo
  package.json
  theme-utils.mjs
Labels: [Theme] Videomaker

#5402 Videomaker White: Update screenshot
  variations/videomaker/videomaker-white/screenshot.jpg
  videomaker-white/screenshot.jpg
Labels: [Theme] Videomaker

#5389 Blockbase: Fix social navigation warning
  blockbase/inc/social-navigation.php
Labels: [Theme] Blockbase
