Repository Automattic/themes, pull requests merged in 2023-08, with the labels that each got.

#7259 Overlaid: Add theme
  overlaid/assets/fonts/grenze_normal_300.ttf
  overlaid/assets/fonts/grenze_normal_400.ttf
  overlaid/assets/fonts/grenze_normal_500.ttf
  overlaid/assets/fonts/inter_normal_300.ttf
  overlaid/assets/fonts/inter_normal_600.ttf
  overlaid/assets/fonts/russisch-sans_italic_400.ttf
  overlaid/assets/fonts/russisch-sans_normal_400.ttf
  overlaid/assets/images/logo_overlayed_one.webp
  overlaid/assets/images/overlayer-bg_musk.webp
  overlaid/assets/images/overlayer-bg_rouge.webp
  overlaid/functions.php
  overlaid/parts/footer.html
  overlaid/parts/header.html
  overlaid/patterns/404.php
  overlaid/patterns/comments.php
  overlaid/patterns/footer.php
  overlaid/patterns/hidden-no-results-content.php
  overlaid/patterns/home.php
  overlaid/patterns/page-home-alt.php
  overlaid/readme.txt
  overlaid/screenshot.png
  overlaid/style.css
  overlaid/templates/404.html
  overlaid/templates/archive.html
  overlaid/templates/home.html
  overlaid/templates/index.html
  overlaid/templates/page-home-alt.html
  overlaid/templates/page.html
  overlaid/templates/search.html
  overlaid/templates/single.html
  overlaid/theme.json
Labels: [Theme] Overlaid

#7265 Add course theme single lesson template
  course/functions.php
  course/templates/single-lesson.html
  course/theme.json
Labels: [Theme] Course

#7298 Course - Release 1.3.2
  course/functions.php
  course/readme.txt
  course/style.css
Labels: [Project] Frontend Improvements

#7312 Course theme: Update the styles of back to lesson button of quiz in learning mode
  course/styles/blue.json
  course/styles/dark.json
  course/styles/gold.json
  course/theme.json
Labels: [Project] Frontend Improvements

#7334 Independent Pub 2: use get_avatar
  independent-publisher-2/header.php
Labels: [Theme] Independent Publisher 2
