Repository Automattic/themes, pull requests merged in 2023-04, with the labels that each got.

#6950 Verso: add theme
  verso/assets/fonts/crimson-text_italic_400.ttf
  verso/assets/fonts/crimson-text_italic_600.ttf
  verso/assets/fonts/crimson-text_italic_700.ttf
  verso/assets/fonts/crimson-text_normal_400.ttf
  verso/assets/fonts/crimson-text_normal_600.ttf
  verso/assets/fonts/crimson-text_normal_700.ttf
  verso/assets/images/verso.jpg
  verso/functions.php
  verso/parts/footer.html
  verso/parts/header.html
  verso/parts/post-meta.html
  verso/patterns/comments.php
  verso/patterns/footer.php
  verso/patterns/hidden-no-results-content.php
  verso/patterns/no-results.php
  verso/patterns/post-meta.php
  verso/readme.txt
  verso/screenshot.png
  verso/style.css
  verso/templates/archive.html
  verso/templates/index.html
  verso/templates/page.html
  verso/templates/search.html
  verso/templates/single.html
  verso/theme.json
Labels: [Theme] Verso

#6972 Verso: quick fixes
  verso/templates/archive.html
  verso/templates/index.html
  verso/templates/page.html
  verso/templates/search.html
  verso/templates/single.html
Labels: [Theme] Verso

#6971 Hey: fix avatar radius
  hey/style.css
Labels: [Theme] Hey

#6969 Update new theme links to point to WPCOM instead of GitHub
  adventurer/style.css
  bibimbap/style.css
  blank-canvas-3/style.css
  disco/style.css
  loudness/style.css
  muscat/style.css
  paimio/style.css
  pixl/style.css
  rainfall/style.css
  spearhead-blocks/style.css
  upsidedown/style.css
Labels: Themes

#6949 Storia: add theme
  storia/assets/fonts/nimbus-sans_italic_400.woff
  storia/assets/fonts/nimbus-sans_italic_700.woff
  storia/assets/fonts/nimbus-sans_normal_400.woff
  storia/assets/fonts/nimbus-sans_normal_700.woff
  storia/assets/images/StockSnap_KN1R3C4LHY.jpg
  storia/assets/images/StockSnap_MGCKAHKLE4.jpg
  storia/assets/images/pexels-jeremy-bishop-2923590.jpg
  storia/assets/images/pexels-susn-dybvik-3328247.jpg
  storia/functions.php
  storia/parts/comments.html
  storia/parts/footer.html
  storia/parts/header.html
  storia/patterns/footer.php
  storia/patterns/gallery.php
  storia/patterns/hidden-404.php
  storia/patterns/hidden-comments.php
  storia/patterns/post-list.php
  storia/readme.txt
  storia/screenshot.png
  storia/style.css
  storia/styles/blue.json
  storia/styles/cream.json
  storia/styles/green.json
  storia/styles/pink.json
  storia/styles/red.json
  storia/templates/404.html
  storia/templates/archive.html
  storia/templates/home.html
  storia/templates/index.html
  storia/templates/page.html
  storia/templates/search.html
  storia/templates/single.html
  storia/theme.json
Labels: [Theme] Storia

#6996 Blockbase: Remove inherited style variations from child themes
  blockbase/functions.php
  blockbase/inc/rest-api.php
  blockbase/theme.json
  jackson/theme.json
  kingsley/theme.json
Labels: [Theme] Blockbase

#7027 Verso: Add 404 template
  verso/templates/404.html
Labels: [Theme] Verso

#7028 Version bump Verso and Bitacora for dotorg
  bitacora/style.css
  verso/style.css
Labels: [Theme] Bitacora, [Theme] Verso

#7008 Update colors and typography of default Learning Mode template
  course/learning-mode.css
  course/theme.json
Labels: [Theme] Course

#7025 Add dotcom theme launch checklist issue template
  .github/ISSUE_TEMPLATE/theme_launch.yml
Labels: [Type] Enhancement, Meta

#7029 Blockbase Children: remove conflicting `core/navigation-link` styles
  geologist/theme.json
  quadrat/theme.json
  videomaker/theme.json
  zoologist/theme.json
Labels: [Status] Needs Testing

#7036 Paimio: Add credits for image used in screenshot
  paimio/readme.txt
Labels: [Theme] Paimio

#7035 Iotix: fix post content alignment
  iotix/templates/page.html
  iotix/templates/single.html
Labels: [Theme] Iotix

#6956 DotCom Automation: create GlotPress project when a theme is deployed
  package-lock.json
  package.json
  theme-utils.mjs
Labels: Tools

#7043 Iotix: add missing meta
  iotix/style.css
Labels: [Theme] Iotix
