Repository Automattic/themes, pull requests merged in 2023-05, with the labels that each got.

#7044 Add hey and storia to dotorg list
  deploy-dotorg.sh
Labels: [Theme] Hey, [Theme] Storia

#7033 Tweak some block styles
  course/theme.json
Labels: [Theme] Course

#7031 Course: Skip the learning mode style when sensei is not available
  course/functions.php
  course/learning-mode.css
Labels: [Theme] Course

#7049 Add Poema
  poema/assets/fonts/crimson-text_italic_400.ttf
  poema/assets/fonts/crimson-text_italic_600.ttf
  poema/assets/fonts/crimson-text_italic_700.ttf
  poema/assets/fonts/crimson-text_normal_400.ttf
  poema/assets/fonts/crimson-text_normal_600.ttf
  poema/assets/fonts/crimson-text_normal_700.ttf
  poema/assets/images/poema.jpg
  poema/functions.php
  poema/parts/footer.html
  poema/parts/header.html
  poema/parts/post-meta.html
  poema/patterns/comments.php
  poema/patterns/footer.php
  poema/patterns/hidden-no-results-content.php
  poema/patterns/no-results.php
  poema/patterns/post-meta.php
  poema/readme.txt
  poema/screenshot.png
  poema/style.css
  poema/templates/404.html
  poema/templates/archive.html
  poema/templates/index.html
  poema/templates/page.html
  poema/templates/search.html
  poema/templates/single.html
  poema/theme.json
Labels: [Theme] Verso, [Theme] Poema

#7056 Update the minimum required WordPress version
  course/readme.txt
  course/style.css
  course/theme.json
Labels: [Theme] Course

#7058 Block Canvas: Remove default underline for post-terms
  block-canvas/theme.json
Labels: [Theme] Block Canvas

#7047 Course Theme: Update typography of gold variation for learning mode
  course/learning-mode.css
  course/styles/gold.json
  course/theme.json
Labels: [Theme] Course

#7059 Update Node version in .nvmrc & update deps
  .nvmrc
  alves/package.json
  balasana/package.json
  barnsbury/package.json
  blockbase/package.json
  brompton/package.json
  calm-business/package.json
  coutoire/package.json
  dalston/package.json
  elegant-business/package.json
  exford/package.json
  friendly-business/package.json
  geologist/package.json
  hever/package.json
  leven/package.json
  mayland-blocks/package.json
  mayland/package.json
  maywood/package.json
  modern-business/package.json
  morden/package.json
  package-lock.json
  package.json
  professional-business/package.json
  quadrat/package.json
  redhill/package.json
  rivington/package.json
  rockfield/package.json
  russell/package.json
  seedlet-blocks/package.json
  seedlet/package.json
  shawburn/package.json
  skatepark/package.json
  sophisticated-business/package.json
  spearhead/package.json
  stow/package.json
  stratford/package.json
  varia/package.json
  zoologist/package.json
Labels: Tools

#7046 Update the blue variation typography
  course/styles/blue.json
Labels: [Theme] Course

#7065 Update the dark variation typography
  course/styles/dark.json
Labels: [Theme] Course

#7083 Course Theme: Fix heading h1 font size for default variation
  course/theme.json
Labels: [Theme] Course

#7082 Update course theme variation button spacing
  course/style.css
  course/styles/blue.json
  course/styles/dark.json
  course/styles/gold.json
Labels: [Theme] Course

#7090 Verso: set as inactive
  verso/style.css
Labels: [Theme] Verso

#7097 Iotix: Replace startup-hero, woman-developers, column_2_image with smaller webp versions
  iotix/assets/images/32721-column_2_image-1.jpg
  iotix/assets/images/32721-column_2_image-1.webp
  iotix/assets/images/92de6-startup-hero-03.jpg
  iotix/assets/images/92de6-startup-hero-03.webp
  iotix/assets/images/a39e1-woman-developers-fvwlqxwz1p.webp
  iotix/patterns/startup.php
Labels: [Theme] Iotix

#7096 Iotix: make hero image much smaller
  iotix/assets/images/Hero-Image.png
Labels: [Theme] Iotix

#7094 Lettre: Add title to page template
  lettre/templates/page.html
Labels: [Theme] Lettre

#7116 Revert body class in the Course theme
  course/functions.php
Labels: [Theme] Course

#7113 Update size of lesson progress meta and Exit Course link in Learning Mode default template
  course/theme.json
Labels: [Theme] Course
