Repository Automattic/themes, pull requests merged in 2023-01, with the labels that each got.

#6792 Add Lettre
  lettre/assets/fonts/Inter-Bold.woff2
  lettre/assets/fonts/Inter-BoldItalic.woff2
  lettre/assets/fonts/Inter-Italic.woff2
  lettre/assets/fonts/Inter-Regular.woff2
  lettre/assets/fonts/Newsreader16pt-ExtraBold.woff2
  lettre/assets/fonts/Newsreader16pt-ExtraBoldItalic.woff2
  lettre/assets/fonts/Newsreader16pt-ExtraLight.woff2
  lettre/assets/fonts/Newsreader16pt-ExtraLightItalic.woff2
  lettre/assets/images/blue-square.png
  lettre/assets/images/book.jpg
  lettre/assets/images/car.mp4
  lettre/assets/images/envelope.jpg
  lettre/assets/images/envelopes.jpg
  lettre/assets/images/flowers-vase.jpg
  lettre/assets/images/gray-square.png
  lettre/functions.php
  lettre/parts/footer.html
  lettre/parts/header-archive.html
  lettre/parts/header.html
  lettre/patterns/about-multiple.php
  lettre/patterns/about-single.php
  lettre/patterns/categories.php
  lettre/patterns/hidden-404.php
  lettre/patterns/hidden-footer.php
  lettre/patterns/hidden-subscription-form.php
  lettre/patterns/newsletter-bold.php
  lettre/patterns/newsletter-columns.php
  lettre/patterns/newsletter-fixed-cover.php
  lettre/patterns/newsletter-in-post.php
  lettre/patterns/newsletter-intro-dark-background.php
  lettre/patterns/newsletter-intro-light-background.php
  lettre/patterns/newsletter-intro.php
  lettre/patterns/newsletter-large.php
  lettre/patterns/newsletter-media-text.php
  lettre/patterns/newsletter-site-logos.php
  lettre/patterns/newsletter-video.php
  lettre/patterns/query-posts.php
  lettre/patterns/query-related-post.php
  lettre/patterns/query-sidebar.php
  lettre/patterns/tags.php
  lettre/readme.txt
  lettre/screenshot.png
  lettre/style.css
  lettre/templates/404.html
  lettre/templates/archive.html
  lettre/templates/home.html
  lettre/templates/index.html
  lettre/templates/page.html
  lettre/templates/single.html
  lettre/theme.json
Labels: [Theme] Lettre

#6759 Blockbase + children: remove __unstableLocation
  antonia/parts/header.html
  appleton/parts/header.html
  blockbase/inc/patterns/footer-columns.php
  blockbase/inc/patterns/footer-left.php
  blockbase/inc/patterns/footer-primary.php
  blockbase/inc/social-navigation.php
  blockbase/parts/header-centered.html
  blockbase/parts/header-default.html
  blockbase/parts/header-linear.html
  blockbase/parts/header-minimal.html
  blockbase/parts/header-rounded-logo.html
  blockbase/parts/header-wide.html
  geologist/inc/patterns/header-with-rounded-site-logo.php
  heiwa/parts/header.html
  meraki/parts/header-minimal.html
  videomaker/inc/patterns/footer.php
  videomaker/inc/patterns/full-width-homepage.php
  videomaker/inc/patterns/header-description-and-grid-of-projects.php
Labels: [Theme] Blockbase, [Theme] Meraki, [Theme] Heiwa, [Theme] Appleton, [Theme] Antonia

#6800 Vetro: update alignment and use columns to collapse better on mobile
  vetro/patterns/about.php
  vetro/patterns/hidden-404.php
  vetro/templates/archive.html
  vetro/templates/page.html
  vetro/templates/search.html
  vetro/templates/single.html
Labels: [Theme] Vetro

#6816 Block Canvas: Try removing font-smoothing CSS
  block-canvas/style.css
Labels: [Theme] Block Canvas

#6830 Lettre: Add to dotorg deploy list
  deploy-dotorg.sh
Labels: [Theme] Lettre

#6796 Blockbase theme: Fix missing --wp prefix for css var --custom--form--color--border
  blockbase/assets/ponyfill.css
  blockbase/sass/elements/_forms.scss
Labels: OSS Citizen

#6814 Upsidedown: Tweaks for initial release
  upsidedown/patterns/header.php
  upsidedown/readme.txt
  upsidedown/style.css
  upsidedown/styles/noir.json
  upsidedown/templates/archive.html
  upsidedown/templates/index.html
  upsidedown/templates/search.html
  upsidedown/theme.json
Labels: [Theme] Upsidedown

#6842 Add Upsidedown to dotorg deploy list
  deploy-dotorg.sh
Labels: [Theme] Upsidedown

#6839 Bibimbap: minor tweaks for the release
  bibimbap/readme.txt
  bibimbap/style.css
  bibimbap/theme.json
Labels: [Theme] Bibimbap

#6841 Upsidedown: Add license for Roboto
  upsidedown/readme.txt
Labels: [Theme] Upsidedown
