Repository Automattic/themes, pull requests merged in 2023-03, with the labels that each got.

#6890 Bibimbap: fix navigation submenu background
  bibimbap/parts/header.html
  bibimbap/patterns/hero-header.php
Labels: [Theme] Bibimbap

#6871 Adventurer: Updates ready for dotorg
  adventurer/assets/images/adventurer_about.jpg
  adventurer/assets/images/adventurer_about.png
  adventurer/assets/images/adventurer_boat.png
  adventurer/assets/images/adventurer_camel.png
  adventurer/assets/images/adventurer_canada.png
  adventurer/assets/images/adventurer_coconuts.jpg
  adventurer/assets/images/adventurer_coconuts.png
  adventurer/assets/images/adventurer_desert.png
  adventurer/assets/images/adventurer_italy.png
  adventurer/assets/images/adventurer_laos.png
  adventurer/assets/images/adventurer_monastery.png
  adventurer/assets/images/adventurer_mosque.png
  adventurer/assets/images/adventurer_penguin.png
  adventurer/patterns/about.php
  adventurer/patterns/header-with-cover.php
  adventurer/readme.txt
  adventurer/screenshot.png
  adventurer/style.css
Labels: [Theme] Adventurer

#6876 Bibimbap: address dotOrg review feedback
  bibimbap/readme.txt
  bibimbap/screenshot.png
  bibimbap/style.css
  deploy-dotorg.sh
Labels: [Theme] Bibimbap

#6926 Vetro: various adjustments
  vetro/patterns/designed-with-wordpress.php
  vetro/patterns/small-about.php
  vetro/screenshot.png
  vetro/styles/eggplantlemon.json
  vetro/templates/single.html
  vetro/theme.json
Labels: [Theme] Vetro

#6943 Iotix: fix link and text styles
  iotix/style.css
  iotix/theme.json
Labels: [Theme] Iotix

#6942 Vetro: fix search and 404 results
  vetro/assets/fonts/SourceSerif4Variable-Italic.otf.woff2
  vetro/assets/fonts/SourceSerif4Variable-Italic.ttf.woff2
  vetro/assets/fonts/SourceSerif4Variable-Roman.otf.woff2
  vetro/assets/fonts/SourceSerif4Variable-Roman.ttf.woff2
  vetro/patterns/hidden-404.php
  vetro/patterns/hidden-no-results-content.php
  vetro/styles/coolorchids.json
  vetro/styles/eggplantlemon.json
  vetro/styles/neutral.json
  vetro/templates/search.html
  vetro/theme.json
Labels: [Theme] Vetro

#6930 Paimio: fix dotCom issues
  paimio/theme.json
Labels: [Theme] Paimio
