Repository Automattic/themes, pull requests merged in 2023-02, with the labels that each got.

#6845 Remove top and bottom global paddings from blank-canvas-3 theme.json
  blank-canvas-3/theme.json
Labels: Lego Maintenance

#6846 Bitacora: Initial commit
  bitacora/assets/fonts/alegreya-sans_300.ttf
  bitacora/assets/fonts/alegreya-sans_300italic.ttf
  bitacora/assets/fonts/alegreya-sans_500.ttf
  bitacora/assets/fonts/alegreya-sans_500italic.ttf
  bitacora/assets/fonts/alegreya-sans_700.ttf
  bitacora/assets/fonts/alegreya-sans_700italic.ttf
  bitacora/assets/fonts/alegreya-sans_800.ttf
  bitacora/assets/fonts/alegreya-sans_800italic.ttf
  bitacora/assets/fonts/alegreya-sans_900.ttf
  bitacora/assets/fonts/alegreya-sans_900italic.ttf
  bitacora/assets/fonts/alegreya-sans_italic.ttf
  bitacora/assets/fonts/alegreya-sans_regular.ttf
  bitacora/assets/fonts/alegreya_500.ttf
  bitacora/assets/fonts/alegreya_500italic.ttf
  bitacora/assets/fonts/alegreya_600.ttf
  bitacora/assets/fonts/alegreya_600italic.ttf
  bitacora/assets/fonts/alegreya_700.ttf
  bitacora/assets/fonts/alegreya_700italic.ttf
  bitacora/assets/fonts/alegreya_800.ttf
  bitacora/assets/fonts/alegreya_800italic.ttf
  bitacora/assets/fonts/alegreya_900.ttf
  bitacora/assets/fonts/alegreya_900italic.ttf
  bitacora/assets/fonts/alegreya_italic.ttf
  bitacora/assets/fonts/alegreya_regular.ttf
  bitacora/assets/fonts/nimbus-sans_italic_400.woff
  bitacora/assets/fonts/nimbus-sans_italic_700.woff
  bitacora/assets/fonts/nimbus-sans_normal_400.woff
  bitacora/assets/fonts/nimbus-sans_normal_700.woff
  bitacora/functions.php
  bitacora/parts/comments.html
  bitacora/parts/footer.html
  bitacora/parts/header.html
  bitacora/parts/sidebar.html
  bitacora/patterns/footer.php
  bitacora/patterns/header.php
  bitacora/patterns/hidden-404.php
  bitacora/patterns/hidden-comments.php
  bitacora/patterns/post-list.php
  bitacora/patterns/sidebar.php
  bitacora/readme.txt
  bitacora/screenshot.png
  bitacora/style.css
  bitacora/styles/antigua.json
  bitacora/styles/lemonade.json
  bitacora/styles/orka-black.json
  bitacora/styles/white.json
  bitacora/templates/404.html
  bitacora/templates/archive.html
  bitacora/templates/index.html
  bitacora/templates/page.html
  bitacora/templates/search.html
  bitacora/templates/single.html
  bitacora/theme.json
Labels: [Theme] Bitacora

#6822 Vetro: minor design and final adjustments
  vetro/parts/footer.html
  vetro/parts/header.html
  vetro/patterns/about.php
  vetro/patterns/hidden-404.php
  vetro/screenshot.png
  vetro/styles/coolorchids.json
  vetro/styles/eggplantlemon.json
  vetro/styles/neutral.json
  vetro/templates/archive.html
  vetro/templates/index.html
  vetro/templates/page.html
  vetro/templates/search.html
  vetro/templates/single.html
  vetro/theme.json
Labels: [Theme] Vetro

#6849 Bitacora: Fix warnings from theme-check
  bitacora/patterns/footer.php
  bitacora/patterns/hidden-404.php
  bitacora/patterns/sidebar.php
Labels: [Theme] Bitacora

#6852 Bitacora: Update theme tags in style.css
  bitacora/style.css
Labels: [Theme] Bitacora

#6848 Vetro: more design adjustments and fixes
  vetro/patterns/about.php
  vetro/style.css
  vetro/styles/neutral.json
  vetro/templates/single.html
  vetro/theme.json
Labels: [Theme] Vetro

#6831 Fix/allow jetpack to register fonts (take 2)
  blockbase/inc/fonts/custom-fonts.php
Labels: [Theme] Blockbase

#6882 Bibimbap: Add home template and remove custom template
  bibimbap/patterns/contact.php
  bibimbap/patterns/cover.php
  bibimbap/patterns/menu.php
  bibimbap/templates/home.html
  bibimbap/templates/wp-custom-template-home.html
Labels: [Theme] Bibimbap
