Repository Automattic/themes, pull requests merged in 2023-07, with the labels that each got.

#7189 Trellick: Fix post content width
  trellick/readme.txt
  trellick/style.css
  trellick/templates/page.html
  trellick/templates/single.html
Labels: [Type] Enhancement, [Theme] Trellick

#7165 Bugfix: replaced bitacora with tu where needed.
  bitacora/functions.php
Labels: OSS Citizen

#7198 Ueno: update assets and their license
  ueno/assets/images/ueno_1.jpg
  ueno/assets/images/ueno_1.png
  ueno/assets/images/ueno_2.jpg
  ueno/assets/images/ueno_2.png
  ueno/readme.txt
  ueno/screenshot.jpg
  ueno/screenshot.png
Labels: [Theme] Ueno

#7173 Luminance: Add theme
  luminance/assets/fonts/instrument-sans_italic_400.ttf
  luminance/assets/fonts/instrument-sans_italic_500.ttf
  luminance/assets/fonts/instrument-sans_italic_600.ttf
  luminance/assets/fonts/instrument-sans_italic_700.ttf
  luminance/assets/fonts/instrument-sans_normal_400.ttf
  luminance/assets/fonts/instrument-sans_normal_500.ttf
  luminance/assets/fonts/instrument-sans_normal_600.ttf
  luminance/assets/fonts/instrument-sans_normal_700.ttf
  luminance/assets/fonts/instrument-serif_italic_400.ttf
  luminance/assets/fonts/instrument-serif_normal_400.ttf
  luminance/functions.php
  luminance/parts/comments.html
  luminance/parts/footer.html
  luminance/parts/header.html
  luminance/parts/post-meta.html
  luminance/patterns/404.php
  luminance/patterns/footer.php
  luminance/patterns/header.php
  luminance/patterns/no-results-content.php
  luminance/patterns/search.php
  luminance/readme.txt
  luminance/screenshot.png
  luminance/style.css
  luminance/styles/charcoal.json
  luminance/templates/404.html
  luminance/templates/archive.html
  luminance/templates/index.html
  luminance/templates/search.html
  luminance/templates/singular.html
  luminance/theme.json
Labels: [Theme] Luminance

#7180 Mpho: add theme
  mpho/functions.php
  mpho/parts/footer.html
  mpho/parts/header.html
  mpho/parts/post-meta.html
  mpho/patterns/404.php
  mpho/patterns/comments.php
  mpho/patterns/footer.php
  mpho/patterns/hidden-no-results-content.php
  mpho/patterns/no-results.php
  mpho/patterns/post-meta.php
  mpho/patterns/search.php
  mpho/readme.txt
  mpho/screenshot.png
  mpho/style.css
  mpho/templates/404.html
  mpho/templates/archive.html
  mpho/templates/index.html
  mpho/templates/page.html
  mpho/templates/single.html
  mpho/theme.json
Labels: [Theme] Mpho

#7234 Ueno: make sure git version is in-sync
  ueno/readme.txt
  ueno/style.css
Labels: [Type] Bug

#7221 Replace `experimental-link-color` theme supports with `link-color`
  blockbase/functions.php
  hever/functions.php
  morden/functions.php
  rockfield/functions.php
  seedlet/functions.php
  shawburn/functions.php
  stow/functions.php
  stratford/functions.php
Labels: Do NOT merge!

#7266 Lativ: Remove Rubik from heading definition
  lativ/theme.json
Labels: [Theme] Lativ

#7267 Block Canvas: Remove Rubik font from heading definition
  block-canvas/theme.json
Labels: [Theme] Block Canvas

#7277 Add navigation block markup provided by CBT
  iotix/parts/header.html
Labels: [Type] Bug

#7284 Rainfall & Adventurer: Update sidebar tag to `aside`
  adventurer/patterns/sidebar.php
  rainfall/patterns/sidebar.php
Labels: [Theme] Rainfall, [Theme] Adventurer
