Repository Automattic/themes, pull requests merged in 2024-07, with the labels that each got.

#7925 Hybrid themes using normalize.css - Remove unused code for IE10 because conflicts with the image border added via editor
  alves/style-rtl.css
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/style-rtl.css
  brompton/style.css
  calm-business/sass/_normalize.scss
  calm-business/style-rtl.css
  calm-business/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/style-rtl.css
  dalston/style.css
  elegant-business/sass/_normalize.scss
  elegant-business/style-rtl.css
  elegant-business/style.css
  exford/style-rtl.css
  exford/style.css
  friendly-business/sass/_normalize.scss
  friendly-business/style-rtl.css
  friendly-business/style.css
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-rtl.css
  maywood/style.css
  modern-business/sass/_normalize.scss
  modern-business/style-rtl.css
  modern-business/style.css
  morden/style-rtl.css
  morden/style.css
  photos/style.css
  professional-business/sass/_normalize.scss
  professional-business/style-rtl.css
  professional-business/style.css
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/style-rtl.css
  rockfield/style.css
  seedlet/assets/sass/base/_normalize.scss
  shawburn/style-rtl.css
  shawburn/style.css
  sophisticated-business/sass/_normalize.scss
  sophisticated-business/style-rtl.css
  sophisticated-business/style.css
  stow/style-rtl.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
Labels: Lego Maintenance

#7940 Seedlet: Fix a fatal error in Gutenberg
  seedlet/inc/wpcom-editor-colors.php
Labels: [Theme] Seedlet

#7980 Canard: Fix display of dotted separator
  canard/blocks.css
  canard/editor-blocks.css
Labels: [Theme] Canard
