Repository Automattic/themes, pull requests merged in 2025-01, with the labels that each got.

#8516 Independent Publister 2: Add spacing between button blocks
  independent-publisher-2/css/blocks.css
Labels: [Theme] Independent Publisher 2, Themes

#8567 Independent Publisher 2: Add fixed styles to buttons in the block editor
  independent-publisher-2/css/editor-blocks.css
Labels: [Type] Bug

#8560 LeanCV: Fix block validation error on front page
  leancv/patterns/profile-pic.php
Labels: [Type] Bug

#8570 Varia: Fix Postcss Focus Within settings
  alves/postcss.config.js
  alves/style-rtl.css
  balasana/postcss.config.js
  barnsbury/postcss.config.js
  brompton/postcss.config.js
  coutoire/postcss.config.js
  dalston/postcss.config.js
  exford/postcss.config.js
  hever/postcss.config.js
  leven/postcss.config.js
  mayland/postcss.config.js
  maywood/postcss.config.js
  morden/postcss.config.js
  redhill/postcss.config.js
  rivington/postcss.config.js
  rockfield/postcss.config.js
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/postcss.config.js
  stow/postcss.config.js
  stratford/postcss.config.js
Labels: [Theme] Varia

#8551 Rainfall: Add paddings and other visual theme improvements
  rainfall/assets/images/home.jpg
  rainfall/assets/images/rainfall-background.jpg
  rainfall/assets/images/rainfall-foreground.jpg
  rainfall/assets/images/testimonial-1.png
  rainfall/assets/images/testimonial-2.png
  rainfall/assets/images/testimonial-3.png
  rainfall/assets/images/testimonial-4.png
  rainfall/assets/images/testimonial-5.png
  rainfall/parts/footer.html
  rainfall/parts/header.html
  rainfall/parts/query.html
  rainfall/parts/sidebar.html
  rainfall/patterns/404.php
  rainfall/patterns/big-header.php
  rainfall/patterns/index.php
  rainfall/patterns/latest-posts.php
  rainfall/patterns/media-text.php
  rainfall/patterns/sidebar.php
  rainfall/patterns/testimonials.php
  rainfall/style.css
  rainfall/templates/404.html
  rainfall/templates/archive.html
  rainfall/templates/index.html
  rainfall/templates/page-header-black.html
  rainfall/templates/page-no-sidebar.html
  rainfall/templates/page.html
  rainfall/templates/search.html
  rainfall/templates/single.html
  rainfall/theme.json
Labels: [Type] Bug, [Theme] Rainfall

#8569 Varia: Fix nested bullets in menus
  alves/style-editor.css
  alves/style-rtl.css
  alves/style.css
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/style-rtl.css
  dalston/style.css
  exford/style-editor.css
  exford/style-rtl.css
  exford/style.css
  hever/style-editor.css
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-editor.css
  maywood/style-rtl.css
  maywood/style.css
  morden/style-editor.css
  morden/style-rtl.css
  morden/style.css
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/style-editor.css
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
  varia/postcss.config.js
  varia/sass/components/header/_site-main-navigation.scss
  varia/sass/elements/_imports.scss
  varia/style-editor.css
  varia/style-rtl.css
  varia/style.css
Labels: [Theme] Varia

#8581 Stewart: Remove Query block from the page template
  stewart/templates/page.html
Labels: [Type] Bug, [Theme] Stewart

#8588 Varia: Fix Jetpack subscription button
  alves/style-rtl.css
  alves/style.css
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/style-rtl.css
  dalston/style.css
  exford/style-rtl.css
  exford/style.css
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-rtl.css
  maywood/style.css
  morden/style-rtl.css
  morden/style.css
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/blocks/subscription/style.scss
  varia/style-rtl.css
  varia/style.css
Labels: [Theme] Varia

#8585 Varia: Strengthen button CSS
  alves/style-rtl.css
  alves/style.css
  balasana/style-rtl.css
  balasana/style.css
  barnsbury/style-rtl.css
  barnsbury/style.css
  brompton/style-rtl.css
  brompton/style.css
  coutoire/style-rtl.css
  coutoire/style.css
  dalston/style-rtl.css
  dalston/style.css
  exford/style-rtl.css
  exford/style.css
  hever/style-rtl.css
  hever/style.css
  leven/style-rtl.css
  leven/style.css
  mayland/style-rtl.css
  mayland/style.css
  maywood/style-rtl.css
  maywood/style.css
  morden/style-rtl.css
  morden/style.css
  redhill/style-rtl.css
  redhill/style.css
  rivington/style-rtl.css
  rivington/style.css
  rockfield/style-rtl.css
  rockfield/style.css
  shawburn/style-rtl.css
  shawburn/style.css
  stow/style.css
  stratford/style-rtl.css
  stratford/style.css
  varia/sass/blocks/button/_style.scss
  varia/style-rtl.css
  varia/style.css
Labels: [Theme] Varia

#8592 Stow: Fix the build
  stow/sass/style-child-theme-editor.scss
  stow/style-editor.css
  stow/style-rtl.css
Labels: [Theme] Stow

#8550 Assembler: fix woo commerce input range
  assembler/style.css
Labels: [Type] Bug, [Theme] Assembler

#8593 Varia: add missing SVG icons
  varia/classes/class-varia-svg-icons.php
Labels: [Theme] Varia

#8594 Dara: add margin in block editor
  dara/style.css
Labels: [Type] Bug, [Theme] Dara

#8595 Zoologist: Correct color classes for foreground and secondary
  zoologist/theme.json
Labels: [Theme] Zoologist

#8615 Marl: Correct primary and secondary color classes
  marl/theme.json
Labels: [Theme] Marl

#8616 Geologist: Fix color classes
  geologist/theme.json
Labels: [Theme] Geologist

#8598 Toujours: Fix margin top-bottom on frontend
  toujours/style.css
Labels: [Type] Bug, [Theme] Toujours

#8600 Scratchpad: Fix margin top-bottom on frontend
  scratchpad/style.css
Labels: [Type] Bug, [Theme] Scratchpad

#8601 Penscratch 2: Fix margin top-bottom on frontend
  penscratch-2/style.css
Labels: [Type] Bug, [Theme] Penscratch 2

#8607 Independent Publisher 2: Fix margin top-bottom on frontend
  independent-publisher-2/style.css
Labels: [Type] Bug

#8617 Quadrat: fix color classes
  quadrat/theme.json
Labels: [Theme] Quadrat

#8618 Skatepark: fix color classes
  skatepark/theme.json
Labels: [Theme] Skatepark

#8619 Hari: fix color classes
  hari/theme.json
Labels: [Theme] Hari

#8610 Dyad 2: Fix margin top-bottom on frontend
  dyad-2/style.css
Labels: [Type] Bug

#8609 Intergalactic 2: Fix margin top-bottom on frontend
  intergalactic-2/style.css
Labels: [Type] Bug, [Theme] Intergalactic 2

#8608 Illustratr: Fix margin top-bottom on frontend
  illustratr/style.css
Labels: [Type] Bug, [Theme] Illustratr

#8633 Geologist and Zoologist: Revert color classes changes.
  geologist/theme.json
  zoologist/theme.json
Labels: [Theme] Geologist, [Theme] Zoologist

#8606 Timestream: add theme
  timestream/assets/fonts/bdo-grotesk/bdo-grotesk-600-normal.otf
  timestream/assets/fonts/bdo-grotesk/bdo-grotesk-700-normal.otf
  timestream/assets/fonts/besley-narrow/besley-narrow-400-italic.ttf
  timestream/assets/fonts/besley-narrow/besley-narrow-400-normal.ttf
  timestream/assets/fonts/besley-narrow/besley-narrow-600-italic.ttf
  timestream/assets/fonts/besley-narrow/besley-narrow-600-normal.ttf
  timestream/assets/fonts/besley-narrow/besley-narrow-700-italic.ttf
  timestream/assets/fonts/besley-narrow/besley-narrow-700-normal.ttf
  timestream/assets/fonts/crimson-pro/crimson-pro-400-normal.woff2
  timestream/assets/fonts/crimson-pro/crimson-pro-700-italic.woff2
  timestream/assets/fonts/crimson-pro/crimson-pro-700-normal.woff2
  timestream/assets/fonts/crimson-pro/crimson-pro_400-italic.woff2
  timestream/assets/fonts/faculty-glyphic/faculty-glyphic-400-normal.ttf
  timestream/assets/fonts/funnel-sans/funnel-sans-vf-italic.ttf
  timestream/assets/fonts/funnel-sans/funnel-sans-vf.ttf
  timestream/assets/fonts/guggenheim-sans-display/guggenheim-sans-display-400-italic.woff2
  timestream/assets/fonts/guggenheim-sans-display/guggenheim-sans-display-400-normal.woff2
  timestream/assets/fonts/guggenheim-sans-display/guggenheim-sans-display-600-italic.woff2
  timestream/assets/fonts/guggenheim-sans-display/guggenheim-sans-display-600-normal.woff2
  timestream/assets/fonts/guggenheim-sans-display/guggenheim-sans-display-700-italic.woff2
  timestream/assets/fonts/guggenheim-sans-display/guggenheim-sans-display-700-normal.woff2
  timestream/assets/fonts/neutral-sans/neutral-sans-vf.woff2
  timestream/assets/fonts/texturina/texturina-400-italic.woff2
  timestream/assets/fonts/texturina/texturina-400-normal.woff2
  timestream/assets/fonts/texturina/texturina-700-italic.woff2
  timestream/assets/fonts/texturina/texturina-700-normal.woff2
  timestream/assets/images/rawpixel-id-556658.png
  timestream/functions.php
  timestream/parts/footer.html
  timestream/parts/header.html
  timestream/patterns/404.php
  timestream/patterns/archive.php
  timestream/patterns/home.php
  timestream/patterns/index.php
  timestream/patterns/search.php
  timestream/patterns/single.php
  timestream/readme.txt
  timestream/screenshot.png
  timestream/style.css
  timestream/styles/antiquedom.json
  timestream/styles/guggenheim.json
  timestream/styles/noirish.json
  timestream/styles/rising-green.json
  timestream/styles/schweiz-rot.json
  timestream/templates/404.html
  timestream/templates/archive.html
  timestream/templates/home.html
  timestream/templates/index.html
  timestream/templates/page.html
  timestream/templates/search.html
  timestream/templates/single.html
  timestream/theme.json
Labels: Waiting Review

#8644 Rivington and Exford: Revert change which caused warnings
  exford/functions.php
  rivington/functions.php
Labels: [Theme] Rivington

#8637 Lexionic: add theme
  lexionic/assets/fonts/akt/akt-normal-300.woff2
  lexionic/assets/fonts/akt/akt-normal-400.woff2
  lexionic/assets/fonts/akt/akt-normal-500.woff2
  lexionic/assets/fonts/akt/akt-normal-700.woff2
  lexionic/assets/fonts/faculty-glyphic/faculty-glyphic-400-normal.otf
  lexionic/assets/fonts/frick-cond/frick-cond-600-normal.otf
  lexionic/assets/fonts/neutral-sans/neutral-sans-variable.woff2
  lexionic/assets/fonts/playfair/playfair-9-400-italic.ttf
  lexionic/assets/fonts/playfair/playfair-9-400-normal.ttf
  lexionic/assets/fonts/playfair/playfair-9-700-italic.ttf
  lexionic/assets/fonts/playfair/playfair-9-700-normal.ttf
  lexionic/assets/fonts/rena/rena-400-normal.ttf
  lexionic/assets/fonts/x-cicero-bocalupo/bocalupo-600-normal.woff2
  lexionic/assets/fonts/x-cicero-bonbance/bonbance-600-normal.woff2
  lexionic/assets/images/book-cover_shadows.png
  lexionic/assets/images/cover_book-artwork.png
  lexionic/assets/images/homer-rawpixel-id-8908534.jpg
  lexionic/assets/images/waterhouse-ulises-y-las-sirenas.jpg
  lexionic/functions.php
  lexionic/parts/book-cover-artwork.html
  lexionic/parts/comments.html
  lexionic/parts/footer.html
  lexionic/parts/header.html
  lexionic/patterns/404.php
  lexionic/patterns/archive.php
  lexionic/patterns/book-cover-artwork.php
  lexionic/patterns/footer.php
  lexionic/patterns/header.php
  lexionic/patterns/home.php
  lexionic/patterns/index.php
  lexionic/patterns/search.php
  lexionic/readme.txt
  lexionic/screenshot.png
  lexionic/style.css
  lexionic/styles/arabian-nights.json
  lexionic/styles/don-quijote.json
  lexionic/styles/master-and-margarita.json
  lexionic/styles/the-comedy.json
  lexionic/styles/years-of-solitude.json
  lexionic/templates/404.html
  lexionic/templates/archive.html
  lexionic/templates/home.html
  lexionic/templates/index.html
  lexionic/templates/page.html
  lexionic/templates/search.html
  lexionic/templates/single.html
  lexionic/theme.json
Labels: Under Review
